<%- alchemy_combined_assets -%>
<%- content_for(:toolbar) do -%>
<div id="toolbar">
	<div id="toolbar_buttons">
		<div class="button_with_label">
			<%- permitted_to?(:new, :admin_languages) do -%>
			<%= link_to_overlay_window(
				render_icon('create'),
				new_admin_language_path,
				{
					:title => _('create_language'),
					:size => "400x180",
					:overflow => true
				}, {
					:class => 'icon_button',
					:title => _('create_language')
				}
			) -%><br />
			<label><%= _('create_language') %></label>
			<%- end -%>
		</div>
	</div>
	<%= render :partial => 'admin/partials/search_form' %>
</div>
<%- end -%>
<div id="archive_all">
	<table class="list" id="language_list">
		<%- unless @languages.blank? -%>
		<tr>
			<th class="name"><%= Language.human_attribute_name("name") %></th>
			<th class="code"><%= Language.human_attribute_name("code") %></th>
			<th class="name"><%= Language.human_attribute_name("frontpage_name") %></th>
			<th class="name"><%= Language.human_attribute_name("page_layout") %></th>
			<th class="public"><%= Language.human_attribute_name("public") %></th>
			<th class="public"><%= Language.human_attribute_name("default") %></th>
			<th class="tools"></th>
		</tr>
		<%- end -%>
		<%= render @languages %>
	</table>
</div>
