<% dialog_link = link_to_dialog render_icon(:file, style: 'regular'),
  alchemy.admin_attachments_path(
    content_id: content.id,
    only: content.settings_value(:only, local_assigns.fetch(:options, {})),
    except: content.settings_value(:except, local_assigns.fetch(:options, {})),
    options: local_assigns.fetch(:options, {})
  ),
  {
    title: Alchemy.t(:assign_file),
    size: '780x585',
    padding: false
  },
  class: 'file_icon',
  title: Alchemy.t(:assign_file) %>

<div class="content_editor essence_file" id="<%= content.dom_id %>" data-content-id="<%= content.id %>">
  <%= content_label(content) %>
  <div class="file" id="file_<%= content.id %>">
    <% if content.ingredient %>
      <div class="file_icon">
        <%= render_icon(content.ingredient.icon_css_class) %>
      </div>
    <% else %>
      <%= dialog_link %>
    <% end %>
    <div class="file_name">
      <%= content.ingredient.try(:name) ||
        ("&#x2190;" + Alchemy.t(:assign_file_from_archive)).html_safe %>
    </div>
    <div class="essence_file_tools">
      <%= dialog_link %>
      <%= link_to_dialog render_icon(:edit),
        alchemy.edit_admin_essence_file_path(
          id: content.essence.id,
          options: local_assigns.fetch(:options, {})
        ),
        {
          title: Alchemy.t(:edit_file_properties),
          size: '400x215'
        },
        title: Alchemy.t(:edit_file_properties) %>
    </div>
    <%= hidden_field_tag content.form_field_name(:attachment_id),
      content.ingredient && content.ingredient.id %>
  </div>
</div>
