<% options = local_assigns.fetch(:options, {}) %>

<%= content_tag :div,
  id: essence_picture_editor.dom_id,
  class: essence_picture_editor.css_classes,
  data: essence_picture_editor.data_attributes do %>
  <%= content_label(essence_picture_editor) %>
  <%= content_tag :div,
    data: {
      target_size: essence_picture_editor.essence.content.settings[:size] || [
        essence_picture_editor.essence.image_file_width.to_i,
        essence_picture_editor.essence.image_file_height.to_i
      ].join("x"),
      image_cropper: essence_picture_editor.essence.thumbnail_url_options[:crop],
    },
    class: "picture_thumbnail" do %>
    <a class="picture_tool delete">
      <%= render_icon(:times) %>
    </a>
    <div class="picture_image">
      <div class="thumbnail_background">
        <%- if essence_picture_editor.ingredient -%>
          <%= essence_picture_thumbnail(essence_picture_editor) %>
        <% else %>
          <%= render_icon(:image, style: 'regular') %>
        <% end %>
      </div>
    </div>
    <%- if essence_picture_editor.essence.css_class.present? -%>
      <div class="essence_picture_css_class">
        <%= Alchemy.t("alchemy.essence_pictures.css_classes.#{essence_picture_editor.essence.css_class}",
          default: essence_picture_editor.essence.css_class.camelcase) %>
      </div>
    <%- end -%>
    <div class="edit_images_bottom">
      <%= render 'alchemy/essences/shared/essence_picture_tools', {
        essence_picture_editor: essence_picture_editor
      } %>
    </div>
  <% end %>
  <%= hidden_field_tag essence_picture_editor.form_field_name(:picture_id),
    essence_picture_editor.ingredient&.id, data: {
      picture_id: true,
      image_file_width: essence_picture_editor.ingredient&.image_file_width,
      image_file_height: essence_picture_editor.ingredient&.image_file_height
    } %>
  <%= hidden_field_tag essence_picture_editor.form_field_name(:link),
    essence_picture_editor.essence.link, data: { link_value: true }%>
  <%= hidden_field_tag essence_picture_editor.form_field_name(:link_title),
    essence_picture_editor.essence.link_title, data: { link_title: true } %>
  <%= hidden_field_tag essence_picture_editor.form_field_name(:link_class_name),
    essence_picture_editor.essence.link_class_name, data: { link_class: true } %>
  <%= hidden_field_tag essence_picture_editor.form_field_name(:link_target),
    essence_picture_editor.essence.link_target, data: { link_target: true } %>
  <%= hidden_field_tag essence_picture_editor.form_field_name(:crop_from),
    essence_picture_editor.essence.crop_from, data: { crop_from: true } %>
  <%= hidden_field_tag essence_picture_editor.form_field_name(:crop_size),
    essence_picture_editor.essence.crop_size, data: { crop_size: true } %>
<% end %>
