<div id="<%= content.dom_id %>" class="essence_picture_editor<%= ' dragable_picture' if options[:dragable] %><%= ' content_editor' unless options[:grouped] %>">
  <% unless options[:grouped] %>
  <label>
    <% if content.has_hint? %>
      <%= render_hint_for(content) %>
    <% end %>
    <%= render_content_name(content) %>
  </label>
  <% end %>
  <div class="picture_thumbnail">
    <span class="picture_tool delete">
      <% if options[:grouped] %>
      <%= link_to_confirm_dialog(
        "",
        _t(:confirm_to_delete_image),
        alchemy.admin_essence_picture_path(
          id: content,
          options: options
        ),
        {
          title: _t(:delete_image)
        }
      ) -%>
      <% else %>
      <%= link_to(
        '',
        '#',
        onclick: "Alchemy.removePicture('##{content.form_field_id(:picture_id)}'); return false"
      ) %>
      <% end %>
    </span>
    <%- if content.ingredient -%>
    <div class="picture_handle" title="<%= _t(:drag_to_sort) if options[:dragable] %>"></div>
    <%- end -%>
    <div class="picture_image">
      <div class="thumbnail_background<%= ' missing' if content.ingredient.nil? %>">
        <%- if content.ingredient -%>
        <%= essence_picture_thumbnail(content, options) %>
        <%= hidden_field_tag content.form_field_name(:picture_id), content.ingredient.id %>
        <% end %>
      </div>
    </div>
    <%- unless options[:css_class].blank? || content.essence.css_class.blank? -%>
    <div class="essence_picture_css_class">
      <%= _t("alchemy.essence_pictures.css_classes.#{content.essence.css_class}", default: content.essence.css_class.camelcase) %>
    </div>
    <%- end -%>
    <div class="edit_images_bottom">
      <%= render(
        partial: 'alchemy/essences/shared/essence_picture_tools',
        locals: {
          content: content,
          options: options
        }
      ) %>
    </div>
  </div>
  <%= hidden_field_tag content.form_field_name(:link), content.essence.link %>
  <%= hidden_field_tag content.form_field_name(:link_title), content.essence.link_title %>
  <%= hidden_field_tag content.form_field_name(:link_class_name), content.essence.link_class_name %>
  <%= hidden_field_tag content.form_field_name(:link_target), content.essence.link_target %>
</div>
