<% cache(content) do %>
<% options = local_assigns.fetch(:options, {}) %>
<% output = capture do %>
  <%= raw content.essence.send(options[:plain_text] ? :stripped_body : :body) %>
<% end %>
<% if @preview_mode || can?(:edit, content) %>
<div data-alchemy-content-id="<%= content.id %>" class="<%= content.essence_type.parameterize %>">
  <%= output %>
</div>
<% else %>
<%= output %>
<% end %>
<% end %>
