<%- unless content.essence.attachment.nil? -%>
<%- unless options[:player_cover_image].blank? -%>
  <%- i_height = options[:player_cover_image].image_height.to_f -%>
  <%- i_width = options[:player_cover_image].image_width.to_f -%>
  <%- ratio =  i_height / i_width -%>
  <%- width = (options[:player_cover_image_width] rescue 320) -%>
  <%- height = width * ratio -%>
<%- else -%>
  <%- width = content.essence.width.blank? ? (options[:player_size].split('x')[0] rescue 320) : content.essence.width -%>
  <%- height = content.essence.height.blank? ? (options[:player_size].split('x')[1] rescue 20) : content.essence.height -%>
<%- end -%>
<div id="alchemy_audio_player_<%= content.id %>">
  To watch this video, you need the latest <a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">Flash-Player</a> and active javascript in your browser.
</div>
<script type="text/javascript" charset="utf-8">
//<!--[CDATA[
	var alchemy_audio_player_<%= content.id %> = new SWFObject("/mediaplayer.swf", "mediaplayer", <%= width %>, <%= height %>, "8");
	alchemy_audio_player_<%= content.id %>.addVariable("width", <%= width %>);
	alchemy_audio_player_<%= content.id %>.addVariable("height", <%= height %>);
	alchemy_audio_player_<%= content.id %>.addVariable("backcolor", '<%= options[:player_backcolor] || "0xFFFFFF" %>');
	alchemy_audio_player_<%= content.id %>.addVariable("frontcolor", '<%= options[:player_frontcolor] || "0x000000" %>');
	alchemy_audio_player_<%= content.id %>.addVariable("lightcolor", '<%= options[:player_lightcolor] || "0xEDEDED" %>');
	alchemy_audio_player_<%= content.id %>.addVariable("screencolor", '<%= options[:player_screencolor] || "0x000000" %>');
	alchemy_audio_player_<%= content.id %>.addVariable("showeq", '<%= content.essence.show_eq ? "true" : "false" %>');
	alchemy_audio_player_<%= content.id %>.addVariable("shownavigation", '<%= content.essence.show_navigation ? "true" : "false" %>');
	alchemy_audio_player_<%= content.id %>.addVariable("file", '<%= content.essence.attachment.public_filename %>');
	<%- unless options[:player_cover_image].blank? -%>
	alchemy_audio_player_<%= content.id %>.addVariable("image", '<%= "/" + options[:player_cover_image].file_name %>');
  <%- end -%>
	alchemy_audio_player_<%= content.id %>.write("alchemy_audio_player_<%= content.id %>");
//]]-->
</script>
<%- end -%>
