<div class="content_editor essence_date" id="<%= content.dom_id %>" data-content-id="<%= content.id %>">
  <%= content_label(content) %>
  <%= alchemy_datepicker(
    content.essence, :date, {
      name: content.form_field_name,
      id: content.form_field_id,
      value: content.settings_value(:default_value, local_assigns.fetch(:options, {}))
    }
  ) %>
  <label for="<%= content.form_field_id %>" class="essence_date--label">
    <i class="icon far fa-calendar-alt fa-fw fa-lg"></i>
  </label>
</div>
