<%= content_tag :div, id: content.dom_id, data: {"content-id" => content.id}, class: "content_editor essence_picture" do %>
  <%= content_label(content) %>
  <div class="picture_thumbnail">
    <span class="picture_tool delete">
      <%= link_to render_icon(:times), '#',
        onclick: "return Alchemy.removePicture('##{content.form_field_id(:picture_id)}');" %>
    </span>
    <div class="picture_image">
      <div class="thumbnail_background">
        <%- if content.ingredient -%>
          <%= essence_picture_thumbnail(content, options) %>
        <% else %>
          <%= render_icon(:image, style: 'regular') %>
        <% end %>
      </div>
    </div>
    <%- if content.essence.css_class.present? -%>
      <div class="essence_picture_css_class">
        <%= Alchemy.t("alchemy.essence_pictures.css_classes.#{content.essence.css_class}",
          default: content.essence.css_class.camelcase) %>
      </div>
    <%- end -%>
    <div class="edit_images_bottom">
      <%= render 'alchemy/essences/shared/essence_picture_tools', {
        content: content,
        options: options
      } %>
    </div>
  </div>
  <%= hidden_field_tag content.form_field_name(:picture_id),
    content.ingredient.try!(:id) %>
  <%= hidden_field_tag content.form_field_name(:link),
    content.essence.link %>
  <%= hidden_field_tag content.form_field_name(:link_title),
    content.essence.link_title %>
  <%= hidden_field_tag content.form_field_name(:link_class_name),
    content.essence.link_class_name %>
  <%= hidden_field_tag content.form_field_name(:link_target),
    content.essence.link_target %>
<% end %>
