<% cache(content) do %>
  <div class="content_editor essence_select<%= options[:display_inline].to_s == 'true' ? ' display_inline' : '' %>" id="<%= content.dom_id %>">

  <%= label_and_remove_link(content) %>

  <% if options[:select_values].nil? %>

    <%= warning('options[:select_values] is nil', "No select values given. Please provide :select_values as argument to render_essence_editor_by_name() helper inside this element editor view.") %>

  <% else %>

    <%
    if options[:select_values].is_a?(Hash)
      options_tags = grouped_options_for_select(
        options[:select_values],
        content.ingredient,
        ''
      )
    else
      options_tags = options_for_select(
        options[:select_values],
        content.ingredient
      )
    end
    %>

    <%= select_tag(content.form_field_name, options_tags, {
      :class => ["alchemy_selectbox", "essence_editor_select", html_options[:class]].join(' '),
      :style => html_options[:style]
    }) %>

  <% end %>

  </div>
<% end %>
