<%- unless content.essence.attachment.nil? -%>
<%- width = content.essence.width.blank? ? (options[:flash_movie_size].split('x')[0] rescue 320) : content.essence.width -%>
<%- height = content.essence.height.blank? ? (options[:flash_movie_size].split('x')[1] rescue 200) : content.essence.height -%>
<%- player_version = content.essence.player_version.blank? ? "8" : content.essence.player_version -%>
<div class="flash_film">
	<div id="swf_container_<%= content.id %>">
		Sie brauchen den neusten <a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">Flash-Player</a> und Sie müssen JavaScript aktivieren.
	</div>
	<script type="text/javascript" charset="utf-8">
		var flashvars = {};
		var params = {};
		var attributes = {};
		swfobject.embedSWF(
			"<%= content.essence.attachment.public_filename %>",
			"swf_container_<%= content.id %>",
			'<%= width %>',
			'<%= height %>',
			'<%= player_version %>',
			false,
			flashvars,
			params,
			attributes
		);
	</script>
</div>
<%- end -%>