<% dialog_link = link_to_dialog render_icon(:file, style: 'regular'),
  alchemy.admin_attachments_path(
    form_field_id: essence_file_editor.form_field_id(:attachment_id),
    only: essence_file_editor.settings[:only],
    except: essence_file_editor.settings[:except]
  ),
  {
    title: Alchemy.t(:assign_file),
    size: '780x585',
    padding: false
  },
  class: 'file_icon',
  title: Alchemy.t(:assign_file) %>

<%= content_tag :div,
  id: essence_file_editor.dom_id,
  class: essence_file_editor.css_classes,
  data: essence_file_editor.data_attributes do %>
  <%= content_label(essence_file_editor) %>
  <div class="file" id="file_<%= essence_file_editor.id %>">
    <% if essence_file_editor.ingredient %>
      <div class="file_icon">
        <%= render_icon(essence_file_editor.ingredient.icon_css_class) %>
      </div>
    <% end %>
    <div class="file_name">
      <%= essence_file_editor.ingredient.try(:name) %>
    </div>
    <%= link_to render_icon(:times), "#",
      class: [
        "remove_file_link",
        essence_file_editor.ingredient ? nil : "hidden"
      ],
      data: {
        form_field_id: essence_file_editor.form_field_id(:attachment_id)
      } %>
    <div class="essence_file_tools">
      <%= dialog_link %>
      <%= link_to_dialog render_icon(:edit),
        alchemy.polymorphic_url([
          :edit,
          :admin,
          essence_file_editor.essence
        ]),
        {
          title: Alchemy.t(:edit_file_properties),
          size: '400x215'
        },
        title: Alchemy.t(:edit_file_properties) %>
    </div>
    <%= hidden_field_tag essence_file_editor.form_field_name(:attachment_id),
      essence_file_editor.ingredient && essence_file_editor.ingredient.id %>
  </div>
<% end %>
