<div id="overlay_tab_contactform_link">
  <h2>
    <%= _("please enter subject and mail address") %>
  </h2>
  <table class="window_form">
    <%= hidden_field_tag(
      'contactform_url',
      "/#{@url_prefix}" + Page.find_by_page_layout_and_language_id(
        configuration(:mailer)[:form_layout_name],
        session[:language_id]
      ).urlname
    ) %>
    <tr>
      <td class="label">
        <label for="contactform_subject" class="medium"><%= _("subject") %></label>
      </td>
      <td class="input">
        <%= text_field_tag "contactform_subject", {}, :class => "thin_border auto_resize" %>
      </td>
    </tr>
    <tr>
      <td class="label">
        <label for="contactform_mailto" class="medium"><%= _("mail_to") %></label>
      </td>
      <td class="input">
        <%= select_tag(
          "contactform_mailto",
          options_for_select(configuration(:mailer)[:mail_addresses].map{ |a| [t('alchemy.mailer.mail_addresses.'+a[0]), a[0]] }),
          :style => "width: 300px"
        ) %>
      </td>
    </tr>
    <tr>
      <td class="label">
        <label for="contactform_body" class="medium">
          <%= _("contactform_body") %>
        </label>
      </td>
      <td class="input">
        <%= text_area_tag "contactform_body", {}, :rows => 5, :class => 'thin_border auto_resize' %>
      </td>
    </tr>
    <tr>
      <td class="label">
        <label for="contactform_link_title" class="medium">
          <%= _("link_title") %>
        </label>
      </td>
      <td class="input">
        <%= text_field_tag "contactform_link_title", {}, :class => 'thin_border auto_resize link_title' %>
      </td>
    </tr>
  </table>
  <p>
    <%= link_to_function(
      _("apply"),
      "Alchemy.LinkOverlay.createLink(
        'contact',
        jQuery('#contactform_url').val() + '?subject=' + encodeURIComponent(jQuery('#contactform_subject').val()) + '&mail_to=' + encodeURIComponent(jQuery('#contactform_mailto').val()) + '&body=' + encodeURIComponent(jQuery('#contactform_body').val()),
        jQuery('#contactform_link_title').val(),
        null
      ); Alchemy.LinkOverlay.close()",
      :class => 'button'
    ) %>
  </p>
</div>
