<div id="overlay_tab_file_link">
	<h2>
		<%= _("choose_file_to_link") %>
	</h2>
	<table class="window_form">
		<tr>
			<td class="label">
				<label for="public_filename" class="medium"><%= _("file") %></label>
			</td>
			<td class="select">
				<%= alchemy_selectbox_tag(
					"public_filename",
					Attachment.all.collect{ |f| [f.name, download_attachment_path(:id => f.id, :name => f.name)] },
					'',
					:style => "width: 100%"
				) %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="file_link_title" class="medium">
					<%= _("link_title") %>
				</label>
			</td>
			<td class="input">
				<%= text_field_tag "file_link_title", {}, :class => 'thin_border auto_resize' %>
			</td>
		</tr>
		<tr>
			<td class="checkbox">
        <%= check_box_tag 'file_link_target' %>
			</td>
			<td>
        <label for="file_link_target" class="very_long"><%= _("target_blank") %></label>
			</td>
		</tr>
	</table>
	<p>
    <%= link_to_function(
      _("apply"),
      "alchemyCreateLink('file', $('public_filename').value, $('file_link_title').value, $('file_link_target').checked); Alchemy.CurrentLinkWindow.close()",
      :class => 'button'
    ) %>
	</p>
</div>
