<div id="overlay_tab_internal_link">
  <h2><%= _("internal_link_headline") %></h2>
  <table class="window_form">
    <tr>
      <td colspan="2">
        <div id="page_selector_container">
          <ul id="sitemap">
            <%= render :partial => 'page_for_links', :object => @page_root, :locals => {:area_name => @area_name} %>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label">
        <label for="internal_link_title" class="medium"><%= _('Title') %>:</label>
      </td>
      <td class="input">
        <%= text_field_tag "internal_link_title", {}, :class => 'thin_border auto_resize link_title' %>
      </td>
    </tr>
    <tr>
      <td class="label">
        <label for="internal_link_target" class="very_long"><%= _("Open Link in") %>:</label>
      </td>
      <td>
        <%= select_tag 'internal_link_target', options_for_select(Page.link_target_options), :class => 'link_target' %>
      </td>
    </tr>
  </table>
  <p>
    <%= hidden_field_tag( "internal_urlname" ) %>
    <%= hidden_field_tag( "page_anchor" ) %>
    <%= link_to_function(
      _("apply"),
      %(
        Alchemy.LinkOverlay.createLink(
          'internal',
          jQuery('#internal_urlname').val() + jQuery('#page_anchor').val(),
          jQuery('#internal_link_title').val(),
          jQuery('#internal_link_target').val()
        );
        Alchemy.LinkOverlay.close()
      ),
      :class => 'button'
    ) %>
  </p>
</div>
