<li class="page_level_<%= layoutpage.level %>" id="page_<%= layoutpage.id %>">
    <div class="sitemap_page">
        <div class="sitemap_left_images">
            <span class="site_status <%= layoutpage.level > 1 ? 'handle' : nil %> tooltip html_tooltip_<%= layoutpage.id %><%= layoutpage.locked ? ' locked' : '' %>" ></span>
            <div id="tooltip_<%= layoutpage.id %>" style="display: none;">
                <h1><%= _("page_type") %>: <%= layoutpage.layout_display_name %></h1>
                <p>
                    <%= layoutpage.humanized_status %>
                </p>
                <p>
                    <strong><%= _("created_at") %>:</strong><br />
                    <%= l(layoutpage.created_at) %> von <%= layoutpage.creator %>
                </p>
                <p>
                    <strong><%= _("updated_at") %>:</strong><br />
                    <%= l(layoutpage.updated_at) %> durch <%= layoutpage.updater %>
                </p>
                <%- if layoutpage.locked? -%>
                <p>
                    <%= _("currently_edited_by") %>: <span style="font-weight: bold;"><%= layoutpage.current_editor %></span>
                </p>
                <%- end -%>
            </div>
        </div>
				<div class="sitemap_right_tools">
					<%- permitted_to?(:configure, :admin_pages) do -%>
					<%= link_to_overlay_window(
						render_icon('configure_page'),
						configure_admin_page_path(layoutpage),
						{
							:title => _('edit_page_properties'),
							:size => '340x150'
						},
						:class => '',
						:title => _('edit_page_properties')
					) -%>
					<%- end -%>
					<%- permitted_to?([:new, :destroy, :copy], :admin_pages) do -%>
					<span class="sitemap_sitetools">
						<%- permitted_to?(:copy, :admin_pages) do -%>
						<%= link_to_remote(
							render_icon("copy_page"),
							:url => insert_admin_clipboard_path(
								:remarkable_type => layoutpage.class.to_s,
								:remarkable_id => layoutpage.id
							),
							:html => {
								:class => "",
								:title => _("copy_page")
							}
						) %>
						<%- end -%>
						<%- permitted_to?(:destroy, :admin_pages) do -%>
						<%= link_to_confirmation_window(
								render_icon('delete_page'),
								_("confirm_to_delete_page"),
								url_for(
									:controller => 'pages',
									:action => 'destroy',
									:id => layoutpage.id
								),
								{
									:class => "",
									:title => _("delete_page")
								}
							) -%>
						<%- end -%>
					</span>
					<%- end -%>
				</div>
        <div class="sitemap_sitename">
            <%= link_to(
                layoutpage.name,
                edit_admin_page_path(layoutpage),
                :title => _("edit_page"),
                :class => "sitemap_pagename_link #{cycle('even', 'odd')}"
            ) -%>
        </div>
    </div>
</li>
