<% remote_form_for([:admin, @page], :html => {:id => 'new_page_form'}) do |f| %>
	<%= f.hidden_field(:parent_id) %>
	<%= f.hidden_field(:layoutpage) %>
	<div id="errors" style="display:none"></div>
	<table id="new_page_form">
		<tr>
			<td class="label very_long">
				<%= f.label(:page_layout, _("Page|Page layout")) %>
			</td>
			<td class="input">
				<%= f.select('page_layout', @page_layouts) %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<%= f.label(:name, _("Page|Name")) %>
			</td>
			<td class="input">
				<%= f.text_field(:name, :class => "thin_border long") %>
			</td>
		</tr>
		<tr>
			<td class="label">&nbsp;</td>
			<td class="submit">
				<%= f.button _("create"), :class => 'button', :name => nil %>
			</td>
		</tr>
	</table>
<% end %>
