<ul id="sitemap" class="list">
	<div class="page_root">
		<div class="sitemap_page">
			<div class="sitemap_left_images">
                <span class="site_status tooltip <%= @page_root.locked ? ' locked' : '' %>" ></span>
                <div class="tooltip_content" style="display: none;">
					<h1><%= _("page_type") %>: <%= @page_root.layout_display_name %></h1>
					<p>
						<%= @page_root.humanized_status %>
					</p>
					<p>
						<strong><%= _("created_at") %>:</strong><br />
						<%= l(@page_root.created_at) %> von <%= @page_root.creator %>
					</p>
					<p>
						<strong><%= _("updated_at") %>:</strong><br />
						<%= l(@page_root.updated_at) %> durch <%= @page_root.updater %>
					</p>
					<%- if @page_root.locked? -%>
					<p>
						<%= _("currently_edited_by") %>: <span style="font-weight: bold;"><%= @page_root.current_editor %></span>
					</p>
					<%- end -%>
				</div>
			</div>
			<div class="sitemap_right_tools">
				<%- permitted_to?(:configure, :admin_pages) do -%>
				<%= link_to_overlay_window(
					"<span class='icon configure_page'></span>",
					configure_admin_page_path(@page_root),
					{
						:title => _('edit_page_properties'),
						:size => '380x490'
					},
					:class => '',
					:title => _('edit_page_properties')
				) -%>
				<%- end -%>
				<%- permitted_to?([:new, :destroy], :admin_pages) do -%>
				<span class="sitemap_sitetools">
					<span class="icon_spacer"></span>
					<%- permitted_to?(:destroy, :admin_pages) do -%>
					<%= link_to_confirmation_window(
						"<span class='icon delete_page'></span>",
						_("confirm_to_delete_page"),
						url_for(
							:controller => 'pages',
							:action => 'destroy',
							:id => @page_root.id
						),
						{
							:class => "",
							:title => _("delete_page")
						}
					) -%>
					<%- end -%>
					<%- permitted_to?(:new, :admin_pages) do -%>
					<%= link_to_overlay_window(
						"<span class='icon add_page'></span>",
						new_admin_page_path(:parent_id => @page_root.id),
						{
							:title => _('create_page'),
							:size => '405x90',
							:overflow => true
						},
						:class => '',
						:title => _('create_page')
					) -%>
					<%- end -%>
				</span>
				<%- end -%>
			</div>
			<div class="page_infos" id="page_<%= @page_root.id %>_infos">
				<%= render :partial => 'page_infos', :locals => {:page => @page_root} %>
			</div>
			<div class="sitemap_sitename">
				<%= link_to(
					@page_root.name,
					edit_admin_page_path(@page_root),
					:title => _("edit_page"),
					:class => "sitemap_pagename_link #{cycle('even', 'odd')}"
				) -%>
			</div>
		</div>
	</div>
	<%= render :partial => 'page', :collection => @page_root.children %>
</ul>
