<%- form_tag("/admin/pages/copy_language", :class => "with_padding") do -%>
    <h1><%= _("language_does_not_exist") %></h1>
    <p><%= _("want_to_make_copy_of_existing_language") %></p>
    <table>
        <tr>
            <td class="input">
                <%= alchemy_selectbox_tag("languages[old_lang]", @languages.map{ |l| [l.name, l.code] }, :class => "medium_long", :style => "float:left") %>
                <%= hidden_field_tag("languages[new_lang]", @language.code) %>
            </td>
            <td class="">
                &nbsp;<%= submit_tag _("copy"), :class => 'button' %>
            </td>
        </tr>
    </table>
    <p>
        <br />
        <%= _("want_to_create_new_language") %>
    </p>
    <table>
        <tr>
            <td class="submit">
                <%= link_to(
                    _("%{language}_as_new_language") % {:language => @language.name},
                    {
                        :controller => "pages",
                        :action => "switch_language",
                        :lang => @language.code
                    },
                    :class => 'button',
                    :style => "float:right"
                ) %>
            </td>
        </tr>
    </table>
<%- end -%>
