<%- alchemy_combined_assets -%>

<%- content_for(:javascript_includes) do -%>
	<%= tinymce_hammer_javascript_tags %>
<%- end -%>
<%- content_for(:subnav_additions) do -%>
    <%- Page.all_locked_by(current_user).each do |page| -%>
    <%- if @page == page -%>
		<%= render :partial => 'page_status' %>
    <%- else -%>
		<div class="subnavi_tab wide" id="locked_page_<%= page.id %>">
		    <% link_to edit_admin_page_path(page) do %>
	      <span class="page_name" title="<%= page.name %>">
		  	    <%= truncate page.name, :length => 15 %>
		    </span>
			  <% end %>
			  <% form_remote_tag(:url => unlock_admin_page_path(page)) do %>
			  	  <button class="icon_button small" title="<%= _('explain_unlocking') %>">
			  		    <%= render_icon('close small') %>
			  	  </button>
			  <% end %>
		</div>
    <%- end -%>
	<%- end -%>
<%- end -%>
<%- content_for(:toolbar) do -%>
<div id="toolbar">
	<div id="toolbar_buttons">
		<div class="button_with_label">
			<% form_tag(
				unlock_admin_page_path(
					@page,
					:redirect_to => @layoutpage ? admin_layoutpages_path : admin_pages_path
				),
				:onsubmit => "return Alchemy.checkPageDirtyness(this, {title: '#{ _('Warning!') }', message: '#{ _('You have unsaved elements on this page. Do you really want to leave this page?') }', okLabel: '#{ _('Yes') }', cancelLabel: '#{ _('No') }'});"
			) do %>
				<button class="icon_button" title="<%= _('explain_unlocking') %>">
					<%= render_icon('close') %>
				</button><br />
				<label><%= _("unlock_page") %></label>
			<% end %>
		</div>
		<div class="button_with_label">
			<%- if configuration(:cache_pages) -%>
				<% form_tag(
					publish_admin_page_path(@page),
					:onsubmit => "return Alchemy.checkPageDirtyness(this, {title: '#{ _('Warning!') }', message: '#{ _('You have unsaved elements on this page. Do you really want to clear the page cache?') }', okLabel: '#{ _('Yes') }', cancelLabel: '#{ _('No') }'});"
				) do -%>
					<button class="icon_button" title="<%= _('explain_publishing') %>">
						<%= render_icon('flush') %>
					</button><br />
					<label><%= _("Clear page cache") %></label>
				<% end -%>
			<%- end -%>
		</div>
		<%- unless @page.layoutpage? -%>
		<div class="button_with_label">
			<%= link_to_overlay_window(
				render_icon('settings'),
				configure_admin_page_path(@page),
				{
					:title => _('edit_page_properties'),
					:size => '380x490'
				},
				:class => 'icon_button',
				:title => _('edit_page_properties')
			) -%><br />
			<label><%= _('page_properties') %></label>
		</div>
		<%- end -%>
	</div>
	<div id="toolbar_buttons_right">
		<div class="button_with_label" id="show_preview_window">
			<%= link_to_function(
				render_icon('preview_window'),
				"Alchemy.openPreviewWindow('#{admin_page_url(@page)}', '#{_('Page Preview')}')",
				{
					:title => _('Show Preview Window'),
					:class => 'icon_button'
				}
			) %><br />
			<label><%= _('Show Preview Window') %></label>
		</div>
		<div class="button_with_label" id="show_element_window">
			<%= link_to_function(
				render_icon('element_window'),
				"Alchemy.openElementsWindow('#{list_admin_elements_path(:page_id => @page.id)}', {title: '#{ _('Elements') }', dirtyTitle: '#{ _("Warning!") }', dirtyMessage: '#{ _("You have unsaved elements. Do you really want to close the elements window?") }', okLabel: '#{ _("Yes") }', cancelLabel: '#{ _("No") }'})",
				{
					:title => _('Show Elements Window'),
					:class => 'icon_button'
				}
			) %><br />
			<label><%= _('Show Elements Window') %></label>
		</div>
	</div>
</div>
<%- end -%>
<%- content_for :javascripts do -%>
	<script type="text/javascript" charset="utf-8">
	//<!--[CDATA[
		jQuery(document).ready(function() {
			Alchemy.openElementsWindow('<%= list_admin_elements_path(:page_id => @page.id) %>',
				{
					title: '<%= _('Elements') %>',
					dirtyTitle: '<%= _("Warning!") %>',
					dirtyMessage: '<%= _("You have unsaved elements. Do you really want to close the elements window?") %>',
					okLabel: '<%= _("Yes") %>',
					cancelLabel: '<%= _("No") %>'
				}
			);
			Alchemy.openPreviewWindow('<%= admin_page_url(@page) %>', '<%= _('Page Preview') %>');
		});
		Alchemy.PageLeaveObserver({
			title: '<%= _("Warning!") %>',
			message: '<%=  _("You have unsaved elements on this page. Do you really want to leave this page?") %>',
			okLabel: '<%= _("Yes") %>',
			cancelLabel: '<%= _("No") %>'
		});
	//]]-->
	</script>
<%- end -%>
