<%- alchemy_assets_set(:sitemap) -%>

<%- content_for :toolbar do -%>
<div id="toolbar">
    <div id="toolbar_buttons">
        <div class="button_with_label">
            <%= alchemy_selectbox_tag(
                'language_id',
                Language.all.map { |l| [l.name, l.id] },
                session[:language_id],
                :onchange => %(
                    pleaseWaitOverlay();
                    new Ajax.Request('/admin/pages/switch_language', {
                        method: 'get',
                        parameters: {language_id: value}
                    });
                )
            ) %>
            <label><%= _("Language tree") %></label>
        </div>
        <%- permitted_to?(:flush, :admin_pages) do -%>
        <div class="button_with_label">
            <%= link_to_remote(
                content_tag('span', '', :class => 'icon flush'),
                :url => flush_admin_pages_path,
                :before => 'pleaseWaitOverlay();',
                :complete => 'pleaseWaitOverlay(false);',
                :html => {:class => 'icon_button',
                :title => _('Flush page cache')}
            ) -%><br />
            <label><%= _('Flush page cache') %></label>
        </div>
        <%- end -%>
    </div>
</div>
<%- end -%>

<%- if @page_root -%>

<h2 id="sitemap_heading">
    <span class="page_name"><%= _('Name') %></span>
    <span class="page_infos"><%= _('Status') %></span>
</h2>
<%= render :partial => 'sitemap' %>
<p class="footnote">
    <%= render_icon('info') %>
    <%= _('Explain|Sitemap|Dragndrop sorting') %>
</p>

<%- else -%>

<div id="archive_all">
	<h1><%= _("language_does_not_exist") %>!</h1>
	<%- lang = Language.find(session[:language_id]) -%>
	<%- languages = Language.all_for_created_language_trees -%>
	<%- if lang -%>
	<p><%= _("want_to_make_copy_of_existing_language") %></p>
	<%- form_tag("/admin/pages/copy_language") do -%>
		<table>
		    <tr>
		        <td class="input">
		            <%= alchemy_selectbox_tag("languages[old_lang_id]", languages.map{ |l| [l.name, l.id] }, :class => "medium_long", :style => "float:left") %>
		            <%= hidden_field_tag("languages[new_lang_id]", lang.id) %>
		        </td>
		        <td class="">
		            &nbsp;<%= submit_tag _("copy"), :class => 'button' %>
		        </td>
		    </tr>
		</table>
	<%- end -%>
	<p>
	    <br />
	    <%= _("want_to_create_new_language") %>
	</p>
	<% remote_form_for([:admin, Page.new]) do |form| %>
		<%= form.hidden_field :name, :value => lang.frontpage_name %>
		<%= form.hidden_field :language_id, :value => lang.id %>
		<%= form.hidden_field :language_code, :value => lang.code %>
		<%= form.hidden_field :page_layout, :value => lang.page_layout %>
		<%= form.hidden_field :language_root, :value => true %>
		<%= form.submit(_("%{language}_as_new_language") % {:language => lang.name}, :class => 'button') %>
	<% end %>
	<%- else -%>
	<p>Diese Sprache existiert noch nicht. Bitte legen Sie diese Sprache erst in den Sprachen an.</p>
	<%- end -%>
</div>

<%- end -%>

<%- content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
// <![CDATA[
    TooltipManager.init(
        "tooltip",
        "",
        {
            showEffect: Element.show,
            hideEffect: Element.hide,
            className: "alchemy_tooltip",
            delayOut: "0",
            closable: false,
            draggable: false,
            resizable: false
        }
    );
// ]]>
</script>
<%- end -%>
