<div id="overlay_tabs">
  <ul>
    <li><a href="#overlay_tab_internal_link"><%= _('link_overlay_tab_label.internal') %></a></li>
    <li><a href="#overlay_tab_external_link"><%= _('link_overlay_tab_label.external') %></a></li>
    <li><a href="#overlay_tab_file_link"><%= _('link_overlay_tab_label.file') %></a></li>
    <%- if configuration(:mailer)[:contactform_linking] -%>
    <li><a href="#overlay_tab_contactform_link"><%= _('link_overlay_tab_label.contactform') %></a></li>
    <%- end -%>
  </ul>
  <div class="with_padding">
    <%= render :partial => 'internal_link' %>
    <%= render :partial => 'external_link' %>
    <%= render :partial => 'file_link' %>
    <%- if configuration(:mailer)[:contactform_linking] -%>
    <%= render :partial => 'contactform_links' %>
    <%- end -%>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

  jQuery(function() {
    jQuery( "#overlay_tabs" ).tabs();
  });
  
  if (Alchemy.LinkOverlay.current.linked_element) {
    Alchemy.LinkOverlay.selectTab();
  }

</script>
