<div class="overlay_tab_bar">
	<span onclick="showLinkWindowTab('sitemap_for_links', this);" class="link_window_tab active" id="tab_for_sitemap_for_links">
		<%= _('link_overlay_tab_label.internal') %>
	</span>
	<span onclick="showLinkWindowTab('sitemap_external_links', this);" class="link_window_tab" id="tab_for_sitemap_external_links">
		<%= _('link_overlay_tab_label.external') %>
	</span>
	<span onclick="showLinkWindowTab('file_links', this);" class="link_window_tab" id="tab_for_file_links">
		<%= _('link_overlay_tab_label.file') %>
	</span>
	<%- if configuration(:mailer)[:contactform_linking] -%>
	<span onclick="showLinkWindowTab('contactform_links', this);" class="link_window_tab" id="tab_for_contactform_links">
		<%= _('link_overlay_tab_label.contactform') %>
	</span>
	<%- end -%>
</div>
<%= render :partial => 'internal_link' %>
<%= render :partial => 'external_link' %>
<%= render :partial => 'file_link' %>
<%- if configuration(:mailer)[:contactform_linking] -%>
	<%= render :partial => 'contactform_links' %>
<%- end -%>
<%- javascript_tag do -%>
  if (link_window.linked_element) {
    selectLinkWindowTab();
  }
<%- end -%>
