<div id="overlay_tabs">
	<ul>
		<li><a href="#create_page_tab"><%= _('New page') %></a></li>
		<%- unless clipboard_empty?('pages') -%>
		<li><a href="#paste_page_tab"><%= _('Paste from clipboard') %></a></li>
		<%- end -%>
	</ul>
	<div id="create_page_tab">
		<% remote_form_for([:admin, @page], :html => {:id => 'new_page_form'}) do |f| %>
			<%= f.hidden_field("parent_id", :value => @parent_id) %>
			<div id="errors" style="display:none"></div>
			<table border="0" cellspacing="0" cellpadding="0" id="new_page_form">
				<tr>
					<td class="label long">
						<label for="page_layout"><%= _("a_page_of_type") %>: </label>
					</td>
					<td class="second_row">
						<%= f.select('page_layout', Alchemy::PageLayout.get_layouts_for_select(session[:language_id])) %>
					</td>
				</tr>
				<tr>
					<td class="label">
						<%= f.label(:name, _("with_name")) %>
					</td>
					<td class="second_row">
						<%= f.text_field(:name, :size => 15, :class => "thin_border") %>
					</td>
				</tr>
				<tr>
					<td class="label">&nbsp;</td>
					<td class="second_row">
						<%= f.submit _("create"), :class => 'button', :name => nil %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
	<%- unless clipboard_empty?('pages') -%>
	<div id="paste_page_tab">
		<% remote_form_for([:admin, @page], :html => {:id => 'paste_page_form'}) do |f| %>
			<%= f.hidden_field("parent_id", :value => @parent_id) %>
			<div id="errors" style="display:none"></div>
			<table border="0" cellspacing="0" cellpadding="0" id="new_page_form">
				<tr>
					<td class="label long">
						<label for="paste_from_clipboard"><%= _("Page") %></label>
					</td>
					<td class="second_row">
						<%= clipboard_select_tag(@clipboard_items, :class => 'long') %>
					</td>
				</tr>
				<tr>
					<td class="label">
						<%= f.label(:name, _("Name")) %>
					</td>
					<td class="second_row">
						<%= f.text_field(:name, :size => 15, :class => "thin_border") %>
					</td>
				</tr>
				<tr>
					<td class="label">&nbsp;</td>
					<td class="second_row">
						<%= f.submit _("paste"), :class => 'button', :name => nil %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
	<%- end -%>
</div>
<script type="text/javascript" charset="utf-8">

	jQuery(function() {
		jQuery("#overlay_tabs").tabs();
	});

</script>
