<div class="widget-body">
  <header>
    <%= Alchemy.t('Currently locked pages') %>
  </header>
  <% if @all_locked_pages.blank? %>
    <alchemy-message type="info">
      <%= Alchemy.t('no pages') %>
    </alchemy-message>
  <% else %>
    <div class="table-scroll">
      <table class="list">
        <% @all_locked_pages.each do |page| %>
        <tr>
          <td class="page_name">
            <span class="label-with-icon">
              <%= render_icon("file-edit") %>
              <%= link_to_if current_alchemy_user.id == page.locked_by,
                page.name,
                alchemy.edit_admin_page_path(page),
                data: {turbo_frame: "_top"} %>
            </span>
          </td>
          <td class="site_name">
            <% if multi_site? %>
              <small><%= page.site_name %></small>
            <% end %>
          </td>
          <td class="locale">
            <% if page.site_languages.many? %>
              <small><%= page.language.code.upcase %></small>
            <% end %>
          </td>
          <td class="name">
            <small>
              <% if current_alchemy_user.id == page.locked_by %>
                <%= Alchemy.t(:me) %>
              <% else %>
                <%= page.locker_name %>
              <% end %>
            </small>
          </td>
          <td class="button">
            <% if (current_alchemy_user.id == page.locked_by) || can?(:manage, Alchemy::Current.site) %>
              <%= button_to alchemy.unlock_admin_page_path(page, redirect_to: alchemy.admin_dashboard_path), class: "icon_button small", title: Alchemy.t(:explain_unlocking) do %>
                <%= render_icon(:close, size: '1x') %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
