<pre>
<%= @message.message %>
</pre>

<p>
	<%= @message.salutation %><br>
	<%= @message.firstname %>&nbsp;<%= @message.lastname %><br>
	<br>
	<%= @message.address %><br>
	<%= @message.zip %>&nbsp;<%= @message.city %><br>
	<br>
	<%= @message.phone %><br>
	<%= @message.email %>
</p>
