<li class="page_level_<%= layoutpage.level %>" id="page_<%= layoutpage.id %>">
  <div class="sitemap_page<%= layoutpage.locked? ? ' locked' : '' %>">
    <div class="sitemap_left_images">
    <% if layoutpage.definition.blank? %>
      <%= page_layout_missing_warning %>
    <% elsif layoutpage.locked? %>
      <sl-tooltip class="like-hint-tooltip" content="<%= Alchemy.t("This page is locked", name: layoutpage.locker_name) %>">
        <i class="icon ri-file-edit-line ri-fw ri-xl"></i>
      </sl-tooltip>
    <% else %>
      <i class="icon ri-file-line ri-xl"></i>
    <% end %>
    </div>
    <div class="sitemap_right_tools">
    <%- if can?(:configure, layoutpage) -%>
      <sl-tooltip content="<%= Alchemy.t(:edit_page_properties) %>">
        <%= link_to_dialog(
          render_icon("settings-3"),
          alchemy.edit_admin_layoutpage_path(layoutpage),
          {
            title: Alchemy.t(:edit_page_properties),
            size: '410x170'
          },
          class: "icon_button"
        ) -%>
      </sl-tooltip>
    <%- end -%>
    <%- if can?(:copy, layoutpage) -%>
      <sl-tooltip content="<%= Alchemy.t(:copy_page) %>">
        <%= link_to(
          render_icon("file-copy"),
          alchemy.insert_admin_clipboard_path(
            remarkable_type: layoutpage.class.name.demodulize.underscore.pluralize,
            remarkable_id: layoutpage.id
          ),
          remote: true,
          method: 'post',
          class: "icon_button"
        ) %>
      </sl-tooltip>
    <%- end -%>
    <%- if can?(:destroy, layoutpage) -%>
      <sl-tooltip content="<%= Alchemy.t(:delete_page) %>">
        <%= link_to_confirm_dialog(
          render_icon("delete-bin-2"),
          Alchemy.t(:confirm_to_delete_page),
          url_for(
            controller: 'pages',
            action: 'destroy',
            id: layoutpage.id
          ),
          class: "icon_button"
        ) -%>
      </sl-tooltip>
    <%- end -%>
    </div>
    <div class="page_infos">
      <% if layoutpage.locked? %>
        <span class="page_status locked">
          <i class="icon ri-fw ri-1x ri-edit-line"></i>
          <%= layoutpage.status_title(:locked) %>
        </span>
      <% end %>
    </div>
    <div class="sitemap_sitename without-status">
      <%= link_to(
        layoutpage.name,
        alchemy.edit_admin_page_path(layoutpage),
        title: Alchemy.t(:edit_page),
        class: "sitemap_pagename_link #{cycle('even', 'odd')}"
      ) -%>
    </div>
  </div>
</li>
