<li class="page_level_<%= layoutpage.level %>" id="page_<%= layoutpage.id %>">
  <div class="sitemap_page<%= layoutpage.locked? ? ' locked' : '' %>">
    <div class="sitemap_left_images"></div>
    <div class="sitemap_right_tools">
    <%- if can?(:configure, layoutpage) -%>
      <div class="button_with_label sitemap_tool">
        <%= link_to_dialog(
          render_icon('edit'),
          alchemy.edit_admin_layoutpage_path(layoutpage),
          {
            title: Alchemy.t(:edit_page_properties),
            size: '410x170'
          }
        ) -%>
        <label class="center"><%= Alchemy.t(:edit_page_properties) %></label>
      </div>
    <%- end -%>
    <%- if can?(:copy, layoutpage) -%>
      <div class="button_with_label sitemap_tool">
        <%= link_to(
          render_icon("duplicate"),
          alchemy.insert_admin_clipboard_path(
            remarkable_type: layoutpage.class.name.demodulize.underscore.pluralize,
            remarkable_id: layoutpage.id
          ),
          remote: true,
          method: 'post'
        ) %>
        <label class="center"><%= Alchemy.t(:copy_page) %></label>
      </div>
    <%- end -%>
    <%- if can?(:destroy, layoutpage) -%>
      <div class="button_with_label sitemap_tool">
        <%= link_to_confirm_dialog(
          render_icon('destroy'),
          Alchemy.t(:confirm_to_delete_page),
          url_for(
            controller: 'pages',
            action: 'destroy',
            id: layoutpage.id
          )
        ) -%>
        <label class="left"><%= Alchemy.t(:delete_page) %></label>
      </div>
    <%- end -%>
    </div>
    <% if layoutpage.definition.blank? %>
      <div class="page_infos">
        <%= page_layout_missing_warning %>
      </div>
    <% end %>
    <div class="sitemap_sitename">
      <%= link_to(
        layoutpage.name,
        alchemy.edit_admin_page_path(layoutpage),
        title: Alchemy.t(:edit_page),
        class: "sitemap_pagename_link #{cycle('even', 'odd')}"
      ) -%>
    </div>
  </div>
</li>
