<%= turbo_frame_tag @page do %>
  <%= alchemy_form_for [:admin, @page], url: alchemy.admin_layoutpage_path(@page), class: 'edit_page' do |f| %>
    <%= f.input :name, autofocus: true %>
    <div class="input tags">
      <%= f.label :tag_list, class: "control-label" %>
      <%= render Alchemy::Admin::TagsAutocomplete.new do %>
        <%= f.text_field :tag_list, value: f.object.tag_list.join(",") %>
      <% end %>
    </div>
    <%= f.submit Alchemy.t(:save) %>
  <% end %>
<% end %>
