<%= alchemy_form_for [:admin, @page], class: 'edit_page' do |f| %>
  <%= f.input :name, autofocus: true %>
  <div class="input string">
    <%= f.label :tag_list %>
    <%= render 'alchemy/admin/partials/autocomplete_tag_list', f: f %>
  </div>
  <%= f.submit Alchemy.t(:save) %>
<% end %>
