<% content_for :toolbar do %>
<div class="toolbar_buttons">
  <%= render 'alchemy/admin/partials/site_select' %>
  <%= render 'alchemy/admin/partials/language_tree_select' %>
  <%= toolbar_button(
    icon: 'add',
    url: alchemy.new_admin_page_path(parent_id: @layout_root.id, layoutpage: true),
    hotkey: 'alt+n',
    dialog_options: {
      title: Alchemy.t('Add global page'),
      size: '340x170',
      overflow: true
    },
    title: Alchemy.t('Add global page'),
    label: Alchemy.t('Add global page'),
    if_permitted_to: [:create, Alchemy::Page]
  ) %>
  <%= toolbar_button(
    icon: "clipboard#{clipboard_empty?('pages') ? '' : ' full'}",
    url: alchemy.admin_clipboard_path(remarkable_type: 'pages'),
    dialog_options: {
      title: Alchemy.t('Clipboard'),
      size: '380x270'
    },
    title: Alchemy.t('Show clipboard'),
    id: "clipboard_button",
    label: Alchemy.t('Show clipboard')
  ) %>
</div>
<% end %>

<ul class="list" id="layoutpages">
  <%= render partial: "layoutpage", collection: @layout_root.children %>
</ul>
