<%- content_for(:subnav_additions) do -%>
<%- unless @locked_pages.blank? -%>
<label><%= t('Active Pages') %> &raquo;</label>
<%- @locked_pages.each do |page| -%>
<div class="subnavi_tab wide" id="locked_page_<%= page.id %>">
  <%= link_to alchemy.edit_admin_page_path(page) do %>
  <span class="page_name" title="<%= page.name %>">
    <%= truncate page.name, :length => 15 %>
  </span>
  <% end %>
  <%= form_tag(alchemy.unlock_admin_page_path(page), :remote => true) do %>
    <button class="icon_button small" title="<%= t('explain_unlocking') %>">
      <%= render_icon('close small') %>
    </button>
  <% end %>
</div>
<%- end -%>
<%- end -%>
<%- end -%>

<%- content_for :toolbar do -%>
<div id="toolbar_buttons">
  <%= render :partial => 'alchemy/admin/partials/language_tree_select' %>
  <%= toolbar_button(
    :icon => 'add_page',
    :url => alchemy.new_admin_page_path(:parent_id => @layout_root.id, :layoutpage => true),
    :overlay_options => {
      :title => t('Add global page'),
      :size => '340x150',
      :overflow => true
    },
    :title => t('Add global page'),
    :label => t('Add global page'),
    :if_permitted_to => [:new, :alchemy_admin_pages]
  ) %>
  <%= toolbar_button(
    :icon => "clipboard#{clipboard_empty?('pages') ? '' : ' full'}",
    :url => alchemy.admin_clipboard_path(:remarkable_type => 'pages'),
    :overlay_options => {
      :title => t('Clipboard'),
      :size => '380x270'
    },
    :title => t('Show clipboard'),
    :id => "clipboard_button",
    :label => t('Show clipboard')
  ) %>
</div>
<%- end -%>

<ul class="list" id="layoutpages">
  <%= render :partial => "layoutpage", :collection => @layout_root.children %>
</ul>
