<%= form_tag do %>
  <%= render_message do %>
    <h3><%= Alchemy.t(:enter_external_link) %></h3>
    <p><%= Alchemy.t(:external_link_notice_1) %></p>
    <p><%= Alchemy.t(:external_link_notice_2) %></p>
  <% end %>
  <div id="errors" class="errors">
    <ul></ul>
  </div>
  <div class="input text">
    <label for="external_url" class="control-label">URL</label>
    <%= text_field_tag "external_url" %>
  </div>
  <div class="input text">
    <label for="external_link_title" class="control-label">
      <%= Alchemy.t(:link_title) %>
    </label>
    <%= text_field_tag "external_link_title", '', class: 'link_title' %>
  </div>
  <div class="input select">
    <label for="external_link_target" class="control-label">
      <%= Alchemy.t("Open Link in") %>
    </label>
    <%= select_tag 'external_link_target',
      options_for_select(Alchemy::Page.link_target_options),
      class: 'alchemy_selectbox link_target' %>
  </div>
  <div class="submit">
    <%= button_tag Alchemy.t(:apply), class: 'create-link button', data: { link_type: 'external' } %>
  </div>
<% end %>
