<div id="overlay_tab_external_link">
  <h2><%= t("enter_external_link") %></h2>
  <%= render_message do %>
    <p><%= t(:external_link_notice_1) %></p>
    <p><%= t(:external_link_notice_2) %></p>
  <% end %>
  <div id="errors" class="errors">
    <ul></ul>
  </div>
  <table class="window_form">
    <tr>
      <td class="label long">
        <%= label_tag 'external_url', 'URL', :for => 'external_url' %>
      </td>
      <td class="input">
        <%= text_field_tag 'external_url', '', :class => "thin_border auto_resize" %>
      </td>
    </tr>
    <tr>
      <td class="label long">
        <label for="extern_link_title"><%= t("link_title") %></label>
      </td>
      <td class="input"><%= text_field_tag "extern_link_title", '', :class => 'thin_border auto_resize link_title' %></td>
    </tr>
    <tr>
      <td class="label long">
        <label for="external_link_target"><%= t("Open Link in") %>:</label>
      </td>
      <td class="select left">
        <%= select_tag 'external_link_target', options_for_select(Alchemy::Page.link_target_options), :class => 'alchemy_selectbox link_target medium' %>
      </td>
    </tr>
    <tr>
      <td class="submit" colspan="2">
        <%= link_to(t(:apply), '#', {
          :onclick => "Alchemy.LinkOverlay.createLink('external', jQuery('#external_url').val(), jQuery('#extern_link_title').val(), jQuery('#external_link_target').val());",
          :class => 'button'
        }) %>
      </td>
    </tr>
  </table>
</div>
