<div id="overlay_tab_external_link">
  <h2>
    <%= t("enter_external_link") %>
  </h2>
  <table class="window_form">
    <tr>
      <td class="label long">
        <%= label_tag 'external_url', 'URL', :for => 'external_url' %>
      </td>
      <td class="input">
        <%= text_field_tag 'external_url', '', :class => "thin_border auto_resize" %>
      </td>
    </tr>
    <tr>
      <td class="label long">
        <label for="extern_link_title"><%= t("link_title") %></label>
      </td>
      <td class="input"><%= text_field_tag "extern_link_title", '', :class => 'thin_border auto_resize link_title' %></td>
    </tr>
    <tr>
      <td class="label long">
        <label for="link_target"><%= t("Open Link in") %>:</label>
      </td>
      <td>
        <%= select_tag 'link_target', options_for_select(@link_target_options), :class => 'alchemy_selectbox link_target medium' %>
      </td>
    </tr>
  </table>
  <p>
    <%= link_to_function(
      t('apply'),
      %(
        Alchemy.LinkOverlay.createLink(
          'external',
          jQuery('#external_url').val(),
          jQuery('#extern_link_title').val(),
          jQuery('#link_target').val()
        );
        Alchemy.LinkOverlay.close()
      ),
      :class => 'button'
    ) %>
  </p>
</div>
