<div id="overlay_tab_file_link">
  <h2>
    <%= _("choose_file_to_link") %>
  </h2>
  <table class="window_form">
    <tr>
      <td class="label">
        <label for="public_filename" class="medium"><%= _("file") %></label>
      </td>
      <td class="select">
        <%= select_tag(
          "public_filename",
          options_for_select(Attachment.all.collect{ |f| [f.name, download_attachment_path(:id => f.id, :name => f.name)] }),
          :class => "very_long"
        ) %>
      </td>
    </tr>
    <tr>
      <td class="label">
        <label for="file_link_title" class="medium">
          <%= _("link_title") %>
        </label>
      </td>
      <td class="input">
        <%= text_field_tag "file_link_title", {}, :class => 'thin_border auto_resize link_title' %>
      </td>
    </tr>
    <tr>
      <td class="label">
        <label for="file_link_target" class="very_long"><%= _("Open Link in") %>:</label>
      </td>
      <td>
        <%= select_tag 'file_link_target', options_for_select(Page.link_target_options), :class => 'link_target' %>
      </td>
    </tr>
  </table>
  <p>
    <%= link_to_function(
      _("apply"),
      %(
        Alchemy.LinkOverlay.createLink(
          'file',
          jQuery('#public_filename').val(),
          jQuery('#file_link_title').val(),
          jQuery('#file_link_target').val()
        );
        Alchemy.LinkOverlay.close()
      ),
      :class => 'button'
    ) %>
  </p>
</div>
