<%= alchemy_form_for [:admin, @page], class: 'edit_page' do |f| %>
  <% unless @page.language_root? || @page.layoutpage %>
    <%= f.input :parent_id, required: true, input_html: { class: 'alchemy_selectbox' } %>
  <% end %>

  <div class="input check_boxes">
    <label class="control-label"><%= Alchemy.t(:page_status) %></label>
    <div class="control_group">
      <%= render 'alchemy/admin/pages/publication_fields' %>
      <%= page_status_checkbox(@page, :restricted) %>
      <% if configuration(:sitemap)['show_flag'] %>
        <%= page_status_checkbox(@page, :sitemap) %>
      <% end %>
    </div>
  </div>

  <%= f.input :name, autofocus: true %>
  <%= f.input :urlname, as: 'string', input_html: {value: @page.slug}, label: Alchemy::Page.human_attribute_name(:slug) %>
  <%= f.input :title,
    input_html: {'data-alchemy-char-counter' => 60} %>

  <% if Alchemy.enable_searchable %>
    <div class="input check_boxes">
      <label class="control-label"><%= Alchemy.t(:fulltext_search) %></label>
      <div class="control_group">
        <%= page_status_checkbox(@page, :searchable) %>
      </div>
    </div>
  <% end %>

  <div class="input check_boxes">
    <label class="control-label"><%= Alchemy.t(:search_engines) %></label>
    <div class="control_group">
      <%= page_status_checkbox(@page, :robot_index) %>
      <%= page_status_checkbox(@page, :robot_follow) %>
    </div>
  </div>

  <%= f.input :meta_description,
    as: 'text',
    input_html: {'data-alchemy-char-counter' => 160} %>
  <%= f.input :meta_keywords,
    as: 'text',
    hint: Alchemy.t('pages.update.comma_seperated') %>

  <div class="input string autocomplete_tag_list">
    <%= f.label :tag_list %>
    <%= render 'alchemy/admin/partials/autocomplete_tag_list', f: f %>
  </div>

  <%= f.submit Alchemy.t(:save) %>
<% end %>

<script>
  $('#page_parent_id').alchemyPageSelect({
    placeholder: "<%= Alchemy.t(:search_page) %>",
    url: "<%= alchemy.api_pages_path %>",
    allowClear: false,
    <% if @page.parent %>
    initialSelection: {
      id: <%= @page.parent.id %>,
      text: "<%= @page.parent.name %>",
      url_path: "<%= @page.parent.url_path %>"
    }
    <% end %>
  })
</script>
