<%= form_tag do %>
  <%= render_message do %>
    <h2><%= _t(:internal_link_headline) %></h2>
  <% end %>
  <div id="page_selector_container">
    <% if @page_root %>
    <ul id="sitemap">
      <%= render partial: 'page_for_links', object: @page_root, locals: {area_name: @area_name} %>
    </ul>
    <% end %>
  </div>
  <div class="input text">
    <label for="internal_link_title" class="control-label">
      <%= _t(:link_title) %>
    </label>
    <%= text_field_tag "internal_link_title", '', class: 'link_title' %>
  </div>
  <div class="input select">
    <label for="internal_link_target" class="control-label">
      <%= _t("Open Link in") %>
    </label>
    <%= select_tag 'internal_link_target',
      options_for_select(Alchemy::Page.link_target_options),
      class: 'alchemy_selectbox link_target' %>
  </div>
  <div class="submit">
    <%= hidden_field_tag(:internal_urlname) %>
    <%= hidden_field_tag(:page_anchor) %>
    <%= link_to(_t(:apply), '#', {
      onclick: "Alchemy.LinkOverlay.createLink('internal', jQuery('#internal_urlname').val() + jQuery('#page_anchor').val(), jQuery('#internal_link_title').val(), jQuery('#internal_link_target').val()); Alchemy.LinkOverlay.close()",
      class: 'button'
    }) %>
  </div>
<% end %>
