<%= form_tag do %>
  <%= render_message do %>
    <h3><%= Alchemy.t(:internal_link_headline) %></h3>
    <p><%= Alchemy.t(:internal_link_page_elements_explanation) %></p>
  <% end %>
  <div class="input select">
    <label for="page_urlname" class="control-label">
      <%= Alchemy.t(:page) %>
    </label>
    <input type="text" id="page_urlname" class="alchemy_selectbox full_width">
  </div>
  <div class="input select">
    <label for="element_anchor" class="control-label">
      <%= Alchemy.t(:anchor) %>
    </label>
    <input type="text" id="element_anchor" class="alchemy_selectbox full_width" disabled placeholder="<%= Alchemy.t('Select a page first') %>">
  </div>
  <div class="input text">
    <label for="internal_link_title" class="control-label">
      <%= Alchemy.t(:link_title) %>
    </label>
    <%= text_field_tag "internal_link_title", '', class: 'link_title' %>
  </div>
  <div class="input select">
    <label for="internal_link_target" class="control-label">
      <%= Alchemy.t("Open Link in") %>
    </label>
    <%= select_tag 'internal_link_target',
      options_for_select(Alchemy::Page.link_target_options),
      class: 'alchemy_selectbox link_target' %>
  </div>
  <div class="submit">
    <%= button_tag Alchemy.t(:apply), class: 'create-link button', data: { link_type: 'internal' } %>
  </div>
<% end %>
