<% if @page == locked_page %>
  <%= render 'alchemy/admin/pages/current_page', current_page: @page %>
<% else %>
  <div class="locked_page wide" id="locked_page_<%= locked_page.id %>">
    <%= link_to alchemy.edit_admin_page_path(locked_page) do %>
      <%= render 'alchemy/admin/pages/page_status', page: locked_page, truncate: true %>
    <% end %>
    <%= form_tag(alchemy.unlock_admin_page_path(locked_page), remote: true) do %>
      <button class="icon_button small" title="<%= Alchemy.t(:explain_unlocking) %>">
        <%= render_icon('close tiny') %>
      </button>
    <% end %>
  </div>
<% end %>
