<% if @page.menus.any? %>
  <label class="checkbox">
    <input type="checkbox" disabled checked>
    <%= Alchemy.t(:attached_to) %>
  </label>
  <% @page.menus.each do |menu| %>
    <span class="page-menu-name label">
      <%= I18n.t(menu.name, scope: [:alchemy, :menu_names]) %>
    </span>
  <% end %>
<% elsif Alchemy::Node.roots.where(language: @page.language).any? %>
  <%= page_status_checkbox(@page, :visible) %>
  <%= f.input :menu_id, collection: Alchemy::Node.roots.map { |n|
      [I18n.t(n.name, scope: [:alchemy, :menu_names]), n.id]
    },
    prompt: Alchemy.t('Please choose a menu'),
    input_html: { class: 'alchemy_selectbox' },
    wrapper_html: { style: @page.visible? ? 'display: block' : 'display: none' },
    label: false %>
  <script>
    (function() {
      var $wrapper = $('.input.page_menu_id')
      $('#page_visible').click(function() {
        if ($(this).is(':checked')) {
          $wrapper.show()
        } else {
          $wrapper.find('select').val('')
          $wrapper.hide()
        }
      })
    })()
  </script>
<% else %>
  <%= page_status_checkbox(@page, :visible) %>
<% end %>
