<div class="page_status_and_name" id="page_<%= page.id %>_status">
  <% if page.definition.blank? %>
    <span class="inline warning icon" title="<%= Alchemy.t(:page_definition_missing) %>"></span>
  <% end %>
  <span class="page_name"><%= page.name %></span>
  <%- if multi_language? -%>
    <span class="page_language" title="<%= page.language.name %>">
      <%= page.language_code %>
    </span>
  <%- end -%>
  <%= render 'alchemy/admin/pages/page_infos', page: page %>
</div>
