<span class="page_status_and_name" id="page_<%= @page.id %>_status">
    <span class="page_name"><%= @page.name %></span>
    <%- if multi_language? -%>
    <span class="page_language"><%= @page.language_code %></span>
    <%- end -%>
    <span class="page_status <%= @page.public ? 'public' : 'not_public' %>" title="<%= @page.public ? _t('Page public') : _t('Page not public') %>"></span>
    <span class="page_status <%= @page.visible ? 'visible' : 'not_visible' %>" title="<%= @page.visible ? _t('Page visible') : _t('Page not visible') %>"></span>
    <span class="page_status <%= @page.restricted ? 'restricted' : 'not_restricted' %>" title="<%= @page.restricted ? _t('Page restricted') : _t('Page not restricted') %>"></span>
</span>
