<li id="page_{{id}}" class="page_level_{{level}} {{page_layout}}" data-slug="{{slug}}" data-restricted="{{restricted}}" data-visible="{{visible}}" data-external="{{redirects_to_external}}">
  <div class="sitemap_page{{#if locked}} locked{{/if}}" name="{{name}}">
    <div class="sitemap_left_images">
      <% unless @sorting %>
        {{#unless root_or_leaf}}
        <%= link_to(
          '',
          alchemy.fold_admin_page_path(page),
          remote: true,
          method: :post,
          class: "icon-{{#if folded}}plus{{else}}minus{{/if}}",
          title: "{{#if folded}}#{Alchemy.t('Show childpages')}{{else}}#{Alchemy.t('Hide childpages')}{{/if}}",
          id: "fold_button_{{id}}"
        )
        %>
        {{/unless}}
      <% end %>
    </div>
    <div class="sitemap_right_tools">
      <%- unless @sorting -%>
        {{#if permissions.info}}
        <div class="button_with_label sitemap_tool">
          <%= link_to_dialog(
            render_icon(:info),
            alchemy.info_admin_page_path(page),
            {
              title: Alchemy.t(:page_infos),
              size: '520x290'
            }
          ) %>
          <label class="center"><%= Alchemy.t(:page_infos) %></label>
        {{else}}
        <div class="sitemap_tool disabled with-hint">
          <%= render_icon(:info) %>
          <span class="hint-bubble">
            <%= Alchemy.t('Your user role does not allow you to edit this page') %>
          </span>
        {{/if}}
        </div>
        {{#if permissions.configure}}
        <div class="button_with_label sitemap_tool">
          <%= link_to_dialog(
            render_icon(:settings),
            alchemy.configure_admin_page_path(page),
            {
              title: Alchemy.t(:edit_page_properties),
              size: page.redirects_to_external? ? '450x330' : '450x680'
            }
          ) -%>
          <label class="center"><%= Alchemy.t(:edit_page_properties) %></label>
        {{else}}
        <div class="sitemap_tool disabled with-hint">
          <%= render_icon(:settings) %>
          <span class="hint-bubble">
            <%= Alchemy.t('Your user role does not allow you to edit this page') %>
          </span>
        {{/if}}
        </div>
        {{#if permissions.copy}}
        <div class="button_with_label sitemap_tool">
          <%= link_to(
            render_icon(:duplicate),
            alchemy.insert_admin_clipboard_path(
              remarkable_type: page.class.name.demodulize.underscore.pluralize,
              remarkable_id: '__ID__',
            ).gsub('__ID__', '{{id}}'),
            remote: true,
            method: 'post'
          ) %>
          <label class="center"><%= Alchemy.t(:copy_page) %></label>
        {{else}}
        <div class="sitemap_tool disabled with-hint">
          <%= render_icon(:duplicate) %>
          <span class="hint-bubble">
            <%= Alchemy.t('Your user role does not allow you to edit this page') %>
          </span>
        {{/if}}
        </div>
        {{#if permissions.destroy}}
        <div class="button_with_label sitemap_tool">
          <%= link_to_confirm_dialog(
            render_icon(:destroy),
            Alchemy.t(:confirm_to_delete_page),
            url_for(
              controller: 'pages',
              action: 'destroy',
              id: '__ID__'
            ).gsub('__ID__', '{{id}}')
          ) -%>
          <label class="center"><%= Alchemy.t(:delete_page) %></label>
        {{else}}
        <div class="sitemap_tool disabled with-hint">
          <%= render_icon(:trash) %>
          <span class="hint-bubble">
            <%= Alchemy.t('Your user role does not allow you to edit this page') %>
          </span>
        {{/if}}
        </div>
        {{#if permissions.create}}
        <div class="button_with_label sitemap_tool">
          <%= link_to_dialog(
            render_icon(:add),
            alchemy.new_admin_page_path(parent_id: '__ID__').gsub('__ID__', '{{id}}'),
            {
              title: Alchemy.t(:create_page),
              size: '340x165',
              overflow: true
            }
          ) -%>
          <label class="left"><%= Alchemy.t(:create_page) %></label>
        {{else}}
        <div class="sitemap_tool disabled with-hint">
          <%= render_icon(:add) %>
          <span class="hint-bubble">
            <%= Alchemy.t('Your user role does not allow you to edit this page') %>
          </span>
        {{/if}}
        </div>
      <%- end -%>
    </div>
    <div class="page_infos" id="page_<%= page.id %>_infos">
      {{#if definition_missing}}
        <%= page_layout_missing_warning %>
      {{else}}
        {{#if permissions.edit_content}}
          <span class="page small {{#if locked}}icon-user with-hint{{/if}}">
            {{#if locked}}
              <span class="hint-bubble">
                {{locked_notice}}
              </span>
            {{/if}}
          </span>
        {{else}}
          <div class="page icon with-hint not-allowed">
            <span class="hint-bubble">
              <%= Alchemy.t('Your user role does not allow you to edit this page') %>
            </span>
          </div>
        {{/if}}
      {{/if}}
      <span class="page_status with-hint">
        <span class="icon-{{#unless public}}not-{{/unless}}public small {{#unless public}}icon-muted{{/unless}}"></span>
        <span class="hint-bubble">{{status_titles.public}}</span>
      </span>
      <span class="page_status with-hint">
        <span class="icon-{{#unless visible}}not-{{/unless}}visible small {{#unless visible}}icon-muted{{/unless}}"></span>
        <span class="hint-bubble">{{status_titles.visible}}</span>
      </span>
      <span class="page_status with-hint">
        <span class="icon-{{#unless restricted}}not-{{/unless}}restricted small {{#unless restricted}}icon-muted{{/unless}}"></span>
        <span class="hint-bubble">{{status_titles.restricted}}</span>
      </span>
    </div>
    {{#if redirects_to_external}}
      <div class="redirect_url" title="{{urlname}}">
        &raquo; <%= Alchemy.t('Redirects to') %>:
        {{ external_urlname }}
      </div>
    {{/if}}
    <div class="sitemap_sitename">
      {{#if redirects_to_external}}
        <span class="sitemap_pagename_link inactive">{{ name }}</span>
      {{else}}
        {{#if permissions.edit_content}}
          <span class="<% if @sorting %>{{#unless root}} handle icon-drag{{/unless}}<% end %>"></span>
          <%= link_to_unless(
            @sorting,
            '{{name}}',
            alchemy.edit_admin_page_path(page),
            title: Alchemy.t(:edit_page),
            class: "sitemap_pagename_link"
          ) { content_tag('span', '{{name}}', class: "sitemap_pagename_link") } -%>
        {{else}}
          <%= content_tag('span', '{{name}}', class: "sitemap_pagename_link") %>
        {{/if}}
      {{/if}}
    </div>
  </div>
  {{#if children}}
  <% unless @sorting %>{{#unless folded}}<% end %>
  <ul id="page_{{id}}_children" class="level_{{level}}_children">
    {{> list}}
  </ul>
  <% unless @sorting %>{{/unless}}<% end %>
  {{/if}}
</li>
