<li id="page_{{id}}" class="page_level_{{level}} {{page_layout}}" data-slug="{{slug}}" data-restricted="{{restricted}}" data-visible="{{visible}}" data-external="{{redirects_to_external}}">
  <div class="sitemap_page{{#if locked}} locked{{/if}}" name="{{name}}">
    <div class="sitemap_left_images<% if @sorting %>{{#unless root}} handle{{/unless}}<% end %>">
      <% unless @sorting %>
        {{#unless root_or_leaf}}
        <%= link_to(
          '',
          alchemy.fold_admin_page_path(page),
          remote: true,
          method: :post,
          class: "page_folder {{#if folded}}folded{{else}}collapsed{{/if}} spinner",
          title: "{{#if folded}}#{Alchemy.t('Show childpages')}{{else}}#{Alchemy.t('Hide childpages')}{{/if}}",
          id: "fold_button_{{id}}"
        )
        %>
        {{/unless}}
      <% end %>
      {{#if definition_missing}}
        <%= page_layout_missing_warning %>
      {{else}}
        <div class="page icon{{#if locked}} with-hint{{/if}}">
        {{#if locked}}
          <span class="hint-bubble">
            {{locked_notice}}
          </span>
        {{/if}}
        </div>
      {{/if}}
    </div>
    <div class="sitemap_right_tools">
      <%- unless @sorting -%>
        {{#each links}}
          {{#if this.permitted}}
          <div class="button_with_label sitemap_tool">
            {{> (lookup . 'template_name') this.template_locals }}
            <label class="{{this.label_position}}">{{this.label}}</label>
          </div>
          {{/if}}
        {{/each}}
      <%- end -%>
    </div>
    <div class="page_infos" id="page_<%= page.id %>_infos">
      <span class="page_status {{#unless public}}not_{{/unless}}public" title="{{status_titles.public}}"></span>
      <span class="page_status {{#unless visible}}not_{{/unless}}visible" title="{{status_titles.visible}}"></span>
      <span class="page_status {{#unless restricted}}not_{{/unless}}restricted" title="{{status_titles.restricted}}"></span>
    </div>
    {{#if redirects_to_external}}
      <div class="redirect_url" title="{{urlname}}">
        &raquo; <%= Alchemy.t('Redirects to') %>:
        {{ external_urlname }}
      </div>
    {{/if}}
    <div class="sitemap_sitename">
      {{#if redirects_to_external}}
        <span class="sitemap_pagename_link inactive">{{ name }}</span>
      {{else}}
        <%= link_to_unless(
          @sorting,
          '{{name}}',
          alchemy.edit_admin_page_path(page),
          title: Alchemy.t(:edit_page),
          class: "sitemap_pagename_link"
        ) { content_tag('span', '{{name}}', class: "sitemap_pagename_link") } -%>
      {{/if}}
    </div>
  </div>
  {{#if children}}
  <% unless @sorting %>{{#unless folded}}<% end %>
  <ul id="page_{{id}}_children" class="level_{{level}}_children">
    {{> list}}
  </ul>
  <% unless @sorting %>{{/unless}}<% end %>
  {{/if}}
</li>
