<tr id="page_<%= page.id %>" class="sitemap_page<%= page.locked ? ' locked' : '' %> <%= cycle('even', 'odd') %>">
  <td class="icon">
    <% if page.definition.blank? %>
      <span class="inline warning icon" title="<%= _t(:page_definition_missing) %>"></span>
    <% else %>
      <%= render_icon(:page) %>
    <% end %>
  </td>
  <td class="name">
    <% if page.parents.present? %>
      <%= page.parents.collect(&:name).join(' - ') %>
      -
    <% end %>
    <% if can?(:edit, page) %>
      <%= link_to(
        page.name,
        alchemy.edit_admin_page_path(page),
        title: _t(:edit_page)
      ) -%>
    <% else %>
      <%= page.name %>
    <% end %>
  </td>
  <td><%= page.urlname %></td>
  <td class="date"><%= l(page.updated_at) %></td>
  <td class="date"><%= page.creator.try(:name) %></td>
  <td class="center" id="page_<%= page.id %>_infos">
    <span class="page_status <%= page.public ? 'public' : 'not_public' %>" title="<%= page.status_title(:public) %>"></span>
    <span class="page_status <%= page.restricted ? 'restricted' : 'not_restricted' %>" title="<%= page.status_title(:restricted) %>"></span>
  </td>
  <td class="tools">
    <%- if can?(:destroy, page) -%>
      <%= link_to_confirm_dialog(
        render_icon('delete_page'),
        _t(:confirm_to_delete_page),
        url_for(
          controller: 'pages',
          action: 'destroy',
          id: page.id
        ),
        {
          title: _t(:delete_page),
          class: 'sitemap_tool'
        }
      ) -%>
    <%- end -%>
    <% if can?(:edit, page) %>
      <%= link_to(
        render_icon(:edit),
        alchemy.edit_admin_page_path(page),
        title: _t(:edit_page)
      ) -%>
    <% end %>
    <% if can?(:configure, page) %>
      <%= link_to_dialog(
        render_icon('configure_page'),
        alchemy.configure_admin_page_path(page),
        {
          title: _t(:edit_page_properties),
          size: '450x720'
        },
        title: _t(:edit_page_properties),
        class: 'sitemap_tool'
      ) -%>
    <% end %>
    <% if can?(:create, Alchemy::Page) %>
      <%= link_to_dialog(
        render_icon(:add_page),
        alchemy.new_admin_page_path(parent_id: page.id),
        {
          title: _t(:create_page),
          size: '340x240'
        },
        title: _t(:create_page),
        class: 'sitemap_tool'
      ) -%>
    <% end %>
  </td>
</tr>