<div id="sitemap-wrapper">
</div>

<script id="sitemap-template" type="text/x-handlebars-template">
  <ul id="sitemap" class="list<%= @sorting ? ' sorting' : nil %>">
    {{> list}}
  </ul>
</script>

<script id="sitemap-list" type="text/x-handlebars-template">
  {{#each children}}
  <%= render partial: page_partial, object: @page_root %>
  {{/each}}
</script>

<script type="text/javascript">
 $(function() {
   Alchemy.Sitemap.init(
     '<%= alchemy.tree_admin_pages_path %>',
     <%= @page_root.id %>,
     <%= full %>
     <% if @sorting  %>
     ,function () {
       Alchemy.PageSorter.init();
     }
     <% end %>
     <% if @link %>
     ,function () {
       window.dialog.attachEvents();
     }
     <% end %>
   );
 });
</script>
