<tr class="<%= cycle(:even, :odd) %>" data-page-id="<%= page.id %>">
  <td class="icon">
    <% if can?(:edit_content, page) %>
      <% if page.locked? %>
        <sl-tooltip class="like-hint-tooltip" content="<%= Alchemy.t("This page is locked", name: page.locker_name) %>" placement="bottom-start">
          <i class="icon ri-file-edit-fill ri-fw ri-xl"></i>
        </sl-tooltip>
      <% else %>
        <i class="icon ri-file-line ri-fw ri-xl"></i>
      <% end %>
    <% else %>
      <sl-tooltip class="like-hint-tooltip" content="<%= Alchemy.t("Your user role does not allow you to edit this page") %>" placement="bottom-start">
        <i class="icon ri-file-forbid-line ri-fw ri-xl"></i>
      </sl-tooltip>
    <% end %>
  </td>
  <td class="string name">
    <%= link_to_if(
      can?(:edit_content, page),
      page.name,
      alchemy.edit_admin_page_path(page),
      title: Alchemy.t(:edit_page),
    ) { content_tag(:span, page.name) } -%>
  </td>
  <td class="url">
    <%= page.url_path %>
  </td>
  <td class="page_layout">
    <%= Alchemy.t(page.page_layout, scope: "page_layout_names", default: page.page_layout.to_s.humanize) %>
  </td>
  <td class="tags">
    <% page.tag_list.each do |tag| %>
      <%= content_tag(:span, tag, class: "tag") %>
    <% end %>
  </td>
  <td class="date">
    <%= l(page.updated_at, format: :"alchemy.default") %>
  </td>
  <td class="status center">
    <%= render "alchemy/admin/pages/page_status", page: page %>
  </td>
  <td class="tools">
    <% if can?(:info, page) %>
      <sl-tooltip content="<%= Alchemy.t(:page_infos) %>">
        <%= link_to_dialog(
          render_icon('info-circle'),
          alchemy.info_admin_page_path(page),
          {
            title: Alchemy.t(:page_infos),
            size: '520x290'
          },
          class: "icon_button"
        ) %>
      </sl-tooltip>
    <% end %>
    <% if can?(:configure, page) %>
      <sl-tooltip content="<%= Alchemy.t(:edit_page_properties) %>">
        <%= link_to_dialog(
          render_icon(:cog),
          alchemy.configure_admin_page_path(page),
          {
            title: Alchemy.t(:edit_page_properties),
            size: '450x680'
          },
          class: "icon_button"
        ) -%>
      </sl-tooltip>
    <% end %>
    <% if can?(:copy, page) %>
      <sl-tooltip content="<%= Alchemy.t(:copy_page) %>">
        <%= link_to(
          render_icon(:copy),
          alchemy.insert_admin_clipboard_path(
            remarkable_type: :pages,
            remarkable_id: page.id,
          ),
          remote: true,
          method: :post,
          class: "icon_button"
        ) %>
      </sl-tooltip>
    <% end %>
    <% if can?(:destroy, page) %>
      <sl-tooltip content="<%= Alchemy.t(:delete_page) %>">
        <%= link_to_confirm_dialog(
          render_icon(:minus),
          Alchemy.t(:confirm_to_delete_page),
          alchemy.admin_page_path(page),
          class: "icon_button"
        ) -%>
      </sl-tooltip>
    <% end %>
  </td>
</tr>
