<% remote_form_for([:admin, @page]) do |f| %>
	<div id="errors" style="display:none"></div>
	<table id="page_names">
		<tr>
			<td><%= _("page_type") %>: </td>
			<td>
			  <%= @page.layout_display_name %>
			</td>
		</tr>
		<tr>
			<td><%= _("page_status") %>: </td>
			<td>
				<%= f.check_box :visible -%>
				<%= f.label :visible, _('page_visible_in_navigation') %><br/>
				<%- if configuration(:sitemap)[:show_flag] -%><br/>
					<%= f.check_box :sitemap -%>
					<%= f.label :sitemap, _('show_page_in_sitemap') %>
				<%- end -%>
			</td>
		</tr>
		<tr>
			<td colspan="2"><strong><%= _("names") %></strong></td>
		</tr>
		<tr>
			<td><%= f.label( "name", _("navigation_name")) %>:&nbsp;</td>
			<td><%= f.text_field( "name", :size => 31, :class => "thin_border long") %></td>
		</tr>
		<tr>
			<td><%= f.label( "urlname", _("URL")) %>: </td>
			<td><%= f.text_field "urlname", :size => 31, :class => "thin_border long" %></td>
		</tr>
		<tr>
			<td><%= f.label( "title", _("page_title")) %>: </td>
			<td><%= f.text_field "title", :size => 31, :class => "thin_border long" %></td>
		</tr>
		<tr>
			<td colspan="2" align="right"><%= submit_tag _("save"), :class => 'button' %></td>
		</tr>
	</table>
<% end %>
