<%= form_for([:admin, @page], :remote => true) do |f| %>
  <div id="errors"></div>
  <table id="page_names">
    <tr>
      <td class="label"><%= t("page_type") %>: </td>
      <td class="select">
        <%= f.select('page_layout', @page_layouts, {}, {:class => 'alchemy_selectbox long'}) %>
      </td>
    </tr>
    <% unless @page.layoutpage %>
    <tr>
      <td class="label"><%= t("page_status") %>: </td>
      <td class="checkbox long">
        <%= f.check_box :public %>
        <%= f.label :public %><br/>
        <%= f.check_box :visible %>
        <%= f.label :visible %><br/>
        <%= f.check_box :restricted %>
        <%= f.label :restricted %>
        <% if configuration(:sitemap)[:show_flag] %><br/>
        <%= f.check_box :sitemap %>
        <%= f.label :sitemap %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% unless @page.layoutpage %>
    <tr>
      <td colspan="2" class="heading"><%= t("names") %></td>
    </tr>
    <% end %>
    <tr>
      <td class="label"><%= f.label "name" %>: </td>
      <td class="input"><%= f.text_field "name", :size => 31, :class => "thin_border long", :autofocus => true %></td>
    </tr>
    <% unless @page.layoutpage %>
    <tr>
      <td class="label"><%= f.label "urlname" %>: </td>
      <td class="input"><%= f.text_field "urlname", :size => 31, :class => "thin_border long" %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label "title" %>: </td>
      <td class="input"><%= f.text_field "title", :size => 31, :class => "thin_border long" %></td>
    </tr>
    <tr>
      <td colspan="2" class="heading"><%= t("meta_data") %></td>
    </tr>
    <tr>
      <td class="label"><%= t("search_engines") %>: </td>
      <td class="checkbox long">
        <%= f.check_box "robot_index" %>
        <%= f.label "robot_index" %><br/>
        <%= f.check_box "robot_follow" %>
        <%= f.label "robot_follow" %><br/>
      </td>
    </tr>
    <tr>
      <td class="label"><%= f.label "meta_description" %>:&nbsp;</td>
      <td class="input"><%= f.text_area "meta_description", :class => "thin_border long" %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label "meta_keywords" %>*:&nbsp;</td>
      <td class="input">
        <%= f.text_area "meta_keywords", :class => "thin_border long" %><br/>
        <% if !@page.layoutpage %>
        <p class="foot_note">
          * <%= t('pages.update.comma_seperated') %>
        </p>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% if @page.taggable? %>
    <tr>
      <td class="label"><%= f.label :tag_list %>*:&nbsp;</td>
      <td class="input">
        <%= render 'alchemy/admin/partials/autocomplete_tag_list', :f => f, :object => @page %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2" class="submit">
        <%= f.button t("save"), :class => 'button' %>
      </td>
    </tr>
  </table>
<% end %>
