<% remote_form_for([:admin, @page]) do |f| %>
	<div id="errors" style="display:none"></div>
	<table id="page_names">
		<tr>
			<td class="<%= @page.layoutpage ? 'label' : '' %>"><%= _("page_type") %>: </td>
			<td>
			  <%= @page.layout_display_name %>
			</td>
		</tr>
		<%- unless @page.layoutpage -%>
		<tr>
			<td><%= _("page_status") %>: </td>
			<td>
				<%= f.check_box :public -%>
				<%= f.label :public, _('page_public') %><br/>
				<%= f.check_box :visible -%>
				<%= f.label :visible, _('page_visible_in_navigation') %><br/>
				<%= f.check_box :restricted -%>
				<%= f.label :restricted, _('page_restricted') %>
				<%- if configuration(:sitemap)[:show_flag] -%><br/>
				<%= f.check_box :sitemap -%>
				<%= f.label :sitemap, _('show_page_in_sitemap') %>
				<%- end -%>
			</td>
		</tr>
		<%- end -%>
		<%- unless @page.layoutpage -%>
		<tr>
			<td colspan="2"><strong><%= _("names") %></strong></td>
		</tr>
		<%- end -%>
		<tr>
			<td><%= f.label( "name", _("name")) %>: </td>
			<td><%= f.text_field( "name", :size => 31, :class => "thin_border long") %></td>
		</tr>
		<%- unless @page.layoutpage -%>
		<tr>
			<td><%= f.label( "urlname", _("url_name")) %>: </td>
			<td><%= f.text_field "urlname", :size => 31, :class => "thin_border long" %></td>
		</tr>
		<tr>
			<td><%= f.label( "title", _("page_title")) %>: </td>
			<td><%= f.text_field "title", :size => 31, :class => "thin_border long" %></td>
		</tr>
		<tr>
			<td colspan="2"><strong><%= _("meta_data") %></strong></td>
		</tr>
		<tr>
			<td><%= _("search_engines") %>: </td>
			<td>
				<%= f.check_box "robot_index" %><%= f.label( "robot_index", _("robot_index")) %><br />
				<%= f.check_box "robot_follow" %><%= f.label( "robot_follow", _("robot_follow")) %>
			</td>
		</tr>
		<tr>
			<td><%= f.label( "meta_description", _("meta_description")) %>:&nbsp;</td>
			<td><%= f.text_area "meta_description", :class => "thin_border long" %></td>
		</tr>
		<tr>
			<td><%= f.label( "meta_keywords", _("meta_keywords")) %>*:&nbsp;</td>
			<td>
			  <%= f.text_area "meta_keywords", :class => "thin_border long" %><br/>
			  <span style="font-size:10px">*<%= _('pages.update.comma_seperated') %></span>
			</td>
		</tr>
		<%- end -%>
		<tr>
			<td colspan="2" align="right"><%= submit_tag _("save"), :class => 'button' %></td>
		</tr>
	</table>
<% end %>
