<%= alchemy_form_for([:admin, @page], :remote => true) do |f| %>
  <%= f.input :page_layout, collection: @page_layouts, label: _t(:page_type), include_blank: false, input_html: {class: 'alchemy_selectbox'} %>
  <div class="input">
    <label><%= _t(:page_status) %></label>
    <div class="checkbox_group">
      <%= f.check_box :visible %>
      <%= f.label :visible %><br/>
      <% if configuration(:sitemap)[:show_flag] %><br/>
        <%= f.check_box :sitemap %>
        <%= f.label :sitemap %>
      <% end %>
    </div>
  </div>
  <h2><%= _t(:names) %></h2>
  <%= f.input :name, autofocus: true %>
  <%= f.input :urlname, as: 'string' %>
  <%= f.input :title %>
  <% if @page.taggable? %>
    <div class="input string">
      <%= f.label :tag_list %>
      <%= render 'alchemy/admin/partials/autocomplete_tag_list', :f => f, :object => @page %>
    </div>
  <% end %>
  <%= f.submit _t(:save) %>
<% end %>
