<%= form_for([:admin, @page], :remote => true) do |f| %>
	<div id="errors" style="display: none"></div>
	<table id="page_names">
		<tr>
			<td class="label"><%= t("page_type", :scope => :alchemy) %>: </td>
			<td class="value"><%= @page.layout_display_name %></td>
		</tr>
		<%- unless @page.layoutpage -%>
		<tr>
			<td class="label"><%= t("page_status", :scope => :alchemy) %>: </td>
			<td class="checkbox">
				<%= f.check_box :public -%>
				<%= f.label :public %><br/>
				<%= f.check_box :visible -%>
				<%= f.label :visible %><br/>
				<%= f.check_box :restricted -%>
				<%= f.label :restricted %>
				<%- if configuration(:sitemap)[:show_flag] -%><br/>
				<%= f.check_box :sitemap -%>
				<%= f.label :sitemap %>
				<%- end -%>
			</td>
		</tr>
		<%- end -%>
		<%- unless @page.layoutpage -%>
		<tr>
			<td colspan="2" class="heading"><%= t("names", :scope => :alchemy) %></td>
		</tr>
		<%- end -%>
		<tr>
			<td class="label"><%= f.label "name" %>: </td>
			<td class="input"><%= f.text_field "name", :size => 31, :class => "thin_border long" %></td>
		</tr>
		<%- unless @page.layoutpage -%>
		<tr>
			<td class="label"><%= f.label "urlname" %>: </td>
			<td class="input"><%= f.text_field "urlname", :size => 31, :class => "thin_border long" %></td>
		</tr>
		<tr>
			<td class="label"><%= f.label "title" %>: </td>
			<td class="input"><%= f.text_field "title", :size => 31, :class => "thin_border long" %></td>
		</tr>
		<tr>
			<td colspan="2" class="heading"><%= t("meta_data", :scope => :alchemy) %></td>
		</tr>
		<tr>
			<td class="label"><%= t("search_engines", :scope => :alchemy) %>: </td>
			<td class="checkbox">
				<%= f.check_box "robot_index" %>
				<%= f.label "robot_index" %><br/>
				<%= f.check_box "robot_follow" %>
				<%= f.label "robot_follow" %><br/>
			</td>
		</tr>
		<tr>
			<td class="label"><%= f.label "meta_description" %>:&nbsp;</td>
			<td class="input"><%= f.text_area "meta_description", :class => "thin_border long" %></td>
		</tr>
		<tr>
			<td class="label"><%= f.label "meta_keywords" %>*:&nbsp;</td>
			<td class="input">
			  <%= f.text_area "meta_keywords", :class => "thin_border long" %><br/>
			  <span style="font-size:10px">*<%= t('pages.update.comma_seperated', :scope => :alchemy) %></span>
			</td>
		</tr>
		<%- end -%>
		<tr>
			<td colspan="2" align="right"><%= f.button t("save", :scope => :alchemy), :class => 'button' %></td>
		</tr>
	</table>
<% end %>
