<% content_for :javascript_includes do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<% content_for :toolbar do %>
<div class="toolbar_buttons">
  <%= render 'alchemy/admin/partials/site_select' %>
  <%= render 'alchemy/admin/partials/language_tree_select' %>
  <% if can?(:flush, Alchemy::Page) %>
  <div class="button_with_label">
    <%= link_to(
      render_icon(:eraser),
      alchemy.flush_admin_pages_path,
      :remote => true,
      :method => :post,
      :class => 'icon_button please_wait',
      :title => Alchemy.t('Flush page cache')
    ) %>
    <label><%= Alchemy.t('Flush page cache') %></label>
  </div>
  <% end %>
  <% if can?(:sort, Alchemy::Page) %>
  <div class="button_with_label">
    <%= link_to(
      render_icon(:random),
      alchemy.sort_admin_pages_path,
      method: :get,
      class: 'icon_button',
      title: Alchemy.t('Sort pages')
    ) %>
    <label><%= Alchemy.t('Sort pages') %></label>
  </div>
  <% end %>
  <div class="button_with_label" id="clipboard_button">
    <%= link_to_dialog(
      render_icon(clipboard_empty?('pages') ? :clipboard : :paste),
      alchemy.admin_clipboard_path(:remarkable_type => 'pages'),
      {
        :title => Alchemy.t('Clipboard'),
        :size => '380x305'
      },
      :class => 'icon_button',
      :title => Alchemy.t('Show clipboard')
    ) %>
    <label><%= Alchemy.t('Show clipboard') %></label>
  </div>
</div>
<div class="js_filter_field_box">
  <%= text_field_tag 'filter', '',
    class: 'thin_border js_filter_field search_input_field',
    placeholder: Alchemy.t(:search),
    id: nil %>
  <%= render_icon :search %>
  <%= link_to(render_icon(:times, size: 'xs'), '#', {
    class: "js_filter_field_clear",
    title: Alchemy.t(:click_to_show_all)
  }) %>
</div>
<% end %>

<div id="archive_all">
<% if @page_root %>
  <h2 id="page_filter_result"></h2>

  <%= render 'sitemap', page_partial: 'page', full: !!@sorting %>

<% elsif can?(:create, Alchemy::Page) %>

  <%= render partial: 'create_language_form' %>

<% else %>

  <%= render_message :warn do %>
    <h2>No language root page found.</h2>
    <p>Please ask the admin to create one.</p>
  <% end %>

<% end %>
</div>
