<% content_for :javascript_includes do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<% content_for :toolbar do %>
  <%= render "alchemy/admin/pages/toolbar" %>
  <div class="search_form">
    <div class="search_field">
      <label>
        <%= text_field_tag 'filter', '',
          class: 'search_input_field',
          placeholder: Alchemy.t(:search),
          id: nil %>
        <%= render_icon :search %>
      </label>
      <%= link_to(render_icon(:times, size: 'xs'), '#', {
        class: "search_field_clear",
        title: Alchemy.t(:click_to_show_all)
      }) %>
    </div>
  </div>
<% end %>

<div id="archive_all">
<% if @page_root %>
  <h2 id="page_filter_result"></h2>

  <%= render 'sitemap', page_partial: 'page', full: !!@sorting %>

<% elsif can?(:create, Alchemy::Page) %>

  <%= render partial: 'create_language_form' %>

<% else %>

  <%= render_message :warn do %>
    <h2>No language root page found.</h2>
    <p>Please ask the admin to create one.</p>
  <% end %>

<% end %>
</div>
