<div class="resource_info">
  <% if @page.has_hint? %>
  <%= render_message(:hint) do %>
    <%= @page.hint %>
  <% end %>
  <% end %>
  <div class="value">
    <label>
      <% if @page.definition.blank? %>
        <%= page_layout_missing_warning %>
      <% end %>
      <%= Alchemy::Page.human_attribute_name(:page_layout) %>
    </label>
    <p><%= @page.layout_display_name %></p>
  </div>
  <div class="value">
    <label><%= Alchemy::Page.human_attribute_name(:urlname) %></label>
    <p><%= "/#{@page.urlname}" %></p>
  </div>
  <div class="value">
    <label><%= Alchemy.t(:page_status) %></label>
    <p>
      <span class="page_status">
        <% if @page.public? %>
          <%= render_icon(:cloud, size: "1x") %>
        <% else %>
          <%= render_icon("cloud-off", size: "1x") %>
        <% end %>
        <%= @page.status_message(:public) %>
      </span>
      <span class="page_status">
        <% if @page.restricted? %>
          <%= render_icon(:lock, size: "1x") %>
        <% else %>
          <%= render_icon("lock-unlock", size: "1x") %>
        <% end %>
        <%= @page.status_message(:restricted) %>
      </span>
    </p>
  </div>
  <div class="value">
    <label><%= Alchemy.t(:page_was_created) %></label>
    <p><%= Alchemy.t(:from_at) % {by: @page.creator_name, at: l(@page.created_at, format: :'alchemy.page_status')} %></p>
  </div>
  <div class="value">
    <label><%= Alchemy.t(:page_was_updated) %></label>
    <p><%= Alchemy.t(:from_at) % {by: @page.updater_name, at: l(@page.updated_at, format: :'alchemy.page_status')} %></p>
  </div>
  <% if @page.locked? %>
  <div class="value">
    <label><%= Alchemy.t(:currently_edited_by) %></label>
    <p><%= @page.locker_name %></p>
  </div>
  <% end %>
</div>
