<div class="resource_info">
  <% if @page.has_hint? %>
  <%= render_message do %>
    <%= @page.hint %>
  <% end %>
  <% end %>
  <div class="value">
    <label><%= _t(:page_type) %></label>
    <p><%= @page.layout_display_name %></p>
  </div>
  <div class="value">
    <label><%= _t(:page_status) %></label>
    <p><%= combined_page_status(@page) %></p>
  </div>
  <div class="value">
    <label><%= _t(:page_was_created) %></label>
    <p><%= _t(:from_at) % {by: @page.creator_name, at: l(@page.created_at, format: :page_status)} %></p>
  </div>
  <div class="value">
    <label><%= _t(:page_was_updated) %></label>
    <p><%= _t(:from_at) % {by: @page.updater_name, at: l(@page.updated_at, format: :page_status)} %></p>
  </div>
  <% if @page.locked? %>
  <div class="value">
    <label><%= _t(:currently_edited_by) %></label>
    <p><%= @page.locker_name %></p>
  </div>
  <% end %>
</div>
