<div id="overlay_tabs">
  <ul>
    <li><a href="#overlay_tab_internal_link"><%= _t('link_overlay_tab_label.internal') %></a></li>
    <li><a href="#overlay_tab_external_link"><%= _t('link_overlay_tab_label.external') %></a></li>
    <li><a href="#overlay_tab_file_link"><%= _t('link_overlay_tab_label.file') %></a></li>
    <%- if configuration(:mailer)[:contactform_linking] -%>
    <li><a href="#overlay_tab_contactform_link"><%= _t('link_overlay_tab_label.contactform') %></a></li>
    <%- end -%>
  </ul>
  <div id="overlay_tab_internal_link">
    <%= render partial: 'internal_link' %>
  </div>
  <div id="overlay_tab_external_link">
    <%= render partial: 'external_link' %>
  </div>
  <div id="overlay_tab_file_link">
    <%= render partial: 'file_link' %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  if (Alchemy.LinkOverlay.current.linked_element) {
    Alchemy.LinkOverlay.selectTab();
  }
</script>
