<div id="overlay_tabs">
  <ul>
    <li><a href="#overlay_tab_internal_link"><%= _t('link_overlay_tab_label.internal') %></a></li>
    <li><a href="#overlay_tab_external_link"><%= _t('link_overlay_tab_label.external') %></a></li>
    <li><a href="#overlay_tab_file_link"><%= _t('link_overlay_tab_label.file') %></a></li>
  </ul>
  <div id="overlay_tab_internal_link">
    <%= render partial: 'internal_link' %>
  </div>
  <div id="overlay_tab_external_link">
    <%= render partial: 'external_link' %>
  </div>
  <div id="overlay_tab_file_link">
    <%= render partial: 'file_link' %>
  </div>
</div>
