<%- if @clipboard_items.blank? -%>
  <%= render 'new_page_form' %>
<%- else -%>
<div id="overlay_tabs">
  <ul>
    <li><a href="#create_page_tab"><%= _t('New page') %></a></li>
    <li><a href="#paste_page_tab"><%= _t('Paste from clipboard') %></a></li>
  </ul>
  <div id="create_page_tab">
    <%= render 'new_page_form' %>
  </div>
  <div id="paste_page_tab">
    <%= alchemy_form_for [:admin, @page] do |f| %>
      <%= f.hidden_field(:parent_id) %>
      <div class="input select">
        <label for="paste_from_clipboard" class="control-label"><%= _t("Page") %></label>
        <%= select_tag 'paste_from_clipboard',
          clipboard_select_tag_options(@clipboard_items),
          class: 'alchemy_selectbox' %>
      </div>
      <%= f.input :name %>
      <%= f.submit _t(:paste) %>
    <% end %>
  </div>
</div>
<%- end -%>
