<% content_for :toolbar do %>
  <div class="button_with_label">
    <%= link_to alchemy.admin_pages_path, class: 'icon_button' do %>
      <%= render_icon 'angle-double-left' %>
    <% end %>
    <label><%= Alchemy.t(:cancel) %></label>
  </div>
<% end %>

<div id="sort_panel">
  <%= render_message do %>
    <%= Alchemy.t(:explain_sitemap_dragndrop_sorting) %>
  <% end %>
  <div class="buttons">
    <%= button_tag Alchemy.t('save order'), id: 'save_page_order' %>
  </div>
</div>

<%= render 'sitemap', page_partial: 'page', full: true %>
