<div id="jscropper">
<% if @no_image_notice %>
  <%= render_message :warn do %>
    <%= @no_image_notice %>
  <% end %>
<% else %>
  <%= render_message do %>
    <%= simple_format _t(:explain_cropping) %>
  <% end %>
  <div class="thumbnail_background">
    <%= image_tag(
      show_alchemy_picture_path(@picture, size: '800x600', format: 'png'),
      id: 'imageToCrop'
    ) %>
  </div>
  <%= form_for(
    @essence_picture,
    url: alchemy.admin_essence_picture_path(@essence_picture, options: @options.to_json),
    id: 'image_cropper_form',
    remote: true
  ) do |f| %>
    <%= f.hidden_field :crop_from %>
    <%= f.hidden_field :crop_size %>
    <%= hidden_field_tag :content_id, @content.id %>
    <%= f.button "#{render_icon(:true)} #{_t(:apply)}".html_safe, class: 'with_icon' %>
    <%= link_to _t('Reset Imagemask'), '#', {
      onclick: 'Alchemy.ImageCropper.reset(); return false',
      class: 'reset_mask'
    } %>
  <% end %>
</div>
<% end %>
<% if @initial_box && @default_box %>
<script type="text/javascript">
  Alchemy.ImageLoader('#jscropper .thumbnail_background');
  $('#imageToCrop').load(function() {
    Alchemy.ImageCropper.init(
      [<%= @initial_box[:x1] %>, <%= @initial_box[:y1] %>, <%= @initial_box[:x2] %>, <%= @initial_box[:y2] %>],
      <%= @size_x %>,
      <%= @size_y %>,
      [<%= @default_box[:x1] %>, <%= @default_box[:y1] %>, <%= @default_box[:x2] %>, <%= @default_box[:y2] %>],
      <%= @ratio %>,
      [<%= @picture.image_file_width %>, <%= @picture.image_file_height %>]
    );
  });
</script>
<% end %>
