<div id="jscropper">
<% if @no_image_notice %>
  <%= render_message :warn do %>
    <%= @no_image_notice %>
  <% end %>
<% else %>
  <%= render_message do %>
    <%= simple_format Alchemy.t(:explain_cropping) %>
  <% end %>
  <div class="thumbnail_background">
    <%= image_tag @picture.url(size: '800x600', flatten: true), id: 'imageToCrop' %>
  </div>
  <%= form_for(
    @essence_picture,
    url: alchemy.admin_essence_picture_path(@essence_picture, options: options_from_params),
    id: 'image_cropper_form',
    remote: true
  ) do |f| %>
    <%= f.hidden_field :crop_from %>
    <%= f.hidden_field :crop_size %>
    <%= hidden_field_tag :content_id, @content.id %>
    <%= button_tag Alchemy.t('Reset Imagemask'), {
      onclick: 'Alchemy.ImageCropper.reset(); return false',
      class: 'reset_mask',
      type: 'reset'
    } %>
    <%= f.button Alchemy.t(:apply) %>
  <% end %>
</div>
<% end %>
<% if @initial_box && @default_box %>
<script type="text/javascript">
  Alchemy.ImageLoader('#jscropper .thumbnail_background');
  $('#imageToCrop').load(function() {
    Alchemy.ImageCropper.init(
       <%= @initial_box.values.to_json %>,
      <% if @essence_picture.can_be_cropped_to("#{@min_size[:width]}x#{@min_size[:height]}") %>
        <%= @min_size.values.to_json %>,
      <% else %>
        <%= false %>,
      <% end %>
      <%= @default_box.values.to_json %>,
      <%= @ratio %>,
      <%= @picture.image_size.values.to_json %>
    );
  });
</script>
<% end %>
