<div id="jscropper">
<% if @no_image_notice %>
  <%= render_message do %>
    <%= @no_image_notice %>
  <% end %>
<% else %>
  <%= render_message do %>
    <%= _t('explain cropping') %>
  <% end %>
  <div class="thumbnail_background">
    <%= image_tag(
      show_alchemy_picture_path(@essence_picture.picture, :size => '800x600', :format => :png),
      :id => 'imageToCrop'
    ) %>
  </div>
  <%= form_for(
    @essence_picture,
    :url => alchemy.admin_essence_picture_path(@essence_picture, :options => @options),
    :id => 'image_cropper_form',
    :remote => true
  ) do |f| %>
    <%= f.hidden_field :crop_from %>
    <%= f.hidden_field :crop_size %>
    <%= hidden_field_tag :content_id, @content.id %>
    <%= link_to(render_icon('delete-small') + _t('Reset Imagemask'), '#', {
      :onclick => 'Alchemy.ImageCropper.reset()',
      :class => 'button with_icon'
    }) %>
    <%= f.button _t("apply"), :class => 'button' %>
  <% end %>
<% end %>
</div>
<script type="text/javascript">
  Alchemy.ImageLoader('#imageToCrop');
  $('#imageToCrop').load(function() {
    Alchemy.ImageCropper.init(
      [<%= @initial_box[:x1] %>, <%= @initial_box[:y1] %>, <%= @initial_box[:x2] %>, <%= @initial_box[:y2] %>],
      <%= @size_x %>,
      <%= @size_y %>,
      [<%= @default_box[:x1] %>, <%= @default_box[:y1] %>, <%= @default_box[:x2] %>, <%= @default_box[:y2] %>],
      <%= @ratio %>,
      [<%= @essence_picture.picture.image_file_width %>, <%= @essence_picture.picture.image_file_height %>]
    );
  });
</script>