<% unless pages.blank? -%>
  <%= content_tag(
    'ul',
    :class => html_options[:class] || "navigation level_#{pages.first.level - 1}",
    :id => html_options[:id]
  ) do %>
    <% pages.each do |page| -%>
      <% position = 'first' if page == pages.to_a.first -%>
      <% position = 'last' if page == pages.to_a.last -%>
      <%= content_tag(
        'li',
        :class => [page.urlname, position, page_active?(page) ? 'active' : nil].compact.join(' ')
      ) do %>
        <%= render(
          :partial => options[:navigation_link_partial],
          :object => page,
          :locals => {
            :page => page,
            :options => options
          }
        ) -%>
        <% options[:from_page] = page -%>
        <% if options[:reverse_children] -%>
          <%- options[:reverse] = true -%>
        <% end -%>
        <% if options[:show_nonactive] -%>
        <%= render_navigation(options) if options[:submenu] -%>
        <% else -%>
        <%= render_navigation(options) if (options[:submenu] && page_active?(page)) || options[:all_sub_menues] -%>
        <% end -%>
      <% end -%>
      <% unless options[:spacer].empty? -%>
        <%= raw "<li class=\"navigation_spacer\">#{options[:spacer]}</li>" unless page == pages.to_a.last -%>
      <% end -%>
    <% end -%>
  <% end %>
<% end -%>
