<div id="swf_upload_container" style="display: block">
	<div id="spanButtonPlaceHolder">
		<p>
			<%= image_tag('alchemy/ajax_loader.gif', :style => 'width: 16px; height: 16px; top: 3px; position: relative') %>
			<%= t('Please wait. Flash速 is loading...') %>
		</p>
	</div>
	<button class="button" onclick="swfu.cancelQueue(); return false" style="display: none">
		<%= t("swfupload.cancel_uploads") %>
	</button>
	<p style="margin-top: 8px" id="choose_alternative_uploader">
		<small>
			<%= raw t('If you have any problems using the Flash uploader you can switch to', :link => t('<a href="#" id="uploadswitcher">%{value}</a>', :value => t('regular method'))) %>
		</small>
	</p>
</div>

<h2 id="swfUploadFlashError" style="display: none"><%= t('Could not load Adobe Flash速 Plugin!') %></h2>

<div id="alternativeUpload" style="display: none">
	<h2 id="flash_upload_error_explanation" style="display: none">
		<%= t('Error with the Flash速 Uploader!') %>
	</h2>
	<p><%= t('use_alternative_uploader_instead') %></p>
	<p>
		<%= file_field_tag('Filedata') %>
	</p>
	<p>
		<%= submit_tag t('upload'), :class => 'button' %>
	</p>
	<p>
		<small>
			<a href="#" id="switch_to_flash_uploader" class="underline">
				<%= t('Switch to Flash速 Uploader') %>
			</a>
		</small>
	</p>
</div>
