<div id="swf_upload_container" style="display: block">
  <div id="spanButtonPlaceHolder">
    <p>
      <%= _t('Please wait. Flash速 is loading...') %>
    </p>
  </div>
  <a href="#" class="button no-spinner" onclick="swfu.cancelQueue(); return false" style="display: none">
    <%= _t("swfupload.cancel_uploads") %>
  </a>
  <p style="margin-top: 8px" id="choose_alternative_uploader">
    <small>
      <%= raw _t('If you have any problems using the Flash uploader you can switch to', :link => _t('<a href="#" id="uploadswitcher">%{value}</a>', :value => _t('regular method'))) %>
    </small>
  </p>
</div>

<h2 id="swfUploadFlashError" style="display: none"><%= _t('Could not load Adobe Flash速 Plugin!') %></h2>

<div id="alternativeUpload" style="display: none">
  <h2 id="flash_upload_error_explanation" style="display: none">
    <%= _t('Error with the Flash速 Uploader!') %>
  </h2>
  <p><%= _t('use_alternative_uploader_instead') %></p>
  <p>
    <%= file_field_tag('Filedata') %>
  </p>
  <p>
    <%= submit_tag _t('upload'), :class => 'button' %>
  </p>
  <p>
    <small>
      <a href="#" id="switch_to_flash_uploader" class="underline">
        <%= _t('Switch to Flash速 Uploader') %>
      </a>
    </small>
  </p>
</div>
