<% if can? *navigate_module(navigation) %>
  <%= content_tag :div, class: main_navigation_css_classes(navigation) do %>
    <%= link_to url_for_module(alchemy_module) do %>
      <% if navigation["image"] %>
        <%= image_tag(navigation["image"]) %>
      <% elsif navigation["inline_image"] %>
        <span class="icon fa-fw">
          <%== navigation["inline_image"] %>
        </span>
      <% elsif navigation["icon"] %>
        <i class="module icon fas fa-<%= navigation["icon"] %> fa-lg fa-fw"></i>
      <% else %>
        <i class="module icon fas fa-table fa-lg fa-fw"></i>
      <% end %>
      <label><%= Alchemy.t(navigation['name']) %></label>
    <% end %>
    <%= render 'alchemy/admin/partials/sub_navigation',
      entries: navigation['sub_navigation'] %>
  <% end %>
<% end %>
