<% if can? *navigate_module(navigation) %>
  <%= content_tag :div, class: main_navigation_css_classes(navigation) do %>
    <%= link_to url_for_module(alchemy_module) do %>
      <% if navigation["image"] %>
        <%= image_tag(navigation["image"]) %>
      <% elsif navigation["icon"] %>
        <span class="module icon <%= navigation["icon"] %>"></span>
      <% else %>
        <span class="module icon"></span>
      <% end %>
      <label><%= truncate Alchemy.t(navigation["name"]), length: 10 %></label>
    <% end %>
    <% if admin_mainnavi_active?(navigation) %>
      <%= admin_subnavigation %>
    <% end %>
  <% end %>
<% end %>
