<%= alchemy_form_for [:admin, item] do |f| %>
  <%= f.hidden_field(:parent_id) %>
  <%= f.hidden_field(:language_id) %>
  <div class="input select">
    <label for="paste_from_clipboard" class="control-label"><%= item.class.model_name.human %></label>
    <%= select_tag 'paste_from_clipboard',
      clipboard_select_tag_options(clipboard_items),
      is: 'alchemy-select' %>
  </div>
  <%= f.input :name %>
  <%= f.submit Alchemy.t(:paste) %>
<% end %>
