<%= search_form_for @query, url: url_for({
      action: 'index',
      size: @size,
    }.merge(search_filter_params.except(:q))
  ), remote: true, html: {class: 'search_form', id: nil} do |f| %>
  <%= hidden_field_tag :form_field_id, @form_field_id %>
  <div class="search_field">
    <button type="submit">
      <%= render_icon('search') %>
    </button>
    <%= f.search_field resource_handler.search_field_name,
      placeholder: Alchemy.t(:search),
      class: 'search_input_field',
      id: nil %>
    <%= link_to render_icon(:times, size: 'xs'), url_for({
        action: 'index',
        form_field_id: @form_field_id,
        size: @size,
        overlay: true
      }.merge(search_filter_params.except(:q))),
      remote: true,
      class: 'search_field_clear',
      title: Alchemy.t(:click_to_show_all),
      style: search_filter_params[:q].blank? ? 'display: none' : 'display: block' %>
  </div>
<% end %>
