<%- url ||= resource_url_proxy.url_for(action: 'index') -%>

<%= search_form_for @query, url: url, class: 'search_form' do |f| %>
  <div class="search_field">
    <%= render_icon('search') %>
    <%= f.search_field resource_handler.search_field_name,
      id: 'search_input_field',
      placeholder: _t(:search) %>
    <%= link_to '', url,
        class: 'search_field_clear',
        id: 'search_field_clear',
        title: _t(:click_to_show_all),
        style: params[:q].present? ? 'display: block' : 'display: none' %>
    <% local_assigns.fetch(:additional_params, []).each do |additional_param| %>
      <%= hidden_field_tag additional_param, params[additional_param] %>
    <% end %>
  </div>
<% end %>
