<%= content_tag :div,
  class: headline_editor.css_classes,
  data: headline_editor.data_attributes do %>
  <%= element_form.fields_for(:ingredients, headline_editor.ingredient) do |f| %>
    <%= ingredient_label(headline_editor) %>
    <%= f.text_field :value %>

    <div class="input-row">
      <% if headline_editor.level_options.length > 1 %>
        <div class="input-column">
          <%= f.label :level %>
          <%= f.select :level,
            options_for_select(headline_editor.level_options, headline_editor.level),
            {},
            { class: "alchemy_selectbox full_width" } %>
        </div>
      <% end %>

      <% if headline_editor.size_options.length > 1 %>
        <div class="input-column">
          <%= f.label :size %>
          <%= f.select :size,
            options_for_select(headline_editor.size_options, headline_editor.size),
            {},
            { class: "alchemy_selectbox full_width" } %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
