<%= content_tag :div,
  class: headline_editor.css_classes,
  data: headline_editor.data_attributes do %>
  <%= ingredient_label(headline_editor, counter: headline_editor_counter) %>
  <%= text_field_tag(
    headline_editor.form_field_name(counter: headline_editor_counter),
    headline_editor.value
  ) %>

  <div class="input-row">
    <% if headline_editor.level_options.length > 1 %>
      <div class="input-column">
        <%= label_tag Alchemy::EssenceHeadline.human_attribute_name(:level) %>
        <%= select_tag(
          headline_editor.form_field_name(:level, counter: headline_editor_counter),
          options_for_select(headline_editor.level_options, headline_editor.level),
          class: "alchemy_selectbox full_width"
        ) %>
      </div>
    <% end %>

    <% if headline_editor.size_options.length > 1 %>
      <div class="input-column">
        <%= label_tag Alchemy::EssenceHeadline.human_attribute_name(:size) %>
        <%= select_tag(
          headline_editor.form_field_name(:size, counter: headline_editor_counter),
          options_for_select(headline_editor.size_options, headline_editor.size),
          class: "alchemy_selectbox full_width"
        ) %>
      </div>
    <% end %>
  </div>
<% end %>
