<%= content_tag :div,
  class: richtext_editor.css_classes,
  data: richtext_editor.data_attributes do %>
  <%= element_form.fields_for(:ingredients, richtext_editor.ingredient) do |f| %>
    <%= ingredient_label(richtext_editor) %>
    <div class="tinymce_container">
      <%= f.text_area :value,
        class: "has_tinymce",
        id: richtext_editor.element_id %>
    </div>
  <% end %>
  <% if richtext_editor.has_custom_tinymce_config? %>
    <script type="text/javascript" charset="utf-8">
      Alchemy.Tinymce.setCustomConfig("<%= richtext_editor.element_id %>", {
        <% richtext_editor.custom_tinymce_config.each do |k, v| %>
        <%= k %>: <%== v.to_json %>,
        <% end %>
      });
    </script>
  <% end %>
<% end %>
