<%= render_essence_editor_by_name(element, 'mail_from') %>
<%= render_essence_editor_by_name(element, 'mail_to') %>
<%= render_essence_editor_by_name(element, 'subject') %>
<div class="content_editor">
	<label><%= t('contactform.labels.success_page') %></label>
	<p><%= page_selector(element, 'success_page') %></p>
</div>
