<% form_for(@mail ||= Mail.new, :html => {:id => "contact"}) do |f| %>
	<%= f.error_messages %>
	<%= f.hidden_field "contact_form_id", :value => element.id %>
	<%= hidden_field_tag "mail_to", params[:mail_to] %>
	<table class="contactform">
		<tr>
			<td class="label">
				<label for="mail_data_subject">
					<%= t('contactform_labels.salutation') %>
				</label>
			</td>
			<td class="field" colspan="3">
				<%= f.select(
					:salutation,
					[
						[t('contactform_labels.mr')],
						[t('contactform_labels.mrs')]
					],
					:class => "select"
				) %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="mail_data_email">
					<%= t('contactform_labels.firstname') %>
				</label>
			</td>
			<td class="field" colspan="3">
				<%= f.text_field(:firstname, :class => "field") %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="mail_data_telephone">
					<%= t('contactform_labels.lastname') %>
				</label><small>*</small>
			</td>
			<td class="field" colspan="3">
				<%= f.text_field(:lastname, :class => "field") %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="mail_data_strasse">
					<%= t('contactform_labels.strasse') %>
				</label>
			</td>
			<td class="field" colspan="3">
				<%= f.text_field :address, :class => 'field' %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="mail_data_plz">
					<%= t('contactform_labels.plz') %>
				</label>
			</td>
			<td class="field short">
				<%= f.text_field :zip, :class => 'field short' %>
			</td>
			<td class="label short">
				<label for="mail_data_ort">
					<%= t('contactform_labels.ort') %>
				</label>
			</td>
			<td class="field">
				<%= f.text_field :city, :class => 'field medium' %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="mail_data_phone">
					<%= t('contactform_labels.phone') %>
				</label>
			</td>
			<td class="field" colspan="3">
				<%= f.text_field :phone, :class => 'field' %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="mail_data_email">
					<%= t('contactform_labels.email') %>
				</label><small>*</small>
			</td>
			<td class="field" colspan="3">
				<%= f.text_field :email, :class => 'field' %>
			</td>
		</tr>
		<tr>
			<td class="label">
				<label for="mail_data_message">
					<%= t('contactform_labels.message') %>
				</label>
			</td>
			<td class="field" colspan="3">
				<%= f.text_area :message %>
			</td>
		</tr>
	</table>
	<p class="right">
		<%= f.submit t('contactform_labels.send'), :name => nil, :class => 'button' %>
	</p>
<% end %>
<div id="mandatory_notice">
	<small>* <%= t('contactform_labels.mandatory_fields') %></small>
</div>
