<% form_for(@mail ||= Mail.new, :html => {:id => "contact", "data-alchemy-element" => (@preview_mode ? element.id : nil)}) do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field "contact_form_id", :value => element.id %>
    <%= hidden_field_tag "mail_to", params[:mail_to] %>
    <table class="contactform">
    	<tr>
    		<td class="label">
    			<label for="mail_salutation">
    				<%= t('alchemy.contactform.labels.salutation') %>
    			</label>
    		</td>
    		<td class="field">
    			<%= f.select(
    				:salutation,
    				[
    					[t('alchemy.contactform.labels.mr')],
    					[t('alchemy.contactform.labels.mrs')]
    				],
    				:prompt => t('alchemy.contactform.labels.choose'),
    				:class => "select"
    			) %>
    		</td>
    	</tr>
    	<tr>
    		<td class="label">
    			<label for="mail_firstname">
    				<%= t('alchemy.contactform.labels.firstname') %>
    			</label>
    		</td>
    		<td class="field">
    			<%= f.text_field(:firstname, :class => "field") %>
    		</td>
    	</tr>
    	<tr>
    		<td class="label">
    			<label for="mail_lastname">
    				<%= t('alchemy.contactform.labels.lastname') %>
    			</label><small>*</small>
    		</td>
    		<td class="field">
    			<%= f.text_field(:lastname, :class => "field") %>
    		</td>
    	</tr>
    	<tr>
    		<td class="label">
    			<label for="mail_address">
    				<%= t('alchemy.contactform.labels.address') %>
    			</label>
    		</td>
    		<td class="field">
    			<%= f.text_field :address, :class => 'field' %>
    		</td>
    	</tr>
    	<tr>
    		<td class="label">
    			<label for="mail_zip">
    				<%= t('alchemy.contactform.labels.zip') %>
    			</label>
    		</td>
    		<td class="field">
    			<%= f.text_field :zip, :class => 'field short' %>
    			<%= f.text_field :city, :class => 'field medium' %>
    		</td>
    	</tr>
    	<tr>
    		<td class="label">
    			<label for="mail_phone">
    				<%= t('alchemy.contactform.labels.phone') %>
    			</label>
    		</td>
    		<td class="field">
    			<%= f.text_field :phone, :class => 'field' %>
    		</td>
    	</tr>
    	<tr>
    		<td class="label">
    			<label for="mail_email">
    				<%= t('alchemy.contactform.labels.email') %>
    			</label><small>*</small>
    		</td>
    		<td class="field">
    			<%= f.text_field :email, :class => 'field' %>
    		</td>
    	</tr>
    </table>
    <div id="message">
        <%= f.text_area :message %>
    </div>
    <p class="right">
    	<%= f.button t('alchemy.contactform.labels.send'), :name => nil, :class => 'button' %>
    </p>
<% end %>
