<%- if @clipboard_items.blank? -%>
<%= render_message do %>
  <%= Alchemy.t('No items in your clipboard') %>
<% end %>
<%- else -%>
<div id="clipboard_items">
  <ul>
    <%- @clipboard_items.each do |item| -%>
    <% item_class = item.class.name.demodulize.underscore.pluralize %>
    <li id="clipboard_item_<%= item.id -%>" class="<%= item_class -%>">
      <% if item_class == 'pages' %>
        <%= render_icon(:file, style: 'regular') %>
        <%= item.name %>
      <% else %>
        <% if item.public? %>
          <%= render_icon('window-maximize', style: 'regular', class: 'element') %>
        <% else %>
          <%= render_icon('window-close', class: 'element') %>
        <% end %>
        <%= item.display_name_with_preview_text(60) %>
      <% end %>
      <span class="float_right">
        <%= link_to render_icon(:times, size: 'xs'),
          alchemy.remove_admin_clipboard_path(remarkable_type: item_class, remarkable_id: item.id),
          remote: true, method: 'delete',
          title: Alchemy.t('Remove item from clipboard') %>
      </span>
    </li>
    <%- end -%>
  </ul>
  <p>
    <%= link_to_confirm_dialog Alchemy.t('clear clipboard'),
      Alchemy.t('Do you really want to clear the clipboard?'),
      alchemy.clear_admin_clipboard_path(remarkable_type: params[:remarkable_type]),
      class: 'button' %>
  </p>
</div>
<%- end -%>
