<%- alchemy_combined_assets -%>
<%- content_for(:toolbar) do -%>
<div id="toolbar">
	<%- permitted_to?(:new, :admin_attachments) do -%>
	<div id="toolbar_buttons">
		<div class="button_with_label">
			<%= link_to_overlay_window(
				content_tag('span', '', :class => 'icon upload'),
				new_admin_attachment_path,
				{
					:title => _('upload_file'),
					:size => '540x480'
				},
				:title => _('upload_file'),
				:class => 'icon_button'
			) %><br />
			<label><%= _('upload_file') %></label>
		</div>
	</div>
	<div class="toolbar_spacer"></div>
	<%- end -%>
	<div id="toolbar_links">
		<%= render :partial => 'admin/partials/per_page_links', :locals => {:label => _('files'), :values => ['20', '50', 'all']} %>
	</div>
	<%= render :partial => 'admin/partials/search_form' %>
</div>
<%- end -%>
<div id="archive_all">
	<%= render :partial => 'files_list' %>
</div>
