<div class="with_padding">
	<%- if @elements.blank? -%>
	<p id="trash_empty_notice" <%= @elements.blank? ? '' : 'style="display: none"' %>>
		<%= _('Your trash is empty') %>
	</p>
	<%- else -%>
	<div class="info">
		<%= render_icon('info') %>
		<%= _('Drag an element over to the element window to restore it.') %>
	</div>
	<div id="trash_items">
		<%- @elements.each do |element| -%>
		<%= render :partial => 'admin/elements/element', :object => element, :locals => {:draggable => !@allowed_elements.detect { |e| e['name'] == element.name }.nil?} %>
		<%- end -%>
		<p>
			<%= link_to_confirmation_window(_('clear trash'), _('Do you really want to clear the trash?'), clear_admin_trash_path(:page_id => @page.id), :class => 'button') %>
		</p>
	</div>
	<%- end -%>
</div>
<script type="text/javascript" charset="utf-8">
	<%- cells_items = {} %>
	<%- @elements.each { |e| cells_items["element_#{e.id}"] = e.belonging_cellname };  -%>
	Alchemy.DraggableTrashItems(<%= cells_items.to_json %>);
</script>
