<div class="element_foot">
	<span class="element_tools">
		<%= link_to_confirmation_window(
			"",
			_("confirm_to_delete_element"),
			admin_element_path(element),
			{
				:class => "delete_element_button",
				:title => _("delete_element")
			}
		) -%>
		<%= link_to_remote(
			"",
			:url => insert_admin_clipboard_path(:remarkable_type => 'element', :remarkable_id => element.id, :remove => true),
			:html => {
				:class => "element_move_button",
				:title => _("cut_element")
			}
		) %>
		<%= link_to_remote(
			"",
			:url => insert_admin_clipboard_path(:remarkable_type => 'element', :remarkable_id => element.id),
			:html => {
				:class => "element_copy_button",
				:title => _("copy_element")
			}
		) %>
	</span>
	<span class="element_public">
		<%= check_box_tag "public", "1", element.public?, :id => "element_#{element.id}_public" -%>
		<%= label_tag "element_#{element.id}_public", _("visible") -%>
	</span>
	<div id="element_<%= element.id %>_spinner" class="element_spinner" style="display:none">
		<span class="spinner_wait_text"><%= _("saving") -%></span>
		<%= image_tag('alchemy/ajax_loader.gif') %>
	</div>
	<span class="save_element" id="element_<%= element.id %>_save">
		<%= submit_tag( _('save'), :class => 'button', :name => nil) %>
	</span>
</div>
