<div class="element-header<%= ' has-hint' if element.has_hint? %>">
  <span class="element-handle">
    <% if element.definition.blank? %>
      <%= hint_with_tooltip Alchemy.t(:element_definition_missing) %>
    <% elsif element.deprecated? %>
      <%= hint_with_tooltip element.deprecation_notice %>
    <% else %>
      <% if element.public? %>
        <%= render_icon('window-maximize', style: 'regular', class: 'element') %>
      <% else %>
        <%= render_icon('window-close', class: 'element') %>
      <% end %>
    <% end %>
  </span>
  <span class="element-title">
    <span class="preview_text_element_name"><%= element.display_name %></span>
    <span class="preview_text_quote">
      <%= sanitize(element.preview_text.presence || '&nbsp;') %>
    </span>
  </span>
  <%= render_hint_for(element) %>
  <%= link_to '#', {
    'data-element-toggle' => element.id,
    title: Alchemy.t(element.folded? ? :show_element_content : :hide_element_content),
    id: "element_#{element.id}_folder",
    class: "ajax-folder"
  } do %>
    <%= render_icon element.folded? ? 'plus-square' : 'minus-square' %>
  <% end %>
</div>
