<div class="element-header<%= ' has-hint' if element.has_hint? %>">
  <span class="element-handle">
    <span class="icon element"></span>
    <% if element.definition.blank? %>
      <%= hint_with_tooltip(
        Alchemy.t(:element_definition_missing),
        class: 'icon-warning'
      ) %>
    <% else %>
      <%= render_icon("#{element.public? ? 'visible' : 'not-visible'} small") %>
    <% end %>
  </span>
  <span class="element-title">
    <span class="preview_text_element_name"><%= element.display_name %></span>
    <span class="preview_text_quote">
      <%= sanitize(element.preview_text.presence || '&nbsp;') %>
    </span>
  </span>
  <%= render_hint_for(element) unless element.trashed? %>
  <span class="ajax-folder" <%= element.trashed? ? 'style="display: none"'.html_safe : '' %>>
    <%= link_to '', '#', {
      'data-element-toggle' => element.id,
      class: element.folded? ? 'expand_element icon-plus' : 'fold_element icon-minus',
      title: element.folded? ? Alchemy.t(:show_element_content) : Alchemy.t(:hide_element_content),
      id: "element_#{element.id}_folder"
    } %>
  </span>
</div>
