<% remarkable_type = element.class.name.demodulize.underscore.pluralize %>
<div class="element_foot">
  <span class="element_tools">
    <%= link_to(
      "",
      alchemy.trash_admin_element_path(element),
      :method => :delete,
      :class => "delete_element_button",
      :title => _t("trash element"),
      :remote => true
    ) -%>
    <%= link_to(
      "",
      alchemy.insert_admin_clipboard_path(:remarkable_type => remarkable_type, :remarkable_id => element.id, :remove => true),
      :remote => true,
      :method => :post,
      :class => "element_move_button",
      :title => _t(:cut_element)
    ) %>
    <%= link_to(
      "",
      alchemy.insert_admin_clipboard_path(:remarkable_type => remarkable_type, :remarkable_id => element.id),
      :remote => true,
      :method => :post,
      :class => "element_copy_button",
      :title => _t(:copy_element)
    ) %>
  </span>
  <span class="element_public">
    <%= f.check_box :public, :id => "element_#{element.id}_public" -%>
    <%= label_tag "element_#{element.id}_public", _t(:visible) -%>
  </span>
  <button type="submit" class="button">
    <%= _t(:save) %>
  </button>
</div>
