<div class="element-header<%= ' has-hint' if element.has_hint? %>">
  <span class="element-handle">
    <% if element.definition.blank? %>
      <%= hint_with_tooltip Alchemy.t(:element_definition_missing) %>
    <% elsif element.deprecated? %>
      <%= hint_with_tooltip element.deprecation_notice %>
    <% else %>
      <%= render_icon('draggable', style: nil, class: 'element') %>
    <% end %>
  </span>
  <span class="element-title">
    <span class="preview_text_element_name"><%= element.display_name %></span>
    <span class="preview_text_quote">
      <%= sanitize(element.preview_text.presence || '&nbsp;') %>
    </span>
  </span>
  <%= render_hint_for(element) %>
  <%= button_tag({
    title: Alchemy.t(element.folded? ? :show_element_content : :hide_element_content),
    class: "element-toggle"
  }) do %>
    <%= render_icon element.folded? ? 'arrow-left-s' : 'arrow-down-s' %>
  <% end %>
</div>
