<div class="new_alchemy_element">
<%- if @elements.blank? -%>
  <div class="info with_margin">
    <%= render_icon('info') %>
    <%= t('no_more_elements_to_add') %>
  </div>
<%- else -%>
  <%= form_for [:admin, @element], :remote => true, :class => "add_element_content" do |form| %>
    <div id="errors"></div>
    <table>
      <tr>
        <td class="label">
          <%= form.label :name, t("element_of_type") %>
        </td>
        <td class="select">
          <%= form.select(
            'name',
            @page.can_have_cells? ? grouped_elements_for_select(@elements) : elements_for_select(@elements),
            { :prompt => t('select_element') },
            { :class => "alchemy_selectbox", :autofocus => true }
          ) -%>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="submit">
          <%= form.hidden_field 'page_id' %>
          <%= form.button t('add'), :class => 'button' %>
        </td>
      </tr>
    </table>
  <% end %>
<%- end -%>
</div>
