<% remarkable_type = "elements" %>
<div class="element-toolbar">
  <sl-tooltip placement="top-start" content="<%= Alchemy.t(:copy_element) %>">
    <%= link_to(
      render_icon("file-copy"),
      alchemy.insert_admin_clipboard_path(remarkable_type: remarkable_type, remarkable_id: element.id),
      remote: true,
      method: :post,
      class: "icon_button"
    ) %>
  </sl-tooltip>
  <sl-tooltip content="<%= Alchemy.t(:cut_element) %>">
    <%= link_to(
      render_icon("scissors-cut"),
      alchemy.insert_admin_clipboard_path(remarkable_type: remarkable_type, remarkable_id: element.id, remove: true),
      remote: true,
      method: :post,
      class: "icon_button"
    ) %>
  </sl-tooltip>
  <sl-tooltip content="<%= Alchemy.t("Delete element") %>">
    <%= link_to_confirm_dialog(
      render_icon('delete-bin-2'),
      Alchemy.t(:confirm_to_delete_element),
      alchemy.admin_element_path(element),
      class: "icon_button",
      data: {turbo: false}
    ) -%>
  </sl-tooltip>
  <sl-tooltip content="<%= element.public? ? Alchemy.t(:hide_element) : Alchemy.t(:show_element) %>" placement="top-end">
    <alchemy-publish-element-button>
      <sl-switch <%= element.public? ? nil : "checked" %> size="small">
        <%= t(".hide") %>
      </sl-switch>
    </alchemy-publish-element-button>
  </sl-tooltip>
</div>
