(function() {
  var $el = $('.element-editor[data-element-id="<%= @element.id %>"]');

<% if @error -%>

  $("#element_<%= @element.id %> .spinner")
    .replaceWith("<span class='error_icon' title='<%= @error %>'>!</span>");

<% else -%>

  $el.replaceWith('<%= j render(Alchemy::ElementEditor.new(@element)) %>');
  $el = $('#element_<%= @element.id %>');
  $('#element_area .sortable-elements').sortable('refresh');

  <% unless @element.folded? -%>
    $el.trigger('FocusElementEditor.Alchemy');
    Alchemy.GUI.initElement($el);
    Alchemy.SortableElements(
      <%= @page.id %>,
      '<%= form_authenticity_token %>',
      $('> .nestable-elements .nested-elements', $el)
    );
  <% end -%>

<% end -%>
})();
