<% if @fixed_elements.any? %>
  <div id="fixed-elements">
    <ul>
      <li>
        <a href="#main-content-elements">
          <%= Alchemy.t(:main_content) %>
        </a>
      </li>
      <% @fixed_elements.each do |element| %>
        <li>
          <a href="#fixed-element-<%= element.id %>">
            <%= element.display_name %>
          </a>
        </li>
      <% end %>
    </ul>
    <div id="main-content-elements" class="sortable-elements" data-droppable-elements="<%= @page.element_definition_names.join(' ') %>">
      <%= render @elements.map { |element| Alchemy::ElementEditor.new(element) } %>
    </div>
    <% @fixed_elements.each do |element| %>
      <div
        id="fixed-element-<%= element.id %>"
        class="sortable-elements"
        data-droppable-elements="<%= element.nestable_elements.join(' ') %>">
        <%= render Alchemy::ElementEditor.new(element) %>
      </div>
    <% end %>
  </div>
<% else %>
  <div id="main-content-elements" class="sortable-elements" data-droppable-elements="<%= @page.element_definition_names.join(' ') %>">
    <%= render @elements.map { |element| Alchemy::ElementEditor.new(element) } %>
  </div>
<% end %>
