<%= turbo_frame_tag "alchemy_elements_window" do %>
  <alchemy-elements-window-handle></alchemy-elements-window-handle>
  <alchemy-elements-window>
    <div class="elements-window-toolbar">
      <%= render Alchemy::Admin::ToolbarButton.new(
        url: alchemy.new_admin_element_path(page_version_id: @page_version.id),
        icon: :add,
        hotkey: "alt+n",
        label: Alchemy.t("New Element"),
        dialog_options: {
          title: Alchemy.t("New Element"),
          size: "380x125"
        },
        tooltip_placement: "bottom-start",
        if_permitted_to: [:create, Alchemy::Element]
      ) %>
      <%= render "alchemy/admin/clipboard/button", remarkable_type: "elements", tooltip_placement: "bottom-start" %>
      <div class="right">
        <%= render Alchemy::Admin::ListFilter.new(
          "alchemy-element-editor",
          name_attribute: "display-name",
          placeholder: Alchemy.t("Filter elements"),
          hotkey: "alt+f"
        ) %>
        <div class="toolbar_spacer"></div>
        <sl-tooltip content="<%= Alchemy.t("Collapse all elements") %>" placement="bottom-end">
          <button id="collapse-all-elements-button" class="icon_button">
            <alchemy-icon name="contract-up-down"></alchemy-icon>
          </button>
        </sl-tooltip>
      </div>
    </div>
    <% if @page.element_definitions.any?(&:fixed) %>
      <sl-tab-group id="fixed-elements">
        <sl-tab slot="nav" panel="main-content-elements">
          <%= Alchemy.t(:main_content) %>
        </sl-tab>
        <%= render partial: "fixed_element", collection: @fixed_elements, as: :element %>
        <sl-tab-panel
          name="main-content-elements"
          style="--padding: 0"
        >
          <alchemy-sortable-elements
            id="main-content-elements"
            class="scrollable-elements"
            data-droppable-elements="<%= @page.element_definition_names.join(' ') %>"
            data-element-name="main-content-elements"
          >
            <%= render Alchemy::Admin::ElementEditor.with_collection(@elements) %>
          </alchemy-sortable-elements>
        </sl-tab-panel>
      </sl-tab-group>
    <% else %>
      <alchemy-sortable-elements
        id="main-content-elements"
        class="scrollable-elements"
        data-droppable-elements="<%= @page.element_definition_names.join(' ') %>"
        data-element-name="main-content-elements"
      >
        <%= render Alchemy::Admin::ElementEditor.with_collection(@elements) %>
      </alchemy-sortable-elements>
    <% end %>
  </alchemy-elements-window>
<% end %>
