<div id="element_area">
  <%- if @cells.any? -%>
  <div id="cells">
    <ul>
      <%- @elements.each do |cell, elements| -%>
      <li>
        <a href="#cell_<%= cell.name -%>">
          <%= cell.name == 'for_other_elements' ? t('other Elements') : t("alchemy.cell_names.#{cell.name}", :default => cell.name.camelcase) -%>
        </a>
      </li>
      <%- end -%>
    </ul>
    <%- @elements.each do |cell, elements| -%>
    <div id="cell_<%= cell.name %>" class="sortable_cell <%= cell.name %>_cell" data-cell-id="<%= cell.id %>">
    	<%= render :partial => 'alchemy/admin/elements/element', :collection => elements, :locals => {:draggable => true} %>
    </div>
    <%- end -%>
  </div>
  <%- else -%>
  <div class="sortable_cell for_other_elements_cell" id="cell_for_other_elements">
    <%= render :partial => 'alchemy/admin/elements/element', :collection => @elements, :locals => {:draggable => true} %>
  </div>
  <%- end -%>
</div>
