<%- if clipboard_items.blank? -%>
  <%= render 'form' %>
<%- else -%>
<sl-tab-group id="overlay_tabs">
  <sl-tab slot="nav" panel="create_element_tab"><%= Alchemy.t('New') %></sl-tab>
  <sl-tab slot="nav" panel="paste_element_tab"><%= Alchemy.t('Paste from clipboard') %></sl-tab>
  <sl-tab-panel name="create_element_tab">
    <%= render 'form' %>
  </sl-tab-panel>
  <sl-tab-panel name="paste_element_tab">
    <%= alchemy_form_for([:admin, @element]) do |f| %>
      <%= f.hidden_field :page_version_id %>
      <%= f.hidden_field :parent_element_id, value: @parent_element.try(:id) %>
      <div class="input select">
        <label for="paste_from_clipboard" class="control-label"><%= Alchemy.t("Element") %></label>
        <%= select_tag 'paste_from_clipboard',
          clipboard_select_tag_options(clipboard_items),
          is: 'alchemy-select' %>
      </div>
      <%= f.submit Alchemy.t(:paste) %>
    <% end %>
  </sl-tab-panel>
</sl-tab-group>
<%- end -%>
