<%- alchemy_assets_set(:default) -%>

<%- content_for(:toolbar) do -%>
<div id="toolbar"></div>
<%- end -%>
<div class="with_padding">
	<div id="dashboard">
		<h1><%= _('Welcome to Alchemy') %></h1>
	</div>
	<div id="sideboard">
		<div class="sideboard_widget">
			<%= image_tag("alchemy-logo.png", :plugin => 'alchemy') %>
			<p><%= _("Version") %>: <%= @alchemy_version %></p>
			<p><%= _('Alchemy is open software and itself uses open software and free resources:') %></p>
			<ul>
				<li>
					<a href="http://www.rubyonrails.com" target="_blank">RubyOnRails</a>
				</li>
				<li>
					<a href="http://www.prototypejs.org" target="_blank">Prototype JavaScript Framework</a>
				</li>
				<li>
					<a href="http://prototype-window.xilinus.com" target="_blank">Prototype Window Class</a>
				</li>
				<li>
					<a href="http://script.aculo.us/" target="_blank">script.aculo.us JavaScript Animation Framework</a>
				</li>
				<li>
					<a href="http://tinymce.moxiecode.com" target="_blank">TinyMCE - Javascript WYSIWYG Editor</a>
				</li>
				<li>
					<a href="http://swfupload.org" target="_blank">SWFUpload</a>
				</li>
				<li>
					<a href="http://p.yusukekamiyamane.com" target="_blank">Fugue Icons by Yusuke Kamiyamane</a>
				</li>
				<li>
					<a href="http://www.defusion.org.uk" target="_blank">jsCropperUI by David Spurr</a>
				</li>
			</ul>
			<h2>
				<%= link_to_function(
					_('Read the License'),
					"openLicencseWindow()"
				) %>
			</h2>
			<%- content_for :javascripts do -%>
			<script type="text/javascript" charset="utf-8">
			// <![CDATA[
				function openLicencseWindow() {
					license_window = new Window({
						className: 'alchemy_window',
						title: 'GNU GPL License',
						url: 'http://www.gnu.org/licenses/gpl-3.0.txt',
						width: 640,
						height: document.viewport.getDimensions().height - 150,
						minWidth: 640,
						minHeight: 550,
						maximizable: false,
						minimizable: false,
						resizable: true,
						draggable: true,
						zIndex: 300000,
						closable: true,
						destroyOnClose: true,
						recenterAuto: false,
						effectOptions: {
							duration: 0.2
						}
					});
					license_window.showCenter(true);
				}
			// ]]>
			</script>
			<%- end -%>
		</div>
	</div>
</div>
