<div class="with_padding">
	<h2><%= _("You are about to leave Alchemy.") %></h2>
	<p style="line-height: 24px">
		<%= _("Do you want to") %>
		<%= link_to _('stay logged in'), root_path, :class => 'button' %>
	</p>
	<p style="line-height: 24px">
		<%= _('or to') %>
		<%= link_to _('logout'), logout_path, :class => 'button' %>
	</p>
</div>
