<%- alchemy_combined_assets -%>

<div id="alchemy_greeting">
    <%= image_tag("alchemy/alchemy-logo.png") %>
    <h1>
        <%= flash[:info] %>
    </h1>
</div>

<div class="login_signup_box">
    <% form_for @user_session, :url => {:controller => 'Admin', :action => 'login'}, :html => { :id => "login", :onsubmit => 'Alchemy.pleaseWaitOverlay()' } do |f| %>
        <%= f.error_messages %>
        <table>
            <tr>
                <td class="label">
                    <%= f.label :login, _("username") %>
                </td>
                <td class="input">
                    <%= f.text_field :login, :class => 'thin_border' %>
                </td>
            </tr>
            <tr>
                <td class="label">
                    <%= f.label :password, _("password") %>
                </td>
                <td class="input">
                    <%= f.password_field :password, :class => 'thin_border' %>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <%= hidden_field_tag "redirect_url", params[:redirect_url] %>
                    <%= f.submit _('login'), :class => 'button', :name => nil %>
                </td>
            </tr>
        </table>
    <% end %>
</div>

<%- content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
// <![CDATA[
    jQuery('#user_session_login').focus();
// ]]>
</script>
<%- end -%>
