<%- alchemy_combined_assets -%>

<div id="alchemy_greeting">
	<%= image_tag("alchemy/alchemy-logo.png") %>
	<h1><%= _('Welcome to Alchemy') %></h1>
	<p>
		<%= _("Please Signup") %>
	</p>
</div>

<div id="user_signup" class="login_signup_box">
	<% form_for @user, :url => '/admin/signup' do |f| %>
		<%= f.error_messages %>
		<%= render :partial => 'admin/users/table', :locals => {:f => f} %>
	<% end %>
</div>
