<%= form_for [alchemy, :admin, @language], :remote => true, :html => {:style => 'width: 403px'} do |f| %>
  <div id="errors"></div>
  <table>
    <tr>
      <td class="label"><%= f.label :name %></td>
      <td class="input"><%= f.text_field :name, :class => 'thin_border' -%></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :language_code %></td>
      <td class="input"><%= f.text_field :language_code, :class => 'thin_border', :placeholder => t(:language_code_placeholder) -%></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :country_code %>*</td>
      <td class="input">
        <%= f.text_field :country_code, :class => 'thin_border', :placeholder => t(:country_code_placeholder) -%>
        <p class="foot_note">
          * <%= t(:country_code_foot_note) %>
        </p>
      </td>
    </tr>
    <tr>
      <td class="label"><%= f.label :frontpage_name %></td>
      <td class="input"><%= f.text_field :frontpage_name, :class => 'thin_border' -%></td>
    </tr>
    <tr>
      <td class="label"><%= f.label :page_layout %></td>
      <td class="input"><%= f.text_field :page_layout, :class => 'thin_border' -%></td>
    </tr>
    <tr>
      <td></td>
      <td class="checkbox">
        <%= f.check_box :public -%>
        <%= f.label :public %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="checkbox">
        <%= f.check_box :default -%>
        <%= f.label :default -%>
      </td>
    </tr>
    <tr>
      <td class="submit" colspan="2">
        <%= f.button t('save'), :class => 'button' %>
      </td>
    </tr>
  </table>
<% end %>
