<tr class="<%= cycle('even', 'odd') %>">
  <td>
    <%= language.name %>
  </td>
  <td>
    <%= language.language_code %>
  </td>
  <td>
    <%= language.country_code %>
  </td>
  <td>
    <%= language.frontpage_name %>
  </td>
  <td>
    <%= language.page_layout %>
  </td>
  <td class="center">
    <%= language.public? ? render_icon('true') : '' %>
  </td>
  <td class="center">
    <%= language.default? ? render_icon('true') : '' %>
  </td>
  <td class="tools">
  <%- if can?(:destroy, language) -%>
    <%= link_to_confirmation_window(
      '',
      _t("Are you sure?"),
      alchemy.admin_language_path(language),
      :title => _t("Delete"),
      :class => "icon destroy"
    ) -%>
  <%- end -%>
  <%- if can?(:edit, language) -%>
    <%= link_to_overlay_window(
      '',
      alchemy.edit_admin_language_path(language),
      {
        :title => _t("Edit"),
        :size => "430xauto"
      },
      {
        :class => "icon edit",
        :title => _t("Edit")
      }
    ) -%>
  <%- end -%>
  </td>
</tr>
