<tr class="<%= cycle('even', 'odd') %>">
	<td class="name"><%= language.name -%></td>
	<td class="code"><%= language.code %></td>
	<td class="name"><%= language.frontpage_name %></td>
	<td class="name"><%= language.page_layout %></td>
	<td class="center"><%= render_icon language.public? %></td>
	<td class="center"><%= render_icon language.default? %></td>
	<td class="tools">
		<%- permitted_to?(:edit, :alchemy_admin_languages) do -%>
		<%= link_to_overlay_window(
			'',
			alchemy.edit_admin_language_path(language),
			{
				:title => t('edit_language', :scope => :alchemy),
				:size => '420x280',
				:overflow => true
			},
			{
				:class => "icon edit",
				:title => t('edit_language', :scope => :alchemy)
			}
		) -%>
		<%- end -%>
		<%- unless language.default? -%>
		<%- permitted_to?(:destroy, :alchemy_admin_languages) do -%>
		<%= link_to_confirmation_window(
			'',
			t("confirm_to_delete_language", :scope => :alchemy),
			alchemy.admin_language_path(language),
			:title => t('delete_language', :scope => :alchemy),
			:class => "icon destroy"
		) -%>
		<%- end -%>
		<%- end -%>
	</td>
</tr>
