<tr class="<%= cycle('even', 'odd') %>">
  <td>
    <%= language.name %>
  </td>
  <td>
    <%= language.language_code %>
  </td>
  <td>
    <%= language.country_code %>
  </td>
  <td>
    <%= language.code %>
  </td>
  <td>
    <%= language.locale %>
  </td>
  <td>
    <%= language.frontpage_name %>
  </td>
  <td>
    <%= Alchemy::PageLayout.human_layout_name(language.page_layout) %>
  </td>
  <td class="center">
    <%= language.public? ? render_icon('true') : '' %>
  </td>
  <td class="center">
    <%= language.default? ? render_icon('true') : '' %>
  </td>
  <td class="tools">
  <%- if can?(:destroy, language) -%>
    <%= delete_button resource_path(language) %>
  <%- end -%>
  <%- if can?(:edit, language) -%>
    <%= link_to_dialog(
      '',
      alchemy.edit_admin_language_path(language),
      {
        title: Alchemy.t("Edit"),
        size: "430x415"
      },
      {
        class: "icon-edit",
        title: Alchemy.t("Edit")
      }
    ) -%>
  <%- end -%>
  </td>
</tr>
