<div class="element_editor<%= element.folded ? ' folded' : '' %>" id="element_<%= element.id %>">
	<%= render :partial => "element_head", :locals => {:element => element} %>
	<%- if !element.folded? -%>
		<% form_remote_tag(
			:url => admin_element_path(element),
			:method => :put,
			:before => "Alchemy.saveElement(this)",
			:id => "element_#{element.id}_form"
		) do %>
			<div id="element_<%= element.id %>_content" class="element_content">
				<%= render_editor(element) %>
			</div>
			<%= render :partial => 'element_foot', :locals => {:element => element} %>
		<% end %>
	<%- end -%>
</div>
