<div class="element_editor<%= element.folded ? ' folded' : '' %> <%= draggable ? 'draggable' : 'not-draggable'  %>" id="element_<%= element.id %>">
	<%= render :partial => "admin/elements/element_head", :locals => {:element => element} %>
	<%- if !element.folded? -%>
		<% form_remote_tag(
			:url => admin_element_path(element),
			:method => :put,
			:before => "Alchemy.saveElement(this)",
			:id => "element_#{element.id}_form"
		) do %>
			<div id="element_<%= element.id %>_errors" class="element_errors" style="display: none"></div>
			<div id="element_<%= element.id %>_content" class="element_content">
				<%= render_editor(element) %>
			</div>
			<%- if element.has_validations? -%>
			<p class="validation_notice">
				<span class="validation_indicator">*</span> <%= _('Mandatory') %>
			</p>
			<%- end -%>
			<%= render :partial => 'admin/elements/element_foot', :locals => {:element => element} %>
		<% end %>
	<%- end -%>
</div>
