<div class="element_foot">
	<span class="element_tools">
		<%= link_to_remote(
			"",
			{:url => trash_admin_element_path(element),
			:method => :delete},
			{:class => "delete_element_button",
			:title => _("trash element")}
		) -%>
		<%= link_to_remote(
			"",
			:url => insert_admin_clipboard_path(:remarkable_type => 'element', :remarkable_id => element.id, :remove => true),
			:html => {
				:class => "element_move_button",
				:title => _("cut_element")
			}
		) %>
		<%= link_to_remote(
			"",
			:url => insert_admin_clipboard_path(:remarkable_type => 'element', :remarkable_id => element.id),
			:html => {
				:class => "element_copy_button",
				:title => _("copy_element")
			}
		) %>
	</span>
	<span class="element_public">
		<%= check_box_tag "public", "1", element.public?, :id => "element_#{element.id}_public" -%>
		<%= label_tag "element_#{element.id}_public", _("visible") -%>
	</span>
	<button type="submit" class="button">
		<%= _('save') %>
	</button>
</div>
