<%- has_richtext_essence = element.contents.detect { |content| content.essence_type == 'EssenceRichtext' } -%>

<div class="element_editor<%= element.folded ? ' folded' : '' %>" id="element_<%= element.id %>">
	<%= render :partial => "element_head", :locals => {:element => element} %>

	<%- if element.description.nil? -%>
	<p class="warning">
		<%= _('Warning: Element "%{elementname}" is missing its description.') % {:elementname => element.name} %>
	</p>
	<%- end -%>

	<%- if !element.folded? -%>
		<% form_tag(
			admin_element_path(element),
			:method => :put,
			:onsubmit => "saveElement(this, '#{element.id}'); return false;",
			:id => "element_#{element.id}_form"
		) do %>
			<div id="element_<%= element.id %>_content" class="element_content">
				<%= render_editor(element) %>
			</div>
			<%= render :partial => 'element_foot', :locals => {:element => element} %>
		<% end %>
	<%- end -%>
</div>

<script type="text/javascript" charset="utf-8">
// <![CDATA[
	new AlchemyElementEditorSelector('element_<%= element.id %>');
// ]]>
</script>
