<div id="element_area">
	<%- if !@cells.blank? -%>
	<div id="cells">
		<ul>
			<%- @elements.each do |cell, elements| -%>
			<li>
				<a href="#cell_<%= cell.name -%>">
					<%= cell.name == 'for_other_elements' ? _('other Elements') : t("cell_names.#{cell.name}", :default => cell.name.camelcase) -%>
				</a>
			</li>
			<%- end -%>
		</ul>
		<%- @elements.each do |cell, elements| -%>
		<div id="cell_<%= cell.name %>" class="sortable_cell">
			<%= render :partial => 'element', :collection => elements, :locals => {:draggable => true} %>
		</div>
		<%- end -%>
	</div>
	<%- else -%>
	<div class="sortable_cell" id="cell_for_other_elements">
		<%= render :partial => @elements, :locals => {:draggable => true} %>
	</div>
	<%- end -%>
</div>
<script type="text/javascript" charset="utf-8">
	Alchemy.SortableElements(<%= @page.id %>, '<%= form_authenticity_token %>');
	Alchemy.ElementEditorSelector();
	Alchemy.SelectBox('.element_editor select');
	TinymceHammer.init();
	Alchemy.ElementDirtyObserver('#element_area');
	jQuery('#cells').tabs();
	jQuery('#cells').tabs('paging', { follow: false } );
</script>
