<div id="overlay_toolbar">
	<div class="button_with_label">
		<%= link_to_overlay_window(
			render_icon('new_element'),
			new_admin_element_path(:page_id => @page.id),
			{
				:title => _('New Element'),
				:size => '380x50',
				:overflow => true
			},
			{
				:title => _('New Element'),
				:class => 'icon_button'
			}
		) %><br />
		<label><%= _('New Element') %></label>
	</div>
	<div class="button_with_label" id="clipboard_button">
		<%= link_to_overlay_window(
			render_icon("clipboard#{clipboard_empty?('elements') ? '' : ' full'}"),
			admin_clipboard_index_path(:remarkable_type => 'element'),
			{
				:title => _('Clipboard'),
				:size => '380x270'
			},
			:class => 'icon_button',
			:title => _('Show clipboard')
		) -%><br />
		<label><%= _('Show clipboard') %></label>
  </div>
</div>
<div id="element_area">
	<%= render :partial => @page.elements %>
</div>
<script type="text/javascript" charset="utf-8">
	Alchemy.SortableElements('<%= form_authenticity_token %>');
	Alchemy.ElementEditorSelector();
	Alchemy.SelectBox('.element_editor select');
	TinymceHammer.init();
	Alchemy.ElementDirtyObserver('#element_area');
</script>
