<div class="image_assign_filter_and_image_sizing">
	<div class="button_with_label">
		<%= link_to_remote(
			render_icon('zoom-out'),
			:url => {
				:action => "archive_overlay",
				:size => "small",
				:content_id => @content,
				:element_id => @element,
				:swap => @swap,
				:page => params[:page],
				:remote => true,
				:options => @options
			},
			:html => {
				:title => _("small_thumbnails"),
				:class => "icon_button"
			}
		) %>
		<%= link_to_remote(
			render_icon('zoom-equal'),
			:url => {
				:action => "archive_overlay",
				:size => "medium",
				:content_id => @content,
				:element_id => @element,
				:swap => @swap,
				:page => params[:page],
				:remote => true,
				:options => @options
			},
			:html => {
				:title => _("medium_thumbnails"),
				:class => "icon_button"
			}
		) %>
		<%= link_to_remote(
			render_icon('zoom-in'),
			:url => {
				:action => "archive_overlay",
				:size => "large",
				:content_id => @content,
				:element_id => @element,
				:swap => @swap,
				:page => params[:page],
				:remote => true,
				:options => @options
			},
			:html => {
				:title => _("big_thumbnails"),
				:class => "icon_button"
			}
		) %><br />
		<label class="sup"><%= _('Image size') %></label>
	</div>
	<div class="toolbar_spacer"></div>
	<div class="button_with_label">
        <%= link_to_overlay_window(
    		render_icon('upload'),
    		url_for(
    			:controller => 'admin/pictures',
    			:action => 'new',
    			:while_assigning => true,
    			:element_id => @element.blank? ? nil : @element.id,
    			:content_id => @content.blank? ? nil : @content.id,
    			:swap => @swap,
    			:page => params[:page],
    			:per_page => params[:per_page],
    			:size => @size,
    			:options => @options
    		),
    		{
    			:size => "355x320",
    			:title => _('upload_image')
    		},
    		{
    			:class => 'icon_button',
    			:title => _('upload_image')
    		}
    	) %><br />
    	<label><%= _('upload_image') %></label>
	</div>
	<%= render(
		:partial => 'admin/partials/remote_search_form',
		:locals => {
			:with => "'remote=true'+'&element_id='+jQuery('#element_id').val()+'&content_id='+jQuery('#content_id').val()+'&swap='+jQuery('#swap').val()+'&options='+jQuery('#options').val()",
			:action => 'archive_overlay'
		}
	) %>
</div>
