<div class="picture_detail" id="picture_<%= picture.id %>" name="<%= picture.name %>">
	<%- permitted_to?(:destroy, :admin_pictures) do -%>
	<span class="picture_tool_delete">
		<%= link_to_confirmation_window(
			"",
			_("confirm_to_delete_image_from_server"),
			admin_picture_path(
				:id => picture,
				:query => params[:query],
				:page => params[:page],
				:per_page => params[:per_page]
			),
			{
				:title => _('Delete image')
			}
		) -%>
	</span>
	<%- end -%>
	<div class="picture_image">
		<div class="archive_image_spinner spinner">
			<%= image_tag("alchemy/ajax_loader.gif", :alt => '') %>
		</div>
		<%= link_to_function(
			image_tag(
				thumbnail_url(:id => picture, :size => "111x93"),
				:alt => picture.name,
				:title => _('zoom_image'),
				:onload => "Alchemy.fadeImage(this, '#picture_#{picture.id} .archive_image_spinner');",
				:style => "display: none;"
			),
			"Alchemy.zoomImage('/admin/pictures/show_in_window/#{picture.id}', '#{picture.name}', #{picture.image_width || 320}, #{picture.image_height || 240})"
		) %>
	</div>
	<span class="picture_name<%= ' rename' if permitted_to?(:edit, :admin_pictures) -%>" title="<%= permitted_to?(:edit, :admin_pictures) ? picture.name + ' (' + _('Click to rename') + ')' : picture.name %>" id="image_<%= dom_id(picture) %>_name"><%= picture.name %></span>
</div>
