<%- alchemy_combined_assets -%>
<%- content_for(:toolbar) do -%>
<div id="toolbar">
	<div id="toolbar_buttons">
		<%- permitted_to?(:new, :admin_pictures) do -%>
		<div class="button_with_label">
			<%= link_to_overlay_window(
				content_tag('span', '', :class => 'icon upload'),
				new_admin_picture_path,
				{
					:title => _('upload_image'),
					:size => '540x480'
				},
				:class => 'icon_button',
				:title => _('upload_image')
			) -%><br />
			<label><%= _('upload_image') %></label>
		</div>
		<%- end -%>
		<%- permitted_to?(:flush, :admin_pictures) do -%>
		<div class="button_with_label">
			<%= link_to_remote(
				content_tag('span', '', :class => 'icon flush'),
				:url => flush_admin_pictures_path,
				:before => 'Alchemy.pleaseWaitOverlay();',
				:complete => 'Alchemy.pleaseWaitOverlay(false);',
				:html => {:class => 'icon_button',
				:title => _('Flush picture cache')}
			) -%><br />
			<label><%= _('Flush picture cache') %></label>
		</div>
		<%- end -%>
	</div>
	<div class="toolbar_spacer"></div>
	<div id="toolbar_links">
		<%= render :partial => 'admin/partials/per_page_links', :locals => {:label => _('images'), :values => ['32', '64', 'all']} %>
	</div>
	<%= render :partial => 'admin/partials/search_form' %>
</div>
<%- end -%>
<div id="archive_all">
	<%= render :partial => 'pictures_list' %>
</div>
<%- content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">

	jQuery(document).ready(function() {
		Alchemy.inPlaceEditor({
			save_label: "<%= _('save') %>",
			cancel_label: "<%= _('cancel') %>"
		});
	});

</script>
<%- end -%>
