<div id="overlay_toolbar">
  <% remote_form_for(@essence_picture, :url => admin_essence_picture_path(@essence_picture, :options => @options), :html => {:id => 'image_cropper_form'}) do |f| %>
    <%= f.hidden_field :crop_from %>
    <%= f.hidden_field :crop_size %>
    <%= hidden_field_tag 'content_id', @content.id %>
    <%= f.button _("save"), :class => 'button' %>
  <% end %>
  <div class="toolbar_spacer"></div>
  <div class="button_with_label">
    <%= link_to_function(
      render_icon('delete-small'),
      'Alchemy.ImageCropper.reset()',
      :class => 'icon_button',
      :title => _('Reset Imagemask')
    ) %>
    <label><%= _("Reset Imagemask") %></label>
  </div>
</div>

<div id="crop_explain" class="tip">
  <%= _('explain cropping') %>
</div>

<div id="jscropper">
  <%= image_tag(
    zoom_picture_path(@essence_picture.picture),
    :id => 'imageToCrop',
    :onload => "Alchemy.ImageCropper.init(
      [#{@initial_box[:x1]}, #{@initial_box[:y1]}, #{@initial_box[:x2]}, #{@initial_box[:y2]}],
      #{@size_x},
      #{@size_y},
      [#{@default_box[:x1]}, #{@default_box[:y1]}, #{@default_box[:x2]}, #{@default_box[:y2]}]
    );"
  ) %>
</div>
