<% remote_form_for(
    @essence_picture,
    :url => admin_essence_picture_path(@essence_picture, :options => @options)
) do |f| %>
	<table>
		<tr>
			<td class="label"><%= f.label "caption", _("image_caption") %></td>
			<td class="input">
				<%- if @options[:caption_as_textarea] -%>
				<%= f.text_area "caption", :class => 'thin_border' %>
				<%- else -%>
				<%= f.text_field "caption", :class => 'thin_border long' %>
				<%- end -%>
			</td>
		</tr>
		<tr>
			<td><%= f.label "title", _("image_title") %></td>
			<td><%= f.text_field "title", :class => 'thin_border long' %></td>
		</tr>
		<tr>
			<td><%= f.label "alt_tag", _("image_alt_tag") %></td>
			<td><%= f.text_field "alt_tag", :class => 'thin_border long' %></td>
		</tr>
		<%- if @options[:image_float_selector] -%>
		<tr>
			<td class="label"><%= f.label "css_class", _("align_in_text") %></td>
			<td class="input">
				<%= f.select "css_class", [[_("Layout default"), ""], [_("above"), "no_float"], [_("left"), "left"], [_("right"), "right"]] %>
			</td>
		</tr>
		<%- end -%>
		<tr>
			<td colspan="2" style="text-align:right">
			    <%= hidden_field_tag 'content_id', @content.id %>
				<%= submit_tag _("save"), :class => 'button' %>
			</td>
		</tr>
	</table>
<% end %>
