<% remote_form_for([:admin, @essence_picture], :html => {:class => "with_padding"}) do |f| %>
	<table border="0" cellspacing="4" cellpadding="0">
		<tr>
			<td><%= f.label "caption", _("image_caption") %></td>
			<td>
				<%- if @options[:caption_as_textarea] -%>
				<%= f.text_area "caption", :class => 'thin_border' %>
				<%- else -%>
				<%= f.text_field "caption", :class => 'thin_border long' %>
				<%- end -%>
			</td>
		</tr>
		<tr>
			<td><%= f.label "title", _("image_title") %></td>
			<td><%= f.text_field "title", :class => 'thin_border long' %></td>
		</tr>
		<tr>
			<td><%= f.label "alt_tag", _("image_alt_tag") %></td>
			<td><%= f.text_field "alt_tag", :class => 'thin_border long' %></td>
		</tr>
		<tr>
			<td><%= f.label "css_class", _("align_in_text") %></td>
			<td>
				<%= f.select "css_class", [[_("left"), "left"], [_("right"), "right"], [_("above"), "no_float"]] %>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:right">
				<%= submit_tag _("save"), :class => 'button' %>
			</td>
		</tr>
	</table>
<% end %>
