<% remote_form_for(
    @essence_picture,
    :url => admin_essence_picture_path(@essence_picture, :options => @options)
) do |f| %>
  <table>
    <tr>
      <td class="label"><%= f.label "caption", _("image_caption") %></td>
      <td class="input">
        <%- if @options[:caption_as_textarea] -%>
        <%= f.text_area "caption", :class => 'thin_border' %>
        <%- else -%>
        <%= f.text_field "caption", :class => 'thin_border long' %>
        <%- end -%>
      </td>
    </tr>
    <tr>
      <td class="label"><%= f.label "title", _("image_title") %></td>
      <td><%= f.text_field "title", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label "alt_tag", _("image_alt_tag") %></td>
      <td><%= f.text_field "alt_tag", :class => 'thin_border long' %></td>
    </tr>
    <%# Have to use a Hash here, because Rails has a Hash.to_params bug with nested Arrays!!!! %>
    <%- if @options[:sizes].is_a?(HashWithIndifferentAccess) -%>
    <tr>
      <td class="label"><%= f.label "render_size" %></td>
      <td>
      <%= f.select(
        "render_size",
        options_for_select(
          [[_('Layout default'), @options[:default_size]]] + @options[:sizes].sort,
          @essence_picture.render_size
        )
      ) %>
      </td>
    </tr>
    <%- elsif @options[:sizes] && !@options[:sizes].is_a?(HashWithIndifferentAccess) -%>
    <tr>
      <td colspan="2">
        <%= warning("Did not passed a Hash as sizes option", "Sizes Selector Error. Please provide a Hash.") %>
      </td>
    </tr>
    <%- end -%>
    <%- if @options[:image_float_selector] -%>
    <tr>
      <td class="label"><%= f.label "css_class", _("align_in_text") %></td>
      <td class="input">
        <%= f.select "css_class", [[_("Layout default"), ""], [_("above"), "no_float"], [_("left"), "left"], [_("right"), "right"]] %>
      </td>
    </tr>
    <%# Have to use a Hash here, because Rails has a Hash.to_params bug with nested Arrays!!!! %>
    <%- elsif @options[:css_classes].is_a?(HashWithIndifferentAccess) -%>
    <tr>
      <td class="label"><%= f.label "css_class", _("Select style") %></td>
      <td class="input">
        <%= f.select("css_class", options_for_select([[_('None'), '']] + @options[:css_classes].sort, @essence_picture.css_class)) %>
      </td>
    </tr>
    <%- elsif @options[:css_classes] && !@options[:css_classes].is_a?(HashWithIndifferentAccess) -%>
    <tr>
      <td colspan="2">
        <%= warning("Did not passed a Hash as css_classes option", "CSS Class Selector Error. Please provide a Hash.") %>
      </td>
    </tr>
    <%- end -%>
    <tr>
      <td colspan="2" style="text-align:right">
        <%= hidden_field_tag 'content_id', @content.id %>
        <%= submit_tag _("save"), :class => 'button' %>
      </td>
    </tr>
  </table>
<% end %>
