<%= turbo_frame_tag(legacy_page_url, class: ["row", cycle("even", "odd")]) do %>
  <div class="col name"><%= legacy_page_url.urlname %></div>
  <div class="col tools">
    <wa-tooltip content="<%= Alchemy.t(:edit) %>">
      <%= link_to render_icon(:edit),
        edit_admin_legacy_page_url_path(legacy_page_url, page_id: @page.id),
        class: "icon_button", data: { turbo_frame: dom_id(legacy_page_url)} %>
    </wa-tooltip>
    <wa-tooltip content="<%= Alchemy.t(:remove) %>">
      <%= link_to render_icon(:minus),
        admin_legacy_page_url_path(legacy_page_url, page_id: @page.id),
        class: "icon_button",
        data: { turbo_method: :delete, turbo_confirm: Alchemy.t('Are you sure?') } %>
    </wa-tooltip>
  </div>
<% end %>
