<!DOCTYPE html>
<html>
<head>
  <%= render "alchemy/pages/meta_data" %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= render_menu('main_menu') %>
  </nav>
  <%= yield %>
  <%= render "alchemy/edit_mode" %>

  <footer>
    <%= render_elements from_page: Alchemy::Page.find_by(page_layout: 'footer') %>
  </footer>
</body>
</html>
