<div id="left_menu">
  <%= render "alchemy/admin/main_navi" %>

  <div id="logout">
    <div class="main_navi_entry">
      <% if current_alchemy_user %>
        <%= link_to_dialog(
          %(
            #{render_icon('logout-box-r', class: 'module')}
            <label>#{Alchemy.t(:leave)}</label>
          ).html_safe,
          alchemy.leave_admin_path, {
            size: "320x140",
            title: Alchemy.t("Leave Alchemy")
        }, {'data-alchemy-hotkey' => 'alt+q'}) %>
      <% else %>
        <%= link_to(alchemy.root_path) do %>
          <%= render_icon "logout-box-r", size: "lg" %>
          <label><%= Alchemy.t(:leave) %></label>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
