<div id="jscropper">
<% if @no_image_notice %>
  <%= render_message :warn do %>
    <%= @no_image_notice %>
  <% end %>
<% else %>
  <%= render_message do %>
    <%= simple_format Alchemy.t(:explain_cropping) %>
  <% end %>
  <div class="thumbnail_background">
    <%= render Alchemy::Admin::ImageCropper.new(
      @croppable_resource,
      crop_from: @croppable_resource.crop_from,
      crop_size: @croppable_resource.crop_size,
    ) %>
  </div>
  <form>
    <%= button_tag Alchemy.t(:apply), type: 'submit' %>
    <%= button_tag Alchemy.t('Reset Imagemask'), class: 'reset_mask secondary', type: 'reset' %>
  </form>
</div>
<% end %>

<script type="module">
  import "cropperjs";
</script>
