<div id="jscropper">
<% if @no_image_notice %>
  <%= render_message :warn do %>
    <%= @no_image_notice %>
  <% end %>
<% else %>
  <%= render_message do %>
    <%= simple_format Alchemy.t(:explain_cropping) %>
  <% end %>
  <div class="thumbnail_background">
    <%= image_tag @picture.url(size: '800x600', flatten: true), id: 'imageToCrop' %>
  </div>
  <form>
    <%= button_tag Alchemy.t(:apply), type: 'submit' %>
    <%= button_tag Alchemy.t('Reset Imagemask'), class: 'reset_mask', type: 'reset' %>
  </form>
</div>
<% end %>
<% if @settings %>
<script type="text/javascript">
  Alchemy.ImageLoader('#jscropper .thumbnail_background');
  $('#imageToCrop').load(function() {
    new Alchemy.ImageCropper(
      <%= @settings[:min_size].to_json %>,
      <%= @settings[:default_box].to_json %>,
      <%= @settings[:ratio] %>,
      <%= @settings[:image_size].to_json %>,
      [
        "<%= params[:crop_from_form_field_id] %>",
        "<%= params[:crop_size_form_field_id] %>",
      ],
      <%= @element.id %>
    );
  });
</script>
<% end %>
