<%= render_message do %>
  <%= Alchemy.t("You are about to leave Alchemy") %>
<% end %>
<p class="buttons">
  <label><%= Alchemy.t("Do you want to") %></label>
  <%= link_to Alchemy.t('stay logged in'), alchemy.root_path, class: 'button secondary' %>
</p>
<%= form_tag Alchemy.logout_path, method: 'delete', class: 'buttons' do %>
  <label><%= Alchemy.t('or to completely') %></label>
  <%= button_tag Alchemy.t(:logout), autofocus: true %>
<% end %>
