<%= render_message do %>
  <%= Alchemy.t("You are about to leave Alchemy") %>
<% end %>
<%= form_tag Alchemy.logout_path, method: Alchemy.logout_method do %>
  <div class="buttons">
    <%= link_to Alchemy.t("stay logged in"),
      alchemy.root_path,
      rel: "noreferrer",
      data: {turbo: false},
      class: "button secondary" %>
    <%= button_tag Alchemy.t(:logout), autofocus: true %>
  </div>
<% end %>
