<% linkable = picture_editor.settings[:linkable] != false %>
<% croppable = picture_editor.allow_image_cropping? %>
<% disabled = cannot?(:edit, picture_editor.ingredient) %>

<%= content_tag "sl-tooltip", content: Alchemy.t("Edit Picturemask"), placement: "top-start", disabled: !croppable || disabled do %>
  <%= link_to_dialog render_icon(:crop),
    (croppable && !disabled) ? alchemy.crop_admin_ingredient_path(picture_editor.ingredient, {
      crop_from_form_field_id: picture_editor.form_field_id(:crop_from),
      crop_size_form_field_id: picture_editor.form_field_id(:crop_size),
      picture_id: picture_editor.picture&.id
    }) : nil, {
      size: "1080x615",
      title: Alchemy.t("Edit Picturemask"),
      image_loader: false,
      padding: false
    }, {
      class: "crop_link icon_button"
    } %>
<% end %>

<%= content_tag "sl-tooltip", content: picture_editor.picture ? Alchemy.t(:swap_image) : Alchemy.t(:insert_image), disabled: disabled do %>
  <%= link_to_dialog render_icon("image-add"),
    disabled ? nil : alchemy.admin_pictures_path(
      form_field_id: picture_editor.form_field_id(:picture_id)
    ),
    {
      title: Alchemy.t(:choose_image),
      size: "800x600",
      padding: false
    },
    class: "icon_button" %>
<% end %>

<% if linkable %>
  <%= render "alchemy/ingredients/shared/link_tools", ingredient: picture_editor.ingredient %>
<% else %>
  <span class="icon_button disabled"><%= render_icon("link", style: "m") %></span>
  <span class="icon_button disabled"><%= render_icon("link-unlink", style: "m") %></span>
<% end %>

<%= content_tag "sl-tooltip", content: Alchemy.t(:edit_image_properties), placement: "top-end", disabled: disabled do %>
  <%= link_to_dialog render_icon(:edit),
    disabled ? nil : alchemy.edit_admin_ingredient_path(id: picture_editor.id, language_id: @page.language_id),
    {
      title: Alchemy.t(:edit_image_properties),
      size: "380x255"
    },
    class: "icon_button" %>
<% end %>
