<% linkable = picture_editor.settings[:linkable] != false %>
<% croppable = picture_editor.allow_image_cropping? %>

<%= content_tag "sl-tooltip", content: Alchemy.t("Edit Picturemask"), placement: "top-start", disabled: !croppable do %>
  <%= link_to_dialog render_icon(:crop),
    alchemy.crop_admin_ingredient_path(picture_editor.ingredient, {
      crop_from_form_field_id: picture_editor.form_field_id(:crop_from),
      crop_size_form_field_id: picture_editor.form_field_id(:crop_size),
      picture_id: picture_editor.picture&.id
    }), {
      size: "1080x615",
      title: Alchemy.t("Edit Picturemask"),
      image_loader: false,
      padding: false
    }, {
      class: croppable ? "crop_link icon_button" : "disabled crop_link icon_button" ,
      tabindex: croppable ? nil : "-1",
      onclick: "return false"
    } %>
<% end %>

<%= content_tag "sl-tooltip", content: picture_editor.picture ? Alchemy.t(:swap_image) : Alchemy.t(:insert_image) do %>
  <%= link_to_dialog render_icon("image-add"),
    alchemy.admin_pictures_path(
      form_field_id: picture_editor.form_field_id(:picture_id)
    ),
    {
      size: "790x590",
      padding: false
    },
    class: "icon_button" %>
<% end %>

<%= content_tag "sl-tooltip", content: Alchemy.t(:link_image), disabled: !linkable do %>
  <%= link_to_if linkable, render_icon("link", style: "m"), "", {
    onclick: "new Alchemy.LinkDialog(this).open(); return false;",
    class: picture_editor.linked? ? "linked icon_button" : "icon_button",
    "data-parent-selector": "[data-ingredient-id='#{picture_editor.id}']",
    id: "edit_link_#{picture_editor.id}"
  } do %>
    <span class="disabled" tabindex="-1"><%= render_icon("link", style: "m") %></span>
  <% end %>
<% end %>

<%= content_tag "sl-tooltip", content: Alchemy.t(:unlink), disabled: !picture_editor.linked? do %>
  <%= link_to_if linkable, render_icon("link-unlink", style: "m"), "", {
    onclick: "return Alchemy.LinkDialog.removeLink(this, '[data-ingredient-id=\"#{picture_editor.id}\"]')",
    class: picture_editor.linked? ? "linked icon_button" : "icon_button disabled",
    tabindex: picture_editor.linked? ? nil : "-1"
  } do %>
    <span class="disabled" tabindex="-1"><%= render_icon("link-unlink", style: "m") %></span>
  <% end %>
<% end %>

<%= content_tag "sl-tooltip", content: Alchemy.t(:edit_image_properties), placement: "top-end" do %>
  <%= link_to_dialog render_icon(:edit),
    alchemy.edit_admin_ingredient_path(id: picture_editor.id),
    {
      title: Alchemy.t(:edit_image_properties),
      size: "380x255"
    },
    class: "icon_button" %>
<% end %>
