<tr class="<%= cycle('even', 'odd') %>">
  <td class="icon"><%= render_icon :tag %></td>
  <td class="name"><%= tag.name %></td>
  <td class="count">
    <%= tag.taggings.collect(&:taggable).collect { |t| t.class.model_name.human }.uniq.join(', ') %>
  </td>
  <td class="count"><%= tag.taggings.count %></td>
  <td class="tools">
    <%= link_to_overlay_window(
      "",
      edit_admin_tag_path(tag),
      {
        :title => t(:edit_tag),
        :size => '360x385'
      },
      {
        :title => t(:edit_tag),
        :class => 'icon tag_edit'
      }
    ) %>
    <%= link_to_confirmation_window(
      '',
      t(:do_you_really_want_to_delete_this_tag?),
      admin_tag_path(tag),
      :title => t(:delete_tag),
      :class => "icon tag_delete"
    ) %>
  </td>
</tr>
