<tr class="<%= cycle('even', 'odd') %>">
  <td class="icon"><%= render_icon(:tag, size: "xl") %></td>
  <td class="name"><%= tag.name %></td>
  <td>
    <% tag.taggings.collect(&:taggable).compact.uniq(&:class).each do |taggable| %>
      <span class="label">
        <%= taggable.class.model_name.human %>
      </span>
    <% end %>
  </td>
  <td class="count"><%= tag.taggings.count %></td>
  <td class="tools">
  <% if can?(:destroy, Alchemy::Tag) %>
    <sl-tooltip content="<%= Alchemy.t(:delete_tag) %>">
      <%= delete_button admin_tag_path(tag), {
        message: Alchemy.t(:do_you_really_want_to_delete_this_tag?),
        icon: :minus
      } %>
    </sl-tooltip>
  <% end %>
  <% if can?(:edit, Alchemy::Tag) %>
    <sl-tooltip content="<%= Alchemy.t(:edit_tag) %>" placement="top-end">
      <%= link_to_dialog render_icon(:edit),
        edit_admin_tag_path(tag),
        {
          title: Alchemy.t(:edit_tag),
          size: '360x410'
        } %>
    </sl-tooltip>
  <% end %>
  </td>
</tr>
