<tr class="<%= cycle('even', 'odd') %>">
  <td class="icon"><%= render_icon :tag %></td>
  <td class="name"><%= tag.name %></td>
  <td class="count">
    <%= tag.taggings.collect(&:taggable).collect { |t| t.class.model_name.human }.uniq.join(', ') %>
  </td>
  <td class="count"><%= tag.taggings.count %></td>
  <td class="tools">
    <% if can?(:destroy, Alchemy::Tag) %>
    <%= link_to_confirmation_window '',
      _t(:do_you_really_want_to_delete_this_tag?),
      admin_tag_path(tag),
      title: _t(:delete_tag),
      class: 'icon icon-remove'
    %>
    <% end %>
    <% if can?(:edit, Alchemy::Tag) %>
    <%= link_to_dialog '',
      edit_admin_tag_path(tag),
      {
        title: _t(:edit_tag),
        size: '360x385',
        close_on_escape: false
      },
      {
        title: _t(:edit_tag),
        class: 'icon icon-edit'
      }
    %>
    <% end %>
  </td>
</tr>
