<%= alchemy_form_for @tag, as: 'tag', url: alchemy.admin_tag_path(@tag), html: {method: 'patch'} do |f| %>
  <%= render_message :info do %>
    <%= _t(:you_can_rename_this_tag) %>
  <% end %>
  <%= f.input :name %>
  <%= f.submit _t(:rename) %>
<% end %>
<% if @tags.any? -%>
  <%= alchemy_form_for @tag, as: 'tag', url: alchemy.admin_tag_path(@tag), html: {method: 'patch'} do |f| %>
    <%= render_message :info do %>
      <%= _t(:or_replace_it_with_an_existing_tag) %>
    <% end %>
    <div class="input tags">
      <label class="control-label">Tags</label>
      <div class="control_group" id="tags_tag_list">
        <%= js_filter_field '#tag_list li' %>
        <ul id="tag_list" class="tags">
          <%= render partial: "radio_tag", collection: @tags, locals: {name: "tag"} %>
        </ul>
      </div>
    </div>
    <%= f.submit _t(:replace) %>
  <% end %>
<% end %>
