<h2 class="with_padding"><%= t(:you_can_rename_this_tag) %></h2>
<%= form_for @tag, :as => :tag, :url => {:controller => :tags, :action => "update", :id => @tag.id}, :html => {:method => :put}, :remote => true do |f| %>
  <table border="0" cellspacing="4" cellpadding="4" style="width: 100%">
    <tr>
      <td class="label">
        <%= f.label :name, "Name" %>
      </td>
      <td class="input">
        <%= f.text_field :name, :class => "thin_border long" %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="submit">
        <%= f.button t(:rename), :class => "button" %>
      </td>
    </tr>
  </table>
<% end %>
<% if @tags.any? -%>
  <h2 class="with_padding"><%= t(:or_replace_it_with_an_existing_tag) %>:</h2>
  <%= form_for @tag, :as => :tag, :url => {:controller => :tags, :action => "update", :id => @tag.id, :replace => true}, :html => {:method => :put, :style => "clear: both"}, :remote => true do |f| %>
    <table border="0" cellspacing="4" cellpadding="4" style="width: 100%">
      <tr>
        <td class="label">
          <label>Tags</label>
        </td>
        <td class="input" id="tags_tag_list">
          <%= js_filter_field :onkeyup => "Alchemy.ListFilter('#tag_list li')" %>
          <ul id="tag_list" class="tags">
            <%= render :partial => "radio_tag", :collection => @tags, :locals => {:name => "tag"} %>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="submit">
          <%= f.button t(:replace), :class => "button", :id => "tag_replace_button" %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
