<%= toolbar(
  buttons: [
    {
      icon: 'tag_add',
      label: _t('New Tag'),
      url: alchemy.new_admin_tag_path,
      title: _t('New Tag'),
      hotkey: 'alt+n',
      dialog_options: {
        title: _t('New Tag'),
        size: '310x180'
      },
      if_permitted_to: [:create, Alchemy::Tag]
    }
  ]
) %>

<div id="archive_all">
  <h1>
    <%= @tags.total_count %>
    <%= ActsAsTaggableOn::Tag.model_name.human(count: @tags.total_count) %>
  </h1>
  <% if @tags.any? %>

  <table class="list" id="tag_list">
    <tr class="legend">
      <th class="icon"></th>
      <th class="name"><%= sortable_column(ActsAsTaggableOn::Tag.human_attribute_name(:name), column: :name) %></th>
      <th class="count"><%= ActsAsTaggableOn::Tag.human_attribute_name(:taggings_types) %></th>
      <th class="count"><%= sortable_column(ActsAsTaggableOn::Tag.human_attribute_name(:taggings_count), column: :taggings_count) %></th>
      <th class="tools"></th>
    </tr>
    <%= render partial: 'tag', collection: @tags %>
  </table>

  <%= paginate @tags, theme: 'alchemy' %>

  <% else %>

  <%= render_message do %>
    <h2><%= _t('No Tags found') %></h2>
    <% if params[:query].blank? %>
      <p><%= _t(:tags_get_created_if_used_the_first_time) %></p>
    <% end %>
  <% end %>

  <% end %>
</div>
