<!DOCTYPE html>
<html>
<head>
  <%= render_meta_data %>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <%= yield %>
  <%= alchemy_preview_mode_code %>
  <%= alchemy_menu_bar %>
</body>
</html>
