<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%= render_alchemy_title %></title>
    <link rel="shortcut icon" href="/assets/alchemy/favicon.ico">
    <%= csrf_meta_tag %>
    <meta name="robots" content="noindex">
    <%= stylesheet_link_tag('alchemy/admin', :media => 'screen', "data-turbolinks-track" => true) %>
    <%= stylesheet_link_tag('alchemy/print', :media => 'print', "data-turbolinks-track" => true) %>
    <%= yield :stylesheets %>
    <script type="text/javascript" charset="utf-8">

      // Setting TinyMCE path.
      var tinyMCEPreInit = {
        base: '<%= Rails.application.config.assets.prefix %>/tinymce',
        suffix: '.min'
      };

      // Initialize Alchemys JavaScript framework.
      var Alchemy = {};
      Alchemy.locale = '<%= ::I18n.locale %>';

    </script>
    <%= javascript_include_tag('alchemy/alchemy', "data-turbolinks-track" => true) %>
    <%= yield :javascript_includes %>
  </head>
  <body id="alchemy" class="<%= body_class %>">
    <noscript>
      <h1><%= _t(:javascript_disabled_headline) %></h1>
      <p><%= _t(:javascript_disabled_text) %></p>
    </noscript>
    <div id="overlay">
      <div id="overlay_text_box">
        <span id="overlay_text"><%= _t(:please_wait) %></span>
      </div>
    </div>
    <div id="left_menu">
      <div id="main_navi">
        <% sorted_alchemy_modules.each do |alchemy_module| %>
          <%= alchemy_main_navigation_entry(alchemy_module) %>
        <% end %>
        <%= yield(:alchemy_main_navigation) %>
      </div>
      <div id="logout">
        <% if current_alchemy_user %>
          <%= link_to_overlay_window(
            "<span class='module icon exit'></span><label>#{_t(:leave)}</label>".html_safe,
            alchemy.leave_admin_path, {
              :size => "300x105",
              :title => _t("Leave Alchemy")
          }, {'data-alchemy-hotkey' => 'alt+q'}) %>
        <% else %>
          <%= link_to(alchemy.root_path) do %>
            <span class="module icon exit"></span>
            <label><%= _t(:leave) %></label>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if current_alchemy_user %>
    <div id="top_menu">
      <div id="sub_navigation">
        <%= admin_subnavigation %>
        <div id="subnav_additions">
          <%= yield(:subnav_additions) %>
        </div>
      </div>
      <div id="toolbar">
        <%= yield(:toolbar) %>
      </div>
      <div id="user_info">
        <%= select_tag 'change_locale',
          options_for_select(translations_for_select, ::I18n.locale),
          class: 'alchemy_selectbox tiny' %>
        <%= _t('Logged in as') %>
        <%= current_alchemy_user.try(:name) %>
      </div>
    </div>
    <% end %>
    <%= render :partial => 'alchemy/admin/partials/flash_notices' %>
    <div id="main_content">
      <%= yield %>
    </div>
    <%= yield(:javascripts) %>
  </body>
</html>
