<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8">
		<title><%= render_alchemy_title %></title>
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag('alchemy/alchemy', :media => 'screen') %>
		<%= stylesheet_link_tag('alchemy/print', :media => 'print') %>
		<%= yield :stylesheets %>
		<script type="text/javascript" charset="utf-8">
			var tinyMCEPreInit = {
				base: '<%= Rails.application.config.assets.prefix %>/tiny_mce',
				suffix: ''
			};
		</script>
		<%= javascript_include_tag('alchemy/alchemy') %>
		<%= yield :javascript_includes %>
	</head>
	<body id="alchemy">
		<noscript>
			<h1><%= t(:javascript_disabled_headline) %></h1>
			<p><%= t(:javascript_disabled_text) %></p>
		</noscript>
		<div id="overlay">
			<div id="overlay_text_box">
				<%= image_tag('alchemy/ajax_loader.gif', :id => 'ajax_loader') %>
				<span id="overlay_text"><%= t("please_wait") %></span>
			</div>
		</div>
		<div id="left_menu">
			<div id="main_navi">
				<%= admin_main_navigation %>
				<%= yield(:alchemy_main_navigation) %>
			</div>
			<div id="logout">
				<%= link_to_overlay_window("<span class='module icon exit'></span><label>#{t('leave')}</label>".html_safe, alchemy.leave_admin_path, {:size => "300x105", :title => t("Leave Alchemy")}) %>
			</div>
		</div>
		<div id="top_menu">
			<div id="sub_navigation">
				<%= admin_subnavigation %>
				<div id="subnav_additions">
					<%= yield(:subnav_additions) %>
				</div>
			</div>
			<div id="toolbar">
				<%= yield(:toolbar) %>
			</div>
			<%- if current_user -%>
			<div id="user_info">
				<%= t('Logged in as') %> <%= current_user.name %>
			</div>
			<%- end -%>
		</div>
		<%= render :partial => 'alchemy/admin/partials/flash_notices' %>
		<div id="main_content">
			<div id="archive_all">
				<%= yield %>
			</div>
		</div>
		<%= yield(:javascripts) %>
		<script type="text/javascript" charset="utf-8">
			jQuery(function($) {
				$('html').removeClass('no-js');
				Alchemy.locale = '<%= ::I18n.locale %>';
				Alchemy.resizeFrame();
				Alchemy.Tooltips();
				if (typeof(jQuery().sb) === 'function') {
					Alchemy.SelectBox('body#alchemy select.alchemy_selectbox');
				}
				Alchemy.Datepicker();
				if ($('#flash_notices').length > 0) {
					Alchemy.Growler.fade();
				}
				$('#toolbar a.please_wait, #toolbar form .button, #toolbar form .icon_button, #main_navi a.main_navi_entry, #sub_navigation .subnavi_tab a, .pagination a').click(function() {
					Alchemy.pleaseWaitOverlay();
				});
			});
			jQuery(window).resize(function() {
				Alchemy.resizeFrame();
			});
		</script>
	</body>
</html>
