<tr class="<%= cycle('odd', 'even') %>">
	<%- resource_attributes.each do |attribute| -%>
	<%- if attribute[:type] == :boolean -%>
	<td class="center"><%= render_icon(resource.send(attribute[:name])) -%></td>
	<%- elsif attribute[:type] == :integer || attribute[:type] == :float || attribute[:type] == :decimal -%>
	<td class="right"><%= resource.send(attribute[:name]) -%></td>
	<%- else -%>
	<td><%= resource.send(attribute[:name]) -%></td>
	<%- end -%>
	<%- end -%>
	<td class="tools">
		<%- permitted_to?(:destroy, "admin_#{resources_name}".to_sym) do -%>
		<%= link_to_confirmation_window(
			'',
			_("Are you sure?"),
			send("admin_#{resource_model_name}_path", resource),
			:title => _("Delete"),
			:class => "icon destroy"
		) -%>
		<%- end -%>
		<%- permitted_to?(:edit, "admin_#{resources_name}".to_sym) do -%>
		<%= link_to_overlay_window(
			'',
			send("edit_admin_#{resource_model_name}_path", resource),
			{
				:title => _("Edit"),
				:size => resource_window_size,
				:overflow => true
			},
			{
				:class => "icon edit",
				:title => _("Edit")
			}
		) -%>
		<%- end -%>
	</td>
</tr>
