<%= form_for([:admin, @essence_file], :remote => true) do |f| %>
  <table>
    <tr>
      <td class="label"><%= f.label "title" %></td>
      <td class="input"><%= f.text_field "title", :class => 'thin_border' %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label "css_class" %></td>
      <td class="select">
        <%= f.select(
          "css_class", [
            [t("Layout default"), ""],
            [t("above"), "no_float"],
            [t("left"), "left"],
            [t("right"), "right"]
          ],
          :class => 'alchemy_selectbox'
        ) %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="submit">
        <%= f.button t("save"), :class => 'button' %>
      </td>
    </tr>
  </table>
<% end %>
