<%= form_for([:admin, @essence_file], :remote => true, :method => "put") do |f| %>
  <%- if @content.essence_type == "EssenceFile" -%>
  <table>
    <tr>
      <td class="label long"><%= f.label "title" %></td>
      <td><%= f.text_field "title", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "css_class" %></td>
      <td><%= f.select "css_class", [[t("Layout default", :scope => :alchemy), ""], [t("above", :scope => :alchemy), "no_float"], [t("left", :scope => :alchemy), "left"], [t("right", :scope => :alchemy), "right"]] %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right">
        <%= f.button t("save", :scope => :alchemy), :class => 'button' %>
      </td>
    </tr>
  </table>
  <%- elsif @content.essence_type == "EssenceFlash" -%>
  <table>
    <tr>
      <td class="label long"><%= f.label "width" %></td>
      <td><%= f.text_field "width", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "height" %></td>
      <td><%= f.text_field "height", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "player_version" %></td>
      <td><%= f.text_field "player_version", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right">
        <%= f.button t("save", :scope => :alchemy), :class => 'button' %>
      </td>
    </tr>
  </table>
  <%- elsif @content.essence_type == "EssenceVideo" -%>
  <table>
    <tr>
      <td class="label long"><%= f.label "width" %></td>
      <td><%= f.text_field "width", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "height" %></td>
      <td><%= f.text_field "height", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "allow_fullscreen" %></td>
      <td><%= f.check_box "allow_fullscreen" %></td>
    </tr>
    <tr>
      <td><%= f.label "auto_play" %></td>
      <td><%= f.check_box "auto_play" %></td>
    </tr>
    <tr>
      <td><%= f.label "show_navigation" %></td>
      <td><%= f.check_box "show_navigation" %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right">
        <%= f.button t("save", :scope => :alchemy), :class => 'button' %>
      </td>
    </tr>
  </table>
  <%- elsif @content.essence_type == "EssenceAudio" -%>
  <table>
    <tr>
      <td class="label long"><%= f.label "width" %></td>
      <td><%= f.text_field "width", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "height" %></td>
      <td><%= f.text_field "height", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "show_eq" %></td>
      <td><%= f.check_box "show_eq" %></td>
    </tr>
    <tr>
      <td><%= f.label "show_navigation" %></td>
      <td><%= f.check_box "show_navigation" %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right">
        <%= f.button t("save", :scope => :alchemy), :class => 'button' %>
      </td>
    </tr>
  </table>
  <%- end -%>
<%- end -%>
