<div id="overlay_toolbar">
  <% if can? :create, Alchemy::Attachment %>
    <%= render 'alchemy/admin/uploader/button',
      object: Alchemy::Attachment.new,
      dropzone: '#assign_file_list',
      file_attribute: 'file',
      in_dialog: true,
      redirect_url: admin_attachments_path(
        form_field_id: @form_field_id
      ) %>
  <% end %>
  <%= render 'alchemy/admin/partials/remote_search_form' %>
</div>

<div id="assign_file_list" class="with_padding<%= search_filter_params[:tagged_with].present? ? ' filtered' : '' %>">
  <div id="library_sidebar">
    <%= render 'filter_bar' %>

    <% if Alchemy::Attachment.tag_counts.any? %>
      <div class="tag-list">
        <%= render 'tag_list' %>
      </div>
    <% end %>
  </div>
  <div id="overlay_file_list" class="with_tag_list">
    <%= render 'overlay_file_list' %>
  </div>
</div>
