<div id="alchemy_window_body">
  <div id="overlay_toolbar">
    <div class="button_with_label">
      <%= link_to_overlay_window(
          render_icon('upload'),
          alchemy.new_admin_attachment_path(
            :content_id => @content.blank? ? nil : @content.id,
            :swap => @swap,
            :options => @options
          ),
          {
            :title => _t(:upload_file),
            :size => '540x550'
          },
          :title => _t(:upload_file),
          :class => 'icon_button'
        ) %>
      <label><%= _t(:upload_file) %></label>
    </div>
    <%= render 'alchemy/admin/partials/remote_search_form' %>
  </div>
  <div id="assign_file_list" class="with_padding">
    <div id="library_sidebar">
      <div id="tag_list">
        <%= render 'tag_list' %>
      </div>
    </div>
    <div id="overlay_file_list">
      <%= render 'overlay_file_list' %>
    </div>
  </div>
</div>
