<%= turbo_frame_tag "archive_overlay" do %>
  <div id="overlay_toolbar">
    <div class="toolbar_buttons">
      <% if can? :create, Alchemy::Attachment %>
        <div class="toolbar_button">
          <%= render 'alchemy/admin/uploader/button',
            object: Alchemy::Attachment.new,
            dropzone: '#assign_file_list',
            file_attribute: 'file',
            in_dialog: true,
            redirect_url: admin_attachments_path(
              form_field_id: @form_field_id
            ) %>
        </div>
      <% end %>
    </div>

    <%= render 'alchemy/admin/partials/overlay_search_form' %>
  </div>

  <div
    id="assign_file_list"
    class="with_padding<%= search_filter_params[:tagged_with].present? ? ' filtered' : '' %>"
  >
    <%= render 'library_sidebar' %>

    <div id="overlay_file_list" class="with_tag_list">
      <% %i[except only].each do |filter| %>
        <% if search_filter_params[filter].present? %>
          <%= render_message do %>
            <%= Alchemy.t(:"choose_#{filter}_files", type:
              Array.wrap(search_filter_params[filter]).map { |ext|
                mime_to_human(Marcel::MimeType.for(extension: ext))
              }.to_sentence(
                last_word_connector: t(".last_word_connector", default: ", "),
                two_words_connector: t(".two_words_connector", default: ", ")
              )
            ) %>
          <% end %>
        <% end %>
      <% end %>

      <%= render 'overlay_file_list' %>
    </div>
  </div>
<% end %>
