<% if @attachments.blank? && params[:query].nil? %>
<div class="info" id="no_files_notice">
  <%= render_icon('info') %>
  <%= _t(:no_files_in_archive) %>
</div>
<% elsif @attachments.blank? %>
<div class="info">
  <%= render_icon('info') %>
  <%= _t(:no_search_results) %>
</div>
<% end %>
<table id="all_files" class="list">
  <% unless @attachments.blank? %>
  <tr>
    <th class="icon"></th>
    <th class="name">
      <%= sortable_column(Alchemy::Attachment.human_attribute_name('name'), :column => :name) %>
    </th>
    <th class="file_name">
      <%= sortable_column(Alchemy::Attachment.human_attribute_name('file_name'), :column => :file_name) %>
    </th>
    <th class="file_type"><%= Alchemy::Attachment.human_attribute_name('file_mime_type') %></th>
    <th class="file_size">
      <%= sortable_column(Alchemy::Attachment.human_attribute_name('file_size'), :column => :file_size) %>
    </th>
    <th class="date">
      <%= sortable_column(Alchemy::Attachment.human_attribute_name('created_at'), :column => :created_at) %>
    </th>
    <th class="tools"></th>
  </tr>
  <% end %>
  <%= render :partial => 'alchemy/admin/attachments/attachment', :collection => @attachments %>
</table>

<%= paginate @attachments, theme: 'alchemy' %>
