<li class="assign_file_file <%= cycle('even', 'odd') %>">
  <%= link_to alchemy.assign_admin_attachment_path(
      id: file_to_assign.id,
      form_field_id: @form_field_id
    ),
    remote: true,
    method: 'put' do %>
    <span class="list-primary">
      <%= render_icon(file_to_assign.icon_css_class) %>
      <%= file_to_assign.name %>
    </span>
    <span class="list-secondary">
      <%= mime_to_human(file_to_assign.file_mime_type) %>
    </span>
  <% end %>
</li>
