<%= form_for([:admin, @attachment], :url => {:action => :update, :query => params[:query], :page => params[:page]}) do |f| -%>
  <table>
    <tr>
      <td class="label"><%= f.label 'name' %></td>
      <td class="input"><%= f.text_field 'name', :class => 'thin_border long', :autofocus => true %></td>
    </tr>
    <tr>
      <td class="label"><%= f.label 'filename' %>*</td>
      <td class="input">
        <%= f.text_field 'filename', :class => 'thin_border long' %>
        <p class="foot_note"><%= t(:attachment_filename_notice) %></p>
      </td>
    </tr>
    <tr>
      <td class="label"><%= f.label 'tag_list' %></td>
      <td class="input">
        <%= render 'alchemy/admin/partials/autocomplete_tag_list', :object => @attachment, :f => f %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="submit">
        <%= f.button t('save'), :class => 'button' %>
      </td>
    </tr>
  </table>
<% end %>
