<% content_for(:toolbar) do %>
  <div class="toolbar_buttons">
    <% if can? :create, Alchemy::Attachment %>
      <div class="toolbar_button">
        <%= render 'alchemy/admin/uploader/button',
          redirect_url: alchemy.admin_attachments_path,
          object: Alchemy::Attachment.new,
          file_attribute: 'file' %>
      </div>
    <% end %>
  </div>

  <%= render 'alchemy/admin/partials/search_form' %>
<% end %>

<div id="archive_all" class="with_tag_filter resources-table-wrapper">
  <%= render 'alchemy/admin/resources/table_header' %>
  <%= render 'files_list' %>
  <%= render 'library_sidebar' %>
</div>
