<% any_tags = Alchemy::Attachment.tag_counts.any? %>

<% content_for(:toolbar) do %>
  <div class="toolbar_buttons">
    <% if can? :create, Alchemy::Attachment %>
      <%= render 'alchemy/admin/uploader/button',
        redirect_url: alchemy.admin_attachments_path,
        model_class: Alchemy::Attachment,
        file_attribute: 'file' %>
    <% end %>
  </div>
  <%= render 'alchemy/admin/partials/search_form' %>
<% end %>

<div id="archive_all" class="<%= any_tags ? 'with_tag_filter ' : nil %>resources-table-wrapper">
  <%= resources_header %>
  <%= render partial: 'files_list' %>
  <% if any_tags %>
  <div id="library_sidebar">
    <div id="tag_list" class="<%= params[:tagged_with].present? ? 'filtered' : '' %>">
      <%= render partial: 'tag_list' %>
    </div>
  </div>
  <% end %>
</div>
