<div class="dashboard-card dashboard-online-users">
  <div class="card-header">
    <h3>
      <%= render_icon(:user, size: "1x") %>
      <%= Alchemy.t('Who else is online') %>
    </h3>

    <span class="card-badge"><%= @online_users.count %></span>
  </div>

  <div class="card-body">
    <% if @online_users.blank? %>
      <p class="empty-state"><%= Alchemy.t('no users') %></p>
    <% else %>
      <div class="online-users-list">
        <% @online_users.each do |user| %>
          <div class="online-user-item">
            <div class="user-info">
              <div class="user-name">
                <%= render_icon(:user, size: "1x", style: "fill") %>
                <%= user.name %>
              </div>

              <div class="user-roles"><%= user.human_roles_string %></div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
