<div class="<%= element_name %>" id="<%%= element_dom_id(element) %>" <%%= element_preview_code(element) -%>>
<%- unless contents.blank? -%>
    <%- contents.each do |content| -%>
        <%- unless content["type"] == "EssencePicture" -%>
    <div class="<%= content["name"] %>">
        <%%= render_essence_view_by_name(element, '<%= content["name"] %>') %>
    </div>
        <%- else -%>
    <div class="<%= element_name %>_images">
        <%%- element.contents.find_all_by_essence_type("EssencePicture").each do |content| -%>
        <div class="<%= element_name %>_image <%%= content.essence.css_class %>">
            <%%= render_essence_view(content, :image_size => "160x120") %>
        </div>
        <%%- end -%>
    </div>
        <%- end -%>
    <%- end -%>
<%- end -%>
</div>
