<form method="POST" action="<%= alchemy.configure_admin_site_path(@site) %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <table>
    <% @properties.each do |property| %>
      <tr>
        <td class="label"><label for="property_<%=property.id%>"><%= _t(property.name) %></label></td>
        <td class="input"><input type="text" id="property_<%= property.id %>" name="properties[<%= property.id %>]" value="<%= property.value %>"/></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2" class="submit">
        <input type="submit" value="Save" class="button" />
      </td>
    </tr>
  </table>
</form>
