<%= toolbar(
  buttons: [
    {
      icon: 'back',
      url: request.referer || "#{Alchemy::MountPoint.get}/admin/dashboard",
      label: _t(:back),
      title: _t(:back),
      hotkey: 'alt+z',
      dialog: false,
      skip_permission_check: true
    }
  ]
) %>

<%= render_message(:error) do %>
  <h1><%= _t('An error happened') %></h1>
  <h2>
    <%= @error.class %>
    <%= @notice %>
  </h2>
  <p>
  <% @trace.each do |line| %>
    <%= line %><br>
  <% end %>
  </p>
<% end %>
