<div id="login_box">
  <div id="alchemy_greeting">
    <%= image_tag("alchemy/alchemy-logo.png", style: "width: 240px; height: 70px") %>
  </div>
  <div class="login_signup_box">
  <% if @user.errors.blank? %>
    <%= render_message do %>
      <h1><%= _t 'Password reset' %></h1>
      <p><%= _t 'Please enter a new password' %></p>
    <% end %>
  <% else %>
    <div id="errors" style="display: block">
      <%= devise_error_messages! %>
    </div>
  <% end %>
    <%= alchemy_form_for :user, url: update_password_path, html: {method: 'patch'} do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <%= f.password, autofocus: true, label: _t("New password") %>
      <%= f.password_confirmation label: _t("Confirm new password") %>
      <%= f.submit _t("Change password") %>
    <% end %>
  </div>
</div>
