<div id="login_box">
  <div id="alchemy_greeting">
    <%= image_tag("alchemy/alchemy-logo.png", :style => "width: 240px; height: 70px") %>
  </div>
  <div class="login_signup_box">
    <% if @user.errors.blank? %>
    <%= render_message do %>
      <h1><%= _t 'Password reset' %></h1>
      <p><%= _t 'Please enter your email address' %></p>
    <% end %>
    <% else %>
    <div id="errors" style="display: block">
      <%= devise_error_messages! %>
    </div>
    <% end %>
    <%= form_for(:user, :url => password_path, :html => { :method => :post }) do |f| %>
      <table>
        <tr>
          <td class="label"><%= f.label :email %></td>
          <td class="input"><%= f.email_field :email, :autofocus => true %></td>
        </tr>
        <tr>
          <td colspan="2" class="submit">
            <%= f.button _t("Send reset instructions") %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
