<div id="library_sidebar">
  <%= render :partial => 'filter_bar' %>
  <div id="tag_list" class="with_filter_bar<%= params[:tagged_with].present? ? ' filtered' : '' %>">
    <%= render :partial => 'tag_list' %>
  </div>
</div>
<%= form_tag delete_multiple_admin_pictures_path, :method => :delete do %>
  <div class="selected_item_tools">
    <h2><%= _t(:edit_selected_pictures) %></h2>
    <%= link_to(
      render_icon('edit') + _t("Edit"),
      edit_multiple_admin_pictures_path,
      :class => 'button with_icon',
      :title => _t('Edit multiple pictures'),
      :id => 'edit_multiple_pictures',
      :style => 'float: none'
    ) %>
    <%= button_tag render_icon('destroy') + _t("Delete"), 'data-alchemy-confirm' => {
      :title => _t(:please_confirm),
      :message => _t(:confirm_to_delete_images_from_server),
      :ok_label => _t("Yes"),
      :cancel_label => _t("No")
    }.to_json, :class => 'button with_icon' %>
    &nbsp;<%= _t(:or) %>&nbsp;
    <%= link_to(
      render_icon('delete-small') + _t("Clear selection"),
      admin_pictures_path(
        :query => params[:query],
        :tagged_with => params[:tagged_with],
        :size => params[:size],
        :filter => params[:filter]
      ),
      :class => 'button with_icon',
      :style => 'float: none'
    ) %>
  </div>
  <div id="pictures">
  <% if @pictures.blank? and @recent_pictures.blank? and params[:query].nil? %>
    <div class="info">
      <%= render_icon('info') %>
      <%= _t(:no_images_in_archive) %>
    </div>
  <% elsif @pictures.blank? and @recent_pictures.blank? %>
    <div class="info">
      <%= render_icon('info') %>
      <%= _t(:no_search_results) %>
    </div>
  <% else %>
    <%= render :partial => 'picture', :collection => @pictures %>
    <%= paginate @pictures, theme: 'alchemy' %>
  <% end %>
  </div>
<% end %>
