<div id="overlay_toolbar">
  <%= render 'filter_and_size_bar' %>
</div>
<div id="assign_image_list" class="with_padding<%= search_filter_params[:tagged_with].present? ? ' filtered' : '' %>">
  <div id="library_sidebar">
    <%= render 'filter_bar' %>
    <div class="tag-list">
      <%= render 'tag_list' %>
    </div>
  </div>
  <div id="overlay_picture_list">
    <%= render 'overlay_picture_list' %>
  </div>
</div>
