<%= form_tag delete_multiple_admin_pictures_path, :method => :delete do %>
  <div class="selected_item_tools">
    <label><%= t("edit_selected_pictures") %></label>
    <%= button_tag t("Delete"), 'data-alchemy-confirm' => {
      :title => t("please_confirm"),
      :message => t("confirm_to_delete_images_from_server"),
      :okLabel => t("Yes"),
      :cancelLabel => t("No")
    }.to_json, :class => 'button' %>
    <%= link_to(
      t("Edit"),
      edit_multiple_admin_pictures_path,
      :class => 'button',
      :title => t('Edit multiple pictures'),
      :id => 'edit_multiple_pictures',
      :style => 'float: none'
    ) %>
    <%= link_to(
      t("Clear selection"),
      admin_pictures_path(
        :query => params[:query],
        :tagged_with => params[:tagged_with],
        :size => params[:size],
        :filter => params[:filter]
      ),
      :class => 'button',
      :style => 'float: none'
    ) %>
  </div>
  <div id="tag_list">
    <%= render :partial => 'tag_list' %>
  </div>
  <div id="picture_archive">
    <%= render :partial => 'pictures_list' %>
  </div>
<% end %>