<div id="library_sidebar">
  <%= render 'filter_bar' %>

  <% if Alchemy::Picture.tag_counts.any? %>
    <div class="tag-list with_filter_bar<%= ' filtered' if search_filter_params[:tagged_with].present? %>">
      <%= render 'tag_list' %>
    </div>
  <% end %>
</div>

<%= form_tag delete_multiple_admin_pictures_path, method: :delete do %>
  <div class="selected_item_tools">
    <h3><%= Alchemy.t(:edit_selected_pictures) %></h3>
    <%= link_to(
      render_icon(:edit, size: 'xs') + Alchemy.t("Edit"),
      edit_multiple_admin_pictures_path,
      class: 'button with_icon',
      title: Alchemy.t('Edit multiple pictures'),
      id: 'edit_multiple_pictures',
      style: 'float: none'
    ) %>
    <%= button_tag render_icon(:minus, size: 'xs') + Alchemy.t("Delete"), 'data-alchemy-confirm' => {
      title: Alchemy.t(:please_confirm),
      message: Alchemy.t(:confirm_to_delete_images_from_server),
      ok_label: Alchemy.t("Yes"),
      cancel_label: Alchemy.t("No")
    }.to_json, class: 'button with_icon' %>
    &nbsp;<%= Alchemy.t(:or) %>&nbsp;
    <%= link_to(
      render_icon(:times, size: 'xs') + Alchemy.t("Clear selection"),
      admin_pictures_path(
        q: search_filter_params[:q],
        tagged_with: search_filter_params[:tagged_with],
        size: params[:size],
        filter: search_filter_params[:filter]
      ),
      class: 'secondary button with_icon',
      style: 'float: none'
    ) %>
  </div>
  <div id="pictures">
  <% if @pictures.blank? and @recent_pictures.blank? and search_filter_params[:q].blank? %>
    <%= render_message do %>
      <%= Alchemy.t(:no_images_in_archive) %>
    <% end %>
  <% elsif @pictures.blank? and @recent_pictures.blank? %>
    <%= render_message do %>
      <%= Alchemy.t(:no_search_results) %>
    <% end %>
  <% else %>
    <%= render partial: 'picture', collection: @pictures %>
  <% end %>
  </div>
<% end %>

<%= paginate @pictures, theme: 'alchemy' %>
