<div id="image_assign_filter_and_image_sizing">
  <% if can? :create, Alchemy::Picture %>
    <%= render 'alchemy/admin/uploader/button',
      object: Alchemy::Picture.new,
      dropzone: '#assign_image_list',
      file_attribute: 'image_file',
      in_dialog: true,
      redirect_url: alchemy.admin_pictures_path(
        size: search_filter_params[:size],
        filter: 'last_upload',
        form_field_id: @form_field_id
      ) %>
    <div class="toolbar_spacer"></div>
  <% end %>
  <div class="button_group">
    <div class="button_with_label">
      <%= link_to(
        render_icon('search-minus'),
        alchemy.admin_pictures_path({
          size: "small",
          form_field_id: @form_field_id,
          q: search_filter_params[:q],
          filter: search_filter_params[:filter],
          tagged_with: search_filter_params[:tagged_with]
        }),
        remote: true,
        title: Alchemy.t(:small_thumbnails),
        class: "icon_button"
      ) %>
    </div>
    <div class="button_with_label">
      <%= link_to(
        render_icon('search'),
        alchemy.admin_pictures_path({
          size: "medium",
          form_field_id: @form_field_id,
          q: search_filter_params[:q],
          filter: search_filter_params[:filter],
          tagged_with: search_filter_params[:tagged_with]
        }),
        remote: true,
        title: Alchemy.t(:medium_thumbnails),
        class: "icon_button"
      ) %>
    </div>
    <div class="button_with_label">
      <%= link_to(
        render_icon('search-plus'),
        alchemy.admin_pictures_path({
          size: "large",
          form_field_id: @form_field_id,
          q: search_filter_params[:q],
          filter: search_filter_params[:filter],
          tagged_with: search_filter_params[:tagged_with]
        }),
        remote: true,
        title: Alchemy.t(:big_thumbnails),
        class: "icon_button"
      ) %>
    </div>
    <label><%= Alchemy.t('Image size') %></label>
    <%= hidden_field_tag('size', @size, id: 'overlay_thumbnails_size') %>
  </div>
  <%= render partial: 'alchemy/admin/partials/remote_search_form' %>
</div>
