<div class="resource_info file-infos">
  <div class="value">
    <label><%= Alchemy::Picture.human_attribute_name(:image_file_name) %></label>
    <p><%= @picture.image_file_name %></p>
  </div>
  <div class="value">
    <label><%= Alchemy::Picture.human_attribute_name(:image_file_dimensions) %></label>
    <p><%= @picture.image_file_dimensions %>px</p>
  </div>
  <div class="value">
    <label><%= Alchemy::Picture.human_attribute_name(:image_file_size) %></label>
    <p><%= number_to_human_size @picture.image_file_size %></p>
  </div>
  <div class="value">
    <label><%= Alchemy::Picture.human_attribute_name(:created_at) %></label>
    <p><%= l(@picture.created_at, format: :"alchemy.default") %></p>
  </div>
</div>

<hr>

<%= render "alchemy/admin/resources/resource_usage_info",
  assignments: @assignments,
  resource_name: :picture %>
