<div class="resource_info">
  <div class="picture-file-infos">
    <div class="value">
      <label><%= Alchemy::Picture.human_attribute_name(:image_file_name) %></label>
      <p><%= @picture.image_file_name %></p>
    </div>
    <div class="value">
      <label><%= Alchemy::Picture.human_attribute_name(:image_file_dimensions) %></label>
      <p><%= @picture.image_file_dimensions %>px</p>
    </div>
    <div class="value">
      <label><%= Alchemy::Picture.human_attribute_name(:image_file_size) %></label>
      <p><%= number_to_human_size @picture.image_file_size %></p>
    </div>
  </div>
</div>

<div class="picture-usage-info resource_info">
  <h3>
    <%= Alchemy.t(:this_picture_is_used_on_these_pages) %>
  </h3>
  <div id="pictures_page_list">
    <% if @assignments.any? %>
      <ul>
        <% @assignments.group_by(&:page).each do |page, essence_pictures| %>
          <% if page %>
            <li>
              <h3>
                <%= render_icon 'file-alt' %>
                <p><%= link_to page.name, edit_admin_page_path(page) %></p>
              </h3>
              <ul class="list">
                <% essence_pictures.group_by(&:element).each do |element, essence_pictures| %>
                  <li class="<%= cycle('even', 'odd') %>">
                    <% page_link = link_to element.display_name_with_preview_text,
                                   edit_admin_page_path(page, anchor: "element_#{element.id}") %>
                    <% pictures = essence_pictures.collect do |e|
                                    e.content.name_for_label
                                  end.to_sentence %>
                    <% if element.public? %>
                      <%= render_icon('window-maximize', style: 'regular') %>
                    <% else %>
                      <%= render_icon('window-close') %>
                    <% end %>
                    <p>
                      <%== Alchemy.t(:pictures_in_page, page: page_link, pictures: pictures) %>
                    </p>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <%= render_message do %>
        <%= Alchemy.t(:picture_not_in_use_yet) %>
      <% end %>
    <% end %>
  </div>
</div>
