<% if @pictures.blank? and @recent_pictures.blank? and params[:query].nil? %>
<div class="info">
  <%= render_icon('info') %>
  <%= t("no_images_in_archive") %>
</div>
<% elsif @pictures.blank? and @recent_pictures.blank? %>
<div class="info">
  <%= render_icon('info') %>
  <%= t("no_search_results") %>
</div>
<% else  %>
  <%= content_tag :h3, t("picture_library.filter.#{params[:filter]}") if params[:filter].present? %>
<div id="pictures">
  <%= render :partial => 'picture', :collection => @pictures %>
  <%= paginate @pictures %>
</div>
<% end %>
