<div class="picture_thumbnail <%= @size %>" id="picture_<%= picture.id %>" name="<%= picture.name %>">
  <span class="picture_tool select">
    <%= check_box_tag "picture_ids[]", picture.id %>
  </span>
  <% if picture.deletable? && can?(:destroy, picture) %>
  <span class="picture_tool delete">
    <%= link_to_confirm_dialog(
      "",
      _t(:confirm_to_delete_image_from_server),
      alchemy.admin_picture_path(
        id: picture,
        query: params[:query],
        page: params[:page],
        tagged_with: params[:tagged_with],
        size: params[:size],
        filter: params[:filter]
      ),
      {
        title: _t('Delete image')
      }
    ) -%>
  </span>
  <% end %>
  <% if can?(:edit, picture) %>
  <span class="picture_tool edit">
    <%= link_to_dialog(
      "",
      alchemy.edit_admin_picture_path(
        id: picture,
        query: params[:query],
        page: params[:page],
        tagged_with: params[:tagged_with],
        size: params[:size],
        filter: params[:filter]
      ),
      {
        title: _t('Edit image'),
        size: "400x210"
      },
      {
        title: _t('Edit image')
      }
    ) -%>
  </span>
  <% end %>
  <% if can?(:info, picture) %>
  <span class="picture_tool info">
    <%= link_to_dialog(
      "",
      alchemy.info_admin_picture_path(
        id: picture,
        query: params[:query],
        page: params[:page],
        tagged_with: params[:tagged_with],
        size: params[:size],
        filter: params[:filter]
      ),
      {
        title: _t('Picture infos'),
        size: "400x270"
      },
      {
        title: _t('Show picture infos')
      }
    ) -%>
  </span>
  <% end %>
  <%= link_to(
    image_tag(
      alchemy.thumbnail_path(id: picture, size: @size, sh: picture.security_token(size: @size)),
      alt: picture.name,
      title: _t(:zoom_image)
    ),
    '#',
    onclick: "Alchemy.zoomImage('#{admin_picture_path(id: picture.id, sh: picture.security_token)}', '#{picture.name}', #{picture.image_file_width || 320}, #{picture.image_file_height || 240}); return false",
    class: 'thumbnail_background',
    id: 'show_in_window'
  ) %>
  <span class="picture_name" title="<%= picture.name %>" id="image_picture_<%= picture.id %>_name">
    <%= picture.name %>
  </span>
  <div class="picture_tags">
  <% picture.tag_list.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
  </div>
</div>
