<div class="picture_thumbnail" name="<%= picture_to_assign.name %>" id="assignable_<%= picture_to_assign.id %>">
  <sl-tooltip content="<%= Alchemy.t(:assign_image) %>">
    <%= link_to(
      render(Alchemy::Admin::PictureThumbnail.new(picture_to_assign, size: size)),
      alchemy.assign_admin_picture_path(
        id: picture_to_assign.id,
        form_field_id: @form_field_id
      ),
      remote: true,
      onclick: '$(self).attr("href", "#").off("click"); return false',
      method: 'put'
    ) %>
  </sl-tooltip>
  <div class="picture_name" title="<%= picture_to_assign.name %>">
    <%= picture_to_assign.name %>
  </div>
</div>
