<% picture_path = alchemy.admin_picture_path(
  picture,
  search_filter_params.merge(
    page: params[:page],
    size: @size.presence
  ).to_h
) %>

<div class="picture_thumbnail <%= @size %>" id="picture_<%= picture.id %>" name="<%= picture.name %>">
  <span class="picture_tool select">
    <%= check_box_tag "picture_ids[]", picture.id %>
  </span>
  <% if picture.deletable? && can?(:destroy, picture) %>
  <div class="picture_tool delete">
    <sl-tooltip content="<%= Alchemy.t('Delete image') %>">
      <%= link_to_confirm_dialog(
        render_icon("delete-bin-2"),
        Alchemy.t(:confirm_to_delete_image_from_server),
        picture_path
      ) -%>
    </sl-tooltip>
  </div>
  <% end %>
  <% picture_url = picture.thumbnail_url(size: preview_size(@size)) %>
  <% image = picture_url ? image_tag(picture_url, alt: picture.name) : '<alchemy-icon name="file-damage"></alchemy-icon>'.html_safe %>
  <% if can?(:edit, picture) %>
    <%= link_to(
      image,
      picture_path,
      class: 'thumbnail_background'
    ) %>
  <% else %>
    <%= image %>
  <% end %>
  <span class="picture_name" title="<%= picture.name %>">
    <%= picture.name %>
  </span>
  <div class="picture_tags">
  <% picture.tag_list.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
  </div>
</div>
