<%= form_tag update_multiple_admin_pictures_path do %>

  <%= hidden_field_tag :query, params[:query] %>
  <%= hidden_field_tag :size, params[:size] %>
  <%= hidden_field_tag :tagged_with, params[:tagged_with] %>
  <%= hidden_field_tag :filter, params[:filter] %>

  <% @pictures.each do |pic| %>
  <%= hidden_field_tag "picture_ids[]", pic.id %>
  <% end %>

  <div class="info">
    <%= render_icon :info %>
    <p><%= t("You are about to edit %{length} pictures at once") % {:length => @pictures.length} %></p>
  </div>

  <table>
    <tr>
      <td class="label"><%= label_tag :pictures_name, t('Name') %></td>
      <td class="input">
        <%= text_field_tag :pictures_name, nil, :class => "thin_border long" %>
      </td>
    </tr>
    <tr>
      <td class="label"><%= label_tag :pictures_tag_list, t('Tags') + '*' %></td>
      <td class="input">
        <div class="autocomplete_tag_list">
          <%= label_tag :tag_list, render_icon(:tag_label), :for => "autocomplete_tag_list", :title => t(:tag_list) %>
          <%= autocomplete_field_tag(
            :pictures_tag_list,
            @pictures.collect(&:tag_list).flatten.uniq.join(', '),
            alchemy.autocomplete_admin_tags_path,
            :data => {:delimiter => ', '},
            :id => "autocomplete_tag_list"
          ) %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="submit" colspan="2">
        <%= button_tag t(:save), :name => nil, :class => 'button' %>
      </td>
    </tr>
  </table>

  <p class="foot_note"><%= t('Please seperate the tags with commata') %></p>

<% end %>
