<%= form_tag update_multiple_admin_pictures_path do %>
  <%= hidden_field_tag :q, search_filter_params[:q] %>
  <%= hidden_field_tag :size, params[:size] %>
  <%= hidden_field_tag :tagged_with, search_filter_params[:tagged_with] %>
  <%= hidden_field_tag :filter, search_filter_params[:filter] %>

  <% @pictures.pluck(:id).each do |id| %>
  <%= hidden_field_tag "picture_ids[]", id %>
  <% end %>

  <%= render_message do %>
    <%= Alchemy.t('You are about to edit many pictures at once') % {length: @pictures.size} %>
  <% end %>

  <div class="input text">
    <%= label_tag :pictures_name, Alchemy.t('Name'), class: 'control-label' %>
    <%= text_field_tag :pictures_name %>
  </div>

  <div class="input tag_list">
    <%= label_tag :pictures_tag_list, Alchemy.t(:tags), class: 'control-label' %>
    <%= text_field_tag :pictures_tag_list, @tags, data: {autocomplete: alchemy.autocomplete_admin_tags_path} %>
    <small class="hint"><%= Alchemy.t('Please seperate the tags with commata') %></small>
  </div>

  <div class="submit">
    <%= button_tag Alchemy.t(:save), name: nil, class: 'button' %>
  </div>
<% end %>
