<%= form_for [:admin, @picture] do |f| %>
  <%= hidden_field_tag :query, params[:query] %>
  <%= hidden_field_tag :size, params[:size] %>
  <%= hidden_field_tag :tagged_with, params[:tagged_with] %>
  <%= hidden_field_tag :filter, params[:filter] %>
  <table>
    <tr>
      <td class="label"><%= f.label :name %></td>
      <td class="input">
        <%= f.text_field :name, :class => "thin_border long" %>
      </td>
    </tr>
    <tr>
      <td class="label"><%= f.label :tag_list %>*</td>
      <td class="input">
        <%= render 'alchemy/admin/partials/autocomplete_tag_list', :f => f, :object => @picture %>
        <p class="foot_note"><%= t('Please seperate the tags with commata') %></p>
      </td>
    </tr>
    <tr>
      <td class="submit" colspan="2">
        <%= f.button t(:save), :name => nil, :class => 'button' %>
      </td>
    </tr>
  </table>
<% end %>
