<% content_for(:toolbar) do %>
  <div class="toolbar_buttons">
    <%= toolbar_button(
      icon: 'upload',
      label: _t(:upload_image),
      url: alchemy.new_admin_picture_path(size: @size),
      hotkey: 'alt+n',
      dialog_options: {
        title: _t(:upload_image),
        size: '540x525'
      },
      class: 'icon_button',
      title: _t(:upload_image),
      if_permitted_to: [:create, Alchemy::Picture]
    ) %>
    <% if can? :create, Alchemy::Picture %>
    <div class="toolbar_spacer"></div>
    <% end %>
    <div class="button_group">
      <div class="button_with_label">
        <%= link_to(
          render_icon('zoom-out'),
          alchemy.admin_pictures_path({
            size: "small",
            query: params[:query]
          }),
          title: _t(:small_thumbnails),
          class: "icon_button please_wait"
        ) %>
      </div>
      <div class="button_with_label">
        <%= link_to(
          render_icon('zoom-equal'),
          alchemy.admin_pictures_path({
            size: "medium",
            query: params[:query]
          }),
          title: _t(:medium_thumbnails),
          class: "icon_button please_wait"
        ) %>
      </div>
      <div class="button_with_label">
        <%= link_to(
          render_icon('zoom-in'),
          alchemy.admin_pictures_path({
            size: "large",
            query: params[:query]
          }),
          title: _t(:big_thumbnails),
          class: "icon_button please_wait"
        ) %>
      </div>
      <label><%= _t('Image size') %></label>
      <%= hidden_field_tag('size', @size, id: 'overlay_thumbnails_size') %>
    </div>
    <% if can?(:flush, Alchemy::Picture) %>
      <div class="toolbar_spacer"></div>
      <%= toolbar_button(
        icon: 'flush',
        url: alchemy.flush_admin_pictures_path,
        dialog: false,
        link_options: {
          remote: true,
          method: :post
        },
        label: _t('Flush picture cache'),
        class: 'icon_button please_wait',
        title: _t('Flush picture cache'),
        skip_permission_check: true
      ) %>
    <% end %>
    <div class="toolbar_spacer"></div>
    <div class="button_with_label">
      <%= link_to(
        render_icon('select_all'),
        '',
        id: 'select_all_pictures',
        class: 'icon_button',
        'data-alchemy-hotkey' => 'alt+a'
      ) %>
      <label><%= _t("Select all") %></label>
    </div>
  </div>

  <%= render partial: 'alchemy/admin/partials/search_form' %>
<% end %>

<div id="picture_archive">
  <h1>
    <%= @pictures.total_count %>
    <%= Alchemy::Picture.model_name.human(count: @pictures.total_count) %>
    <%= _t("picture_library.filter.#{params[:filter]}") if params[:filter].present? %>
  </h1>
  <%= render 'archive' %>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      Alchemy.pictureSelector();
      $('#select_all_pictures').on('click', function(e) {
        $('.picture_tool.select :checkbox').prop('checked', true).change();
        e.preventDefault;
        return false;
      });

    });
  </script>
<% end %>
