<div class="with_padding">
  <table>
    <tr>
      <td class="label"><%= Alchemy::Picture.human_attribute_name :name %></td>
      <td class="value"><p><%= @picture.name %></p></td>
    </tr>
    <tr>
      <td class="label"><%= Alchemy::Picture.human_attribute_name :image_file_name %></td>
      <td class="value"><p><%= @picture.image_file_name %></p></td>
    </tr>
    <tr>
      <td class="label"><%= Alchemy::Picture.human_attribute_name :image_file_dimensions %></td>
      <td class="value"><p><%= @picture.image_file_dimensions %> px</p></td>
    </tr>
    <tr>
      <td class="label"><%= Alchemy::Picture.human_attribute_name :image_file_size %></td>
      <td class="value"><p><%= number_to_human_size @picture.image_file_size %></p></td>
    </tr>
  </table>
</div>
<div id="pictures_page_list">
<% if @picture.deletable? %>
  <h2><%= t :this_picture_is_not_used_on_any_page %></h2>
<% else %>
  <h2><%= t :this_picture_is_used_on_these_pages %>:</h2>
  <ul class="list">
  <% @picture.essence_pictures.group_by(&:page).each do |page, essence_pictures| %>
    <li>
      <h3><%= link_to page.name, edit_admin_page_path(page) %></h3>
      <ul>
        <% essence_pictures.group_by(&:element).each do |element, essence_pictures| %>
        <li class="<%= cycle('even', 'odd') %>">
          <%= link_to element.display_name_with_preview_text, edit_admin_page_path(page, :anchor => "element_#{element.id}") %> in
          <%= essence_pictures.collect { |e| e.content.name_for_label }.to_sentence %>
        </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
<% end %>
</div>
