<div class="resource_info">
  <div class="value">
    <label><%= Alchemy::Picture.human_attribute_name :name %></label>
    <p><%= @picture.name %></p>
  </div>
  <div class="value">
    <label><%= Alchemy::Picture.human_attribute_name :image_file_name %></label>
    <p><%= @picture.image_file_name %></p>
  </div>
  <div class="value">
    <label><%= Alchemy::Picture.human_attribute_name :image_file_dimensions %></label>
    <p><%= @picture.image_file_dimensions %> px</p>
  </div>
  <div class="value">
    <label><%= Alchemy::Picture.human_attribute_name :image_file_size %></label>
    <p><%= number_to_human_size @picture.image_file_size %></p>
  </div>

  <% unless @picture.deletable? %>
    <h2><%= _t(:this_picture_is_used_on_these_pages) %>:</h2>
    <div id="pictures_page_list">
    <% @picture.essence_pictures.group_by(&:page).each do |page, essence_pictures| %>
      <div class="value">
        <label><%= link_to page.name, edit_admin_page_path(page) %></label>
        <ul>
          <% essence_pictures.group_by(&:element).each do |element, essence_pictures| %>
          <li class="<%= cycle('even', 'odd') %>">
            <%= link_to element.display_name_with_preview_text, edit_admin_page_path(page, :anchor => "element_#{element.id}") %> in
            <%= essence_pictures.collect { |e| e.content.name_for_label }.to_sentence %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
