<div class="zoomed-picture-background">
  <% if @picture.image_file %>
    <%= image_tag @picture.url %>
  <% else %>
    <alchemy-icon name="file-damage"></alchemy-icon>
  <% end %>
</div>

<div class="picture-overlay-navigation">
  <% if @previous %>
    <%= link_to alchemy.admin_picture_path(
        id: :previous,
        q: search_filter_params[:q],
        page: @previous,
        tagged_with: search_filter_params[:tagged_with],
        size: @size,
        filter: search_filter_params[:filter]
      ),
      class: "previous-picture",
      remote: true do %>
      <%= render_icon "arrow-left-wide", size: "xl" %>
    <% end %>
  <% end %>
  <% if @next %>
    <%= link_to alchemy.admin_picture_path(
        id: :next,
        q: search_filter_params[:q],
        page: @next,
        tagged_with: search_filter_params[:tagged_with],
        size: @size,
        filter: search_filter_params[:filter]
      ),
      class: "next-picture",
      remote: true do %>
      <%= render_icon "arrow-right-wide", size: "xl" %>
    <% end %>
  <% end %>
</div>

<div class="picture-details-overlay">
  <%= render 'form' %>
  <hr>
  <%= render 'infos' %>
</div>

<div class="picture-overlay-handle">
  <%= render_icon "contract-right" %>
</div>
