<div id="flash_notices" style="<%= flash.keys.blank? ? "display: none" : "display: block" %>" >
	<div style="<%= flash[:notice].blank? ? "display: none" : "display: block" %>" class="flash notice">
	    <%= render_icon('tick') %>
		<%= flash[:notice] %>
	</div>
	<div style="<%= flash[:error].blank? ? "display: none" : "display: block" %>" class="flash error">
	    <%= render_icon('error') %>
		<%= flash[:error] %>
	</div>
</div>
