<div id="flash_notices" style="<%= flash.keys.blank? ? "display: none" : "display: block" %>" >
	<div style="<%= flash[:notice].blank? ? "display: none" : "display: block" %>" class="flash notice">
	    <%= render_icon('tick') %>
		<%= flash[:notice] %>
	</div>
	<div style="<%= flash[:error].blank? ? "display: none" : "display: block" %>" class="flash error">
	    <%= render_icon('error') %>
		<%= flash[:error] %>
	</div>
</div>
<%- if flash[:error].blank? -%>
<script type="text/javascript" charset="utf-8">
// <![CDATA[
	document.observe('dom:loaded', function () {
		setTimeout("$('flash_notices').fade({duration: 0.7});", 5000);
	})
// ]]>
</script>
<%- end -%>
