<% form_remote_tag(
    :url => {
        :action => (action || 'index'),
        :options => @options
    },
    :method => :get
) do %>
    <%= hidden_field_tag("element_id", @element.blank? ? "" : @element.id) %>
    <%= hidden_field_tag("content_id", @content.blank? ? "" : @content.id) %>
    <%= hidden_field_tag "remote", 'true' %>
    <div class="search_field">
		<%= render_icon('search') %>
        <%= text_field_tag(
            "query",
            params['query'],
            :class => 'thin_border',
            :id => "search_input_field"
        ) %>
        <%= link_to_remote(
            "",
            :url => {
				:action => action,
				:element_id => @element.blank? ? "" : @element.id,
				:content_id => @content.blank? ? "" : @content.id,
				:remote => true
			},
            :html => {
				:class => "search_field_clear",
            	:id => "search_field_clear",
            	:title => _("click_to_show_all"),
            	:style => (params[:query].nil? ? "display: none" : "display: block")
			}
        ) %>
    </div>
    <%= submit_tag _('search'), :name => nil, :class => 'button' %>
<% end %>
