<% if !@preview_mode && can?(:edit_content, @page) %>
  <div id="alchemy_menubar" style="display: none">
    <ul>
      <li><%= link_to _t(:to_alchemy), alchemy.admin_dashboard_url %></li>
      <li><%= link_to _t(:edit_page), alchemy.edit_admin_page_url(@page) %></li>
      <li>
        <%= form_tag Alchemy.logout_path, method: 'delete' do %>
          <%= button_tag _t(:logout) %>
        <% end %>
      </li>
    </ul>
  </div>

  <%= stylesheet_link_tag("alchemy/menubar") %>
  <%= javascript_include_tag('alchemy/menubar') %>
<% end %>
