<% if !@preview_mode && @page && can?(:edit_content, @page) %>
  <div id="alchemy_menubar" style="display: none" data-turbolinks="false">
    <ul>
      <li><%= link_to Alchemy.t(:to_alchemy), alchemy.admin_dashboard_url %></li>
      <li><%= link_to Alchemy.t(:edit_page), alchemy.edit_admin_page_url(@page) %></li>
      <li>
        <%= form_tag Alchemy.logout_path, method: Alchemy.logout_method do %>
          <%= button_tag Alchemy.t(:logout) %>
        <% end %>
      </li>
    </ul>
  </div>

  <%= stylesheet_link_tag("alchemy/menubar") %>
  <%= javascript_include_tag('alchemy/menubar') %>
<% end %>
