<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= Alchemy.t("Welcome to Alchemy") %></title>
    <%= stylesheet_link_tag("alchemy/welcome", media: "all") %>
  </head>
  <body>
    <div class="container">
      <%= image_tag("alchemy/alchemy-logo.svg") %>
      <h3><%= Alchemy.t("You have successfully installed Alchemy") %></h3>
      <p>
        <%= Alchemy.t("Before creating your first page you need an admin user") %>.
      </p>
      <p>
        <%= link_to Alchemy.t("Create admin user"), Alchemy.config.signup_path, class: "button" %>
      </p>
      <h4><%= Alchemy.t("More resources") %></h4>
      <ul>
        <li>
          <%= link_to Alchemy.t("Read the guidelines"),
            "https://guides.alchemy-cms.com/", target: "_blank", rel: "noopener" %>
        </li>
      </ul>
    </div>
  </body>
</html>
