<p>
    <%= @mail_data[:message] %>
</p>

<p>
    <%= @mail_data[:salutation] %><br />
    <%= @mail_data[:firstname] %> <%= @mail_data[:lastname] %><br />
    <%= @mail_data[:address] %><br />
    <%= @mail_data[:zip] %> <%= @mail_data[:city] %><br />
    <%= @mail_data[:phone] %><br />
    <%= @mail_data[:email] %>
</p>
