<%- if @elements.blank? -%>
<%= render_message do %>
  <%= Alchemy.t('Your trash is empty') %>
<% end %>
<%- else -%>
<%= render_message do %>
  <%= Alchemy.t('Drag an element over to the element window to restore it') %>
<% end %>
<div id="trash_items">
<%- @elements.each do |element| -%>
  <%= render partial: 'alchemy/admin/elements/element',
    object: element,
    locals: {
      draggable: @allowed_elements.any? do |e|
        e['name'] == element.name || e.fetch('nestable_elements', []).include?(element.name)
      end
    } %>
<%- end -%>
</div>
<p>
  <%= link_to_confirm_dialog Alchemy.t('clear trash'),
    Alchemy.t('Do you really want to clear the trash?'),
    alchemy.clear_admin_trash_path(page_id: @page.id),
    class: 'button' %>
</p>
<%- end -%>
<script type="text/javascript" charset="utf-8">
  Alchemy.DraggableTrashItems();
  Alchemy.TrashWindow.updateIcon();
</script>
