<%- cache(content) do -%>
<div class="content_editor" id="<%= content_dom_id(content) %>">
  
  <%- if !content.settings.blank? && content.settings[:display_as] == "checkbox" -%>
  
  <%= check_box_tag(
    content.form_field_name,
    "1",
    content.ingredient == "1",
    :onclick => "Alchemy.handleEssenceCheckbox(this)"
  ) %>
  <label for="<%= content.form_field_id %>" style="display: inline">
    <%= render_content_name(content) %>
  </label>
  
  <%- elsif !content.settings.blank? && content.settings[:display_as] == "select" -%>
  
  <label><%= render_content_name(content) %></label>
  <%- if options[:select_values].blank? -%>
  <%= warning('options[:select_values] is nil', "No select values given. Please provide :select_values as argument to render_essence_editor_by_name() helper inside this element editor view.") %>
  <%- else -%>
  <%- if options[:select_values].is_a?(Hash)
    options_method = grouped_options_for_select(
      options[:select_values],
      content.ingredient,
      ''
    )
    else
      options_method = options_for_select(
        options[:select_values],
        content.ingredient
      )
    end
  %>
  <%= select_tag(
    content.form_field_name,
    options_method,
    {
      :class => "essence_editor_select full_width"
    }
  ) %>
  <%- end -%>
  
  <%- else -%>
  
  <label>
    <%= render_content_name(content) %>
    <%= link_to_confirmation_window(
      render_icon('delete-small'),
      _('Do you really want to delete this content?'),
      content_path(content),
      :class => 'icon_button small',
      :title => _('Remove this content')
    ) if !content.settings.blank? && content.settings[:deletable] %>
  </label>
  <%= text_field_tag(
    content.form_field_name,
    content.ingredient,
    :class => "thin_border auto_resize#{!content.settings.blank? && content.settings[:linkable] ? ' text_with_icon' : ''}"
  ) %>
  
  <%- if !content.settings.blank? && content.settings[:linkable] -%>
  
  <%= hidden_field_tag content.form_field_name(:link), content.essence.link %>
  <%= hidden_field_tag content.form_field_name(:link_title), content.essence.link_title %>
  <%= hidden_field_tag content.form_field_name(:link_class_name), content.essence.link_class_name %>
  <%= hidden_field_tag content.form_field_name(:link_target), content.essence.link_target %>
  
  <a href="#" onclick="Alchemy.LinkOverlay.open(this, 420); return false;" title="<%= _('place_link') -%>" class="icon_button <%= content.linked? ? ' linked' : '' -%>" name="essence_text_<%= content.id -%>" id="edit_link_<%= content.id -%>">
    <span class="icon link"></span>
  </a>
  
  <a href="#" onclick="Alchemy.LinkOverlay.removeLink(this, <%= content.id -%>); return false;" title="<%= _('unlink') %>" class="icon_button unlink<%= content.linked? ? ' linked' : ' disabled' -%>" name="essence_text_<%= content.id -%>">
    <span class="icon unlink"></span>
  </a>
  
  <%- end -%>
  
  <%- end -%>

</div>
<%- end -%>
