<div id="picture_<%= content.id %>" class="<%= options[:dragable] ? 'essence_picture_editor dragable_picture' : 'essence_picture_editor' %>">
	<span class="picture_tool_delete">
        <%= link_to_confirmation_window(
    		"",
    		_("confirm_to_delete_image"),
    		url_for(
    			:controller => 'essence_pictures',
    			:action => 'destroy',
    			:id => content,
    			:options => options
    		),
    		{
    			:title => _("delete_image"),
    			:class => "picture_delete"
    		}
    	) -%>
	</span>
	<div class="picture_detail">
    <%- if content.essence.picture.nil? -%>
		<div class="missing_image">
            <%= render_icon('warning') %>
            <p><%= _('Mising Image') %></p>
		</div>
	<%- else -%>
		<div class="picture_handle" title="<%= _('drag_to_sort') if options[:dragable] %>"></div>
		<div class="picture_content_spinner">
			<%= image_tag("alchemy/ajax_loader.gif", :alt => '') %>
		</div>
		<div class="picture_image">
			<%= image_tag(
				url_for(
				    :controller => '/pictures',
				    :action => 'thumbnail',
				    :id => content.essence.picture,
				    :size => "111x93",
				    :crop_from => content.essence.crop_from,
				    :crop_size => content.essence.crop_size
				),
				:alt => content.essence.picture.name,
				:class => 'img_paddingtop',
				:title => _("image_name") + ": #{content.essence.picture.name}",
				:onload => "Alchemy.fadeImage(this, '#picture_#{content.id} .picture_content_spinner');",
				:style => "display: none;"
			) %>
			<%= hidden_field_tag "contents[content_#{content.id}][picture_id]", content.essence.picture.id %>
		</div>
	<%- end -%>
		<div class="edit_images_bottom">
			<%= render(
				:partial => 'essences/essence_picture_tools',
				:locals => {
					:content => content,
					:options => options
				}
			) %>
		</div>
	</div>
	<%= hidden_field_tag "contents[content_#{content.id}][link]", content.essence.link, :id => "content_#{content.id}_link" %>
	<%= hidden_field_tag "contents[content_#{content.id}][link_title]", content.essence.link_title, :id => "content_#{content.id}_link_title" %>
	<%= hidden_field_tag "contents[content_#{content.id}][link_class_name]", content.essence.link_class_name, :id => "content_#{content.id}_link_class_name" %>
	<%= hidden_field_tag "contents[content_#{content.id}][open_link_in_new_window]", content.essence.open_link_in_new_window ? '1' : '0', :id => "content_#{content.id}_link_target" %>
</div>
