<div id="<%= content_dom_id(content) %>" class="<%= options[:dragable] ? 'essence_picture_editor dragable_picture' : 'essence_picture_editor' %>">
	<div class="picture_detail">
	  <span class="picture_tool_delete">
  	<%= link_to_confirmation_window(
  		"",
  		_("confirm_to_delete_image"),
  		url_for(
  			:controller => 'essence_pictures',
  			:action => 'destroy',
  			:id => content,
  			:options => options
  		),
  		{
  			:title => _("delete_image"),
  			:class => "picture_delete"
  		}
  	) -%>
  	</span>
		<%- if content.ingredient.nil? -%>
		<div class="missing_image">
			<p>
				<%= image_tag('alchemy/placeholder.png') %><br>
				<%= _('Image missing') %><%= '<span class="validation_indicator">*</span>' if content.has_validations? %>
			</p>
		</div>
		<%- else -%>
		<div class="picture_handle" title="<%= _('drag_to_sort') if options[:dragable] %>"></div>
		<div class="picture_content_spinner">
			<%= image_tag("alchemy/ajax_loader.gif", :alt => '') %>
		</div>
		<div class="picture_image">
			<%= image_tag(
				url_for(
					:controller => '/pictures',
					:action => 'thumbnail',
					:id => content.ingredient,
					:size => "111x93",
					:crop_from => content.essence.crop_from,
					:crop_size => content.essence.crop_size
				),
				:alt => content.ingredient.name,
				:class => 'img_paddingtop',
				:title => _("image_name") + ": #{content.ingredient.name}",
				:onload => "Alchemy.fadeImage(this, '##{content_dom_id(content)} .picture_content_spinner');",
				:style => "display: none;"
			) %>
			<%= hidden_field_tag content.form_field_name(:picture_id), content.ingredient.id %>
		</div>
		<%- end -%>
		<div class="edit_images_bottom">
			<%= render(
				:partial => 'essences/essence_picture_tools',
				:locals => {
					:content => content,
					:options => options
				}
			) %>
		</div>
	</div>
	<%= hidden_field_tag content.form_field_name(:link), content.essence.link %>
	<%= hidden_field_tag content.form_field_name(:link_title), content.essence.link_title %>
	<%= hidden_field_tag content.form_field_name(:link_class_name), content.essence.link_class_name %>
	<%= hidden_field_tag content.form_field_name(:open_link_in_new_window), content.essence.open_link_in_new_window? ? 1 : 0 %>
</div>
