<%- unless content.essence.attachment.nil? -%>

<%- width = content.essence.width.blank? ? (options[:player_size].split('x')[0] rescue 480) : content.essence.width -%>
<%- height = content.essence.height.blank? ? (options[:player_size].split('x')[1] rescue 320) : content.essence.height -%>

<a  href="<%= show_attachment_path(content.essence.attachment) %>" 
    id="player_<%= content.id %>" 
    style="width: <%= width %>px; height: <%= height %>px; display: block">
</a>
<script type="text/javascript" charset="utf-8">
    flowplayer("player_<%= content.id %>",
        {
            src: "/flowplayer-3.2.5.swf",
            allowfullscreen: <%= content.essence.allow_fullscreen %>
        },
        {
            clip: {
                autoBuffering: true,
                autoPlay: false,
                scaling: 'fit'
            },
            plugins: {
                controls:
                <%- if content.essence.show_navigation -%>
                {
                        fullscreen: <%= content.essence.allow_fullscreen %>
                }
                <%- else -%>
                null
                <%- end -%>
            }
        }
    );
</script>
<%- end -%>
