<div class="content_editor missing" id="element_<%= element.id %>_content_missing">
  <label><%= Alchemy::I18n.t("content_names.#{element.name}.#{name}", :default => ["content_names.#{name}".to_sym, name.capitalize]) %></label>
  <p>
    <%= render_icon('warning') %>
    <%= t('content_not_found') %>
    <%= link_to(
      t('create'),
      alchemy.admin_contents_path(
        :content => {
          :element_id => element.id,
          :name => name
        },
        :was_missing => true,
				:options => options
      ),
      :method => 'post',
      :remote => true,
      :class => 'button'
    ) %>
  </p>
</div>
