<div class="content_editor missing" data-element-<%= element.id %>-missing-content="<%= name %>">
  <label><%= Alchemy::Content.translated_label_for(name, element.name) %></label>
  <%= render_message :warning do %>
    <p><%= Alchemy.t(:content_not_found) %></p>
    <%= link_to Alchemy.t(:create),
      alchemy.admin_contents_path(
        content: {
          element_id: element.id,
          name: name
        },
        was_missing: true,
        options: options
      ),
      'data-create-missing-content' => true,
      class: 'small button' %>
  <% end %>
</div>
