<div class="bild_text" id="<%= element_dom_id(element) %>" <%= element_preview_code(element) -%>>
  <%- image = element.contents.find_by_name("image") -%>
  <div class="image <%= image.essence.css_class %>">
    <%= render_essence_view(image, :image_size => "450x1000", :crop => true) %>
  </div>
  <div class="text">
    <%= render_essence_view_by_name(element, 'text') %>
  </div>
</div>
