<div class="article" id="<%= element_dom_id(element) %>" <%= element_preview_code(element) -%>>
    <h1 class="headline">
        <%= render_essence_view_by_name(element, 'headline') %>
    </h1>
    <div class="text_bild_container">
        <%- image = element.contents.essence_pictures.first -%>
        <%- if image -%>
        <div class="image <%= image.essence.css_class %>">
            <%= render_essence_view(image, :image_size => "450x300", :crop => true) %>
        </div>
        <%- end -%>
        <div class="text">
            <%= render_essence_view_by_name(element, 'text') %>
        </div>
    </div>
</div>
