<div class="article" id="<%= element_dom_id(element) %>" <%= element_preview_code(element) -%>>
    <h1 class="headline">
        <%= render_essence_view_by_name(element, 'headline') %>
    </h1>
    <div class="text_bild_container">
        <%- content = element.contents.find_by_essence_type("Alchemy::EssencePicture") -%>
        <%- if content -%>
        <div class="image <%= content.essence.css_class %>">
            <%= render_essence_view(content, :image_size => "450x300", :crop => true) %>
        </div>
        <%- end -%>
        <div class="text">
            <%= render_essence_view_by_name(element, 'text') %>
        </div>
    </div>
</div>
