<div class="searchresult" id="<%= element_dom_id(element) %>" <%= element_preview_code(element) -%>>

	<%= form_tag alchemy.show_page_path(:urlname => "suche", :lang => @page.language_code), :method => :get do %>
		<%= text_field_tag "query", params[:query], :class => 'field' %>
		<%= submit_tag t("search"), :name => nil %>
	<%- end -%>

	<%- if !@search_results.blank? -%>

	<h2>
		<%= t('alchemy.search.result_heading',  :query => h(params[:query]), :count => @search_results.count ) %>
	</h2>

	<div class="search_results">
		<ul>
		<%- @search_results.each do |result| -%>
			<%- element = Alchemy::Content.where(:essence_id => result.id, :essence_type => result.class.name).first.element -%>
			<%- page = element.nil? ? nil : element.page -%>
			<li>
				<%- unless page.nil? -%>
				<h3>
					<span class="search_result_site"><%= t('Page') %>:</span>
					<%- if multi_language? -%>
					<%= link_to page.name, alchemy.show_page_path(:urlname => page.urlname, :lang => page.language_code) %>
					<span class="search_result_language">(<%= page.language_code.upcase %>)</span>
					<%- else -%>
					<%= link_to page.name, alchemy.show_page_path(:urlname => page.urlname) %>
					<%- end -%>
				</h3>
				<%- end -%>
				<h4><%= t('Excerpt') %>:</h4>
				<%- result.highlight(
					"*#{params[:query]}*", {
						:field => (result.class == Alchemy::EssenceRichtext ? :stripped_body : :body)
					}
				).each do |highlight| -%>
				<p><%= sanitize highlight %></p>
				<%- end -%>
			</li>
		<%- end -%>
		</ul>
	</div>

	<%- elsif !params[:query].blank? -%>

	<h2><%= t('alchemy.search.no_results') %></h2>

	<%- end -%>
</div>
