<ul id="<%= element_dom_id(element) %>" class="sitemap" <%= element_preview_code(element) -%>>
<%- pages ||= [@root_page] -%>
<%- pages.each do |page| -%>
<%- position = "" -%>
<%- position = position + "last" if pages.last == page -%>
<%- position = position + "first" if pages.first == page -%>
    <%- if page.public? -%>
    <%- if (configuration(:sitemap)[:show_flag] == true && page.sitemap? ) -%>
    <li id="sitemap_item_<%= page.urlname %>" <%= render_classes([position, page.page_layout]) %>>
        <%= link_to(
            h(page.name),
            {
                :controller => "pages",
                :action => 'show',
                :urlname => page.urlname
            }
        ) %>
    <%- elsif configuration(:sitemap)[:show_flag] == false -%>
    <li id="sitemap_item_<%= page.urlname %>" <%= render_classes([position, page.page_layout]) %>>
        <%= link_to(
            h(page.name),
            {
                :controller => "pages",
                :action => 'show',
                :urlname => page.urlname
            }
        ) %>
    <%- end -%>
    <%= render(:partial => "elements/sitemap_view", :locals => {:pages => page.children, :element => element}) unless page.children.empty? %>
    </li>
    <%- else #page not public -%>
    <li>
        <span><%= page.sitemap? ? page.name : "&nbsp;" %></span>
        <%= render(:partial => "elements/sitemap_view", :locals => {:pages => page.children, :element => element}) unless page.children.empty? %>
    </li>
    <%- end -%>
<%- end -%>
</ul>
