<div class="widget">
  <h2><%= Alchemy.t('Currently locked pages') %>:</h2>
  <table>
  <% if @all_locked_pages.blank? %>
    <tr class="even">
      <td><%= Alchemy.t('no pages') %></td>
    </tr>
  <% else %>
    <% @all_locked_pages.each do |page| %>
    <tr class="<%= cycle('even', 'odd', :name => 'locked_pages') %>">
      <td>
        <% if current_alchemy_user.id == page.locked_by %>
        <%= link_to(page.name, alchemy.edit_admin_page_path(page)) %>
        <% else %>
        <%= page.name %>
        <% end %>
      </td>
      <% if multi_site? %>
      <td>
        <small><%= page.site_name %></small>
      </td>
      <% end %>
      <td>
        <% if page.site_languages.many? %>
        <small><%= page.language.code.upcase %></small>
        <% end %>
      </td>
      <td>
        <% if current_alchemy_user.id == page.locked_by %>
        <small><%= Alchemy.t(:me) %></small>
        <% else %>
        <small><%= page.locker_name %></small>
        <% end %>
      </td>
      <td>
        <% if current_alchemy_user.id == page.locked_by %>
        <%= form_tag(alchemy.unlock_admin_page_path(page, :redirect_to => alchemy.admin_dashboard_url)) do %>
          <button class="icon_button small" title="<%= Alchemy.t(:explain_unlocking) %>">
            <%= render_icon('close tiny') %>
          </button>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>
<% reset_cycle('locked_pages') %>
