<div class="widget">
  <h2><%= _t('Currently locked pages') %>:</h2>
  <table>
  <% if @locked_pages.blank? %>
    <tr class="even">
      <td><%= _t('no pages') %></td>
    </tr>
  <% else %>
    <% @locked_pages.each do |page| %>
    <tr class="<%= cycle('even', 'odd', :name => 'locked_pages') %>">
      <% if current_alchemy_user.id == page.locked_by %>
      <td>
        <%= link_to(page.name, alchemy.edit_admin_page_path(page)) %>
      </td>
      <td>
        <small><%= _t(:me) %></small>
      </td>
      <td>
        <%= form_tag(alchemy.unlock_admin_page_path(page, :redirect_to => alchemy.admin_dashboard_url)) do %>
          <button class="icon_button small" title="<%= _t(:explain_unlocking) %>">
            <%= render_icon('close small') %>
          </button>
        <% end %>
      </td>
      <% else %>
      <td>
        <%= page.name %>
      </td>
      <td colspan="2">
        <small><%= page.locker_name %></small>
      </td>
    <% end %>
    </tr>
    <% end %>
  <% end %>
  </table>
</div>
<% reset_cycle('locked_pages') %>
