<h2><%= _t('Global shortcuts') %></h2>
<ul class="shortcuts">
  <li><kbd>?</kbd><%= _t('Open help window', scope: 'help.shortcuts') %></li>
  <li><kbd>esc</kbd><%= _t('Close current dialog', scope: 'help.shortcuts') %></li>
  <li><kbd>alt</kbd><kbd>q</kbd><%= _t('Open logout dialog', scope: 'help.shortcuts') %></li>
  <li><kbd>alt</kbd><kbd>f</kbd><%= _t('Focus search field', scope: 'help.shortcuts') %></li>
  <li><kbd>alt</kbd><kbd>n</kbd><%= _t('Create a new record', scope: 'help.shortcuts') %></li>
</ul>
<h2><%= _t('Page edit shortcuts') %></h2>
<ul class="shortcuts">
  <li><kbd>alt</kbd><kbd>i</kbd><%= _t('Show page infos', scope: 'help.shortcuts') %></li>
  <li><kbd>alt</kbd><kbd>n</kbd><%= _t('Create new element', scope: 'help.shortcuts') %></li>
  <li><kbd>alt</kbd><kbd>e</kbd><%= _t('Edit page properties', scope: 'help.shortcuts') %></li>
  <li><kbd>alt</kbd><kbd>r</kbd><%= _t('Reload the preview', scope: 'help.shortcuts') %></li>
  <li><kbd>alt</kbd><kbd>x</kbd><%= _t('Leave the page', scope: 'help.shortcuts') %></li>
</ul>
<h2><%= _t('Library shortcuts') %></h2>
<ul class="shortcuts">
  <li><kbd>alt</kbd><kbd>n</kbd><%= _t('Open upload form', scope: 'help.shortcuts') %></li>
  <li><kbd>alt</kbd><kbd>a</kbd><%= _t('Select all pictures', scope: 'help.shortcuts') %></li>
</ul>
