<%= toolbar(
  buttons: [
    {
      icon: 'info',
      label: _t(:info),
      url: alchemy.dashboard_info_path,
      title: _t(:info),
      dialog_options: {
        title: _t(:info),
        size: "420x380"
      },
      if_permitted_to: [:info, :alchemy_admin_dashboard],
      hotkey: 'alt+i'
    }
  ],
  search: false
) %>

<div id="dashboard">
  <h1>
    <% if @first_time -%>
    <%= _t(:welcome_note, name: current_alchemy_user.try(:name)) %>
    <% else -%>
    <%= _t(:welcome_back_note, name: current_alchemy_user.try(:name)) %>
    <% end -%>
  </h1>
  <% if @last_sign_at %>
  <p>
    <small><%= _t('Your last login was on', time: l(@last_sign_at)) %></small>
  </p>
  <% end %>
  <div class="column left">
    <%= render 'locked_pages' %>
    <%= render 'recent_pages' %>
  </div>
  <div class="column right">
    <% if @online_users %>
      <%= render 'users' %>
    <% end %>
    <% if multi_site? %>
      <%= render 'sites' %>
    <% end %>
  </div>
</div>
