<p class="center with_margin"><%= image_tag('alchemy/alchemy-logo.png') %></p>
<h2 class="center with_margin">
  <%= _t("Version") %>: <%= @alchemy_version %>
</h2>
<p class="center with_margin" id="update_check">
  <span id="update_available">
    <%= render_icon('warn') %>
    <%= _t 'Update available' %>
  </span>
  <span id="up_to_date">
    <%= render_icon('tick') %>
    <%= _t 'Alchemy is up to date' %>
  </span>
  <span id="error">
    <%= render_icon('error') %>
    <%= _t 'Update status unavailable' %>
  </span>
</p>
<div class="info with_margin">
  <%= render_icon('info') %>
  <p><%= _t('Alchemy is open software and itself uses open software and free resources:') %></p>
  <ul>
    <li>
      <a href="http://rubyonrails.org" target="_blank">RubyOnRails</a>
    </li>
    <li>
      <a href="http://jquery.com" target="_blank">jQuery Javascript Library</a>
    </li>
    <li>
      <a href="http://jqueryui.com" target="_blank">jQuery UI Javascript GUI Library</a>
    </li>
    <li>
      <a href="http://tinymce.moxiecode.com" target="_blank">TinyMCE - Javascript WYSIWYG Editor</a>
    </li>
    <li>
      <a href="http://swfupload.org" target="_blank">SWFUpload</a>
    </li>
    <li>
      <a href="http://p.yusukekamiyamane.com" target="_blank">Fugue Icons by Yusuke Kamiyamane</a>
    </li>
  </ul>
</div>
<script type="text/javascript">
  (function() {
    var el = $('#update_check');
    var spinner = Alchemy.Spinner.small();
    spinner.spin(el[0]);
    $.get('/admin/dashboard/update_check', function(data, textStatus, jqXHR) {
      if (data == 'true') {
        $('#update_available').show();
      } else {
        $('#up_to_date').show();
      }
    }).fail(function(jqXHR, textStatus, errorThrown) {
      $('#error').show();
    }).always(function() {
      spinner.stop();
    });
  })();
</script>