<p class="center with_margin"><%= image_tag('alchemy/alchemy-logo.png') %></p>
<div class="info with_margin">
  <%= render_icon('info') %>
  <h2><%= _t("Version") %>: <%= @alchemy_version %></h2>
  <p><%= _t('Alchemy is open software and itself uses open software and free resources:') %></p>
  <ul>
    <li>
      <a href="http://rubyonrails.org" target="_blank">RubyOnRails</a>
    </li>
    <li>
      <a href="http://jquery.com" target="_blank">jQuery Javascript Library</a>
    </li>
    <li>
      <a href="http://jqueryui.com" target="_blank">jQuery UI Javascript GUI Library</a>
    </li>
    <li>
      <a href="http://tinymce.moxiecode.com" target="_blank">TinyMCE - Javascript WYSIWYG Editor</a>
    </li>
    <li>
      <a href="http://swfupload.org" target="_blank">SWFUpload</a>
    </li>
    <li>
      <a href="http://p.yusukekamiyamane.com" target="_blank">Fugue Icons by Yusuke Kamiyamane</a>
    </li>
  </ul>
</div>
