<p class="center">
  <%= image_tag('alchemy/alchemy-logo.svg', width: 267, height: 91) %>
</p>
<h2 class="center">
  v<%= @alchemy_version %><br>
  <small>
    Ruby v<%= RUBY_VERSION %>, Rails v<%= Rails.version %>
  </small>
</h2>

<% if can?(:update_check, :alchemy_admin_dashboard) %>
  <alchemy-update-check url="<%= alchemy.update_check_path %>">
    <span class="update_available hidden">
      <%= render_icon(:exclamation) %>
      <%= Alchemy.t('Update available') %>
    </span>
    <span class="up_to_date hidden">
      <%= render_icon(:check) %>
      <%= Alchemy.t('Alchemy is up to date') %>
    </span>
    <span class="error hidden">
      <%= render_icon(:exclamation) %>
      <%= Alchemy.t('Update status unavailable') %>
    </span>
  </alchemy-update-check>
<% end %>

<%= render_message do %>
  <p><%= Alchemy.t('Alchemy is open software and itself uses open software and free resources:') %></p>
  <ul>
    <li>
      <a href="https://rubyonrails.org" target="_blank">Ruby on Rails</a>
    </li>
    <li>
      <a href="https://jquery.com" target="_blank">jQuery Javascript Library</a>
    </li>
    <li>
      <a href="https://shoelace.style" target="_blank">Shoelace Web Components Library</a>
    </li>
    <li>
      <a href="https://www.tiny.cloud" target="_blank">TinyMCE - Javascript WYSIWYG Editor</a>
    </li>
    <li>
      <a href="https://remixicon.com" target="_blank">Remix Icons</a>
    </li>
  </ul>
<% end %>
