<% remote_form_for([:admin, @essence_file], :method => "put") do |f| %>
  <%- if @content.essence_type == "EssenceFile" -%>
  <table>
    <tr>
      <td><%= f.label "title", _("title") %></td>
      <td><%= f.text_field "title", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "css_class", _("align_in_text") %></td>
      <td><%= f.select "css_class", [[_("left"), "left"], [_("right"), "right"], [_("above"), "no_float"]] %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right">
        <%= submit_tag _("save"), :class => 'button' %>
      </td>
    </tr>
  </table>
  <%- elsif @content.essence_type == "EssenceFlash" -%>
  <table>
    <tr>
      <td><%= f.label "width", _("width") %></td>
      <td><%= f.text_field "width", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "height", _("height") %></td>
      <td><%= f.text_field "height", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "player_version", _("player_version") %></td>
      <td><%= f.text_field "player_version", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right">
        <%= submit_tag _("save"), :class => 'button' %>
      </td>
    </tr>
  </table>
  <%- elsif @content.essence_type == "EssenceVideo" -%>
  <table>
    <tr>
      <td><%= f.label "width", _("width") %></td>
      <td><%= f.text_field "width", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "height", _("height") %></td>
      <td><%= f.text_field "height", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "allow_fullscreen", _("allow_fullscreen") %></td>
      <td><%= f.check_box "allow_fullscreen" %></td>
    </tr>
    <tr>
      <td><%= f.label "auto_play", _("auto_play") %></td>
      <td><%= f.check_box "auto_play" %></td>
    </tr>
    <tr>
      <td><%= f.label "show_navigation", _("show_navigation") %></td>
      <td><%= f.check_box "show_navigation" %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right">
        <%= submit_tag _("save"), :class => 'button' %>
      </td>
    </tr>
  </table>
  <%- elsif @content.essence_type == "EssenceAudio" -%>
  <table>
    <tr>
      <td><%= f.label "width", _("width") %></td>
      <td><%= f.text_field "width", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "height", _("height") %></td>
      <td><%= f.text_field "height", :class => 'thin_border long' %></td>
    </tr>
    <tr>
      <td><%= f.label "show_eq", _("show_eq") %></td>
      <td><%= f.check_box "show_eq" %></td>
    </tr>
    <tr>
      <td><%= f.label "show_navigation", _("show_navigation") %></td>
      <td><%= f.check_box "show_navigation" %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right">
        <%= submit_tag _("save"), :class => 'button' %>
      </td>
    </tr>
  </table>
  <%- end -%>
<%- end -%>
