<% content_for(:title) do %>
  <%= Alchemy.t(:menus, scope: 'modules') %>
<% end %>

<% content_for(:toolbar) do %>
  <div class="toolbar_buttons">
    <%= render 'alchemy/admin/partials/site_select' %>
    <%= render 'alchemy/admin/partials/language_tree_select' %>
    <%= toolbar_button(
      icon: 'plus',
      label: Alchemy.t(:create_menu),
      url: alchemy.new_admin_node_path,
      hotkey: 'alt+n',
      dialog_options: {
        title: Alchemy.t(:create_menu),
        size: '450x120'
      },
      if_permitted_to: [:create, Alchemy::Node]
    ) if @root_nodes.any? %>
  </div>
<% end %>

<div id="archive_all">
  <h1 id="node_filter_result"></h1>
  <% if @root_nodes.any? %>
    <% @root_nodes.each do |root_node| %>
      <ul class="nodes_tree list">
        <%= render 'node', node: root_node %>
      </ul>
    <% end %>
  <% else %>
    <div class="panel no-resource-found">
      <%= render_message do %>
        <%== Alchemy.t('alchemy/node', scope: :no_resource_found) %>
      <% end %>
      <%= render 'form', node: Alchemy::Node.new(
          site: Alchemy::Site.current,
          language: Alchemy::Language.current
        ),
        button_label: Alchemy.t(:create) %>
    </div>
  <% end %>
</div>

<script>
  Alchemy.NodeTree()
</script>
