<div class="<%= @element_name %>" id="<%%= element_dom_id(element) %>"<%%= element_preview_code(element) %>>
<%- if @element["picture_gallery"] -%>
  <div class="<%= @element_name %>_images">
    <%%- element.contents.gallery_pictures.each do |image| -%>
    <div class="<%= @element_name %>_image <%%= image.essence.css_class %>">
      <%%= render_essence_view(image, :image_size => "160x120") %>
    </div>
    <%%- end -%>
  </div>
<%- end -%>
<%- @contents.each do |content| -%>
  <%- if @contents.length > 1 -%>
  <div class="<%= content["name"] %>">
    <%%= render_essence_view_by_name(element, '<%= content["name"] %>') %>
  </div>
  <%- else -%>
  <%%= render_essence_view_by_name(element, '<%= content["name"] %>') %>
  <%- end -%>
<%- end -%>
</div>
