<table>
  <tr>
    <td class="label"><%= f.label 'gender' %></td>
    <td class="select"><%= f.select 'gender', options_for_select(@user_genders, @user.gender), {:prompt => _t('Please choose')}, :class => 'alchemy_selectbox long', :autofocus => true -%></td>
  </tr>
  <tr>
    <td class="label"><%= f.label 'firstname' %></td>
    <td class="input"><%= f.text_field 'firstname', :class => 'thin_border long' %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label 'lastname' %></td>
    <td class="input"><%= f.text_field 'lastname', :class => 'thin_border long' %></td>
  </tr>
  <tr>
    <td class="label mandatory"><%= f.label 'login' %></td>
    <td class="input"><%= f.text_field 'login', :class => 'thin_border long', :required => true, :autofocus => true %></td>
  </tr>
  <tr>
    <td class="label mandatory"><%= f.label 'email' %></td>
    <td class="input"><%= f.email_field 'email', :class => 'thin_border long', :required => true %></td>
  </tr>
  <tr>
    <td class="label"><%= f.label 'language' %></td>
    <td class="select"><%= f.select 'language', translations_for_select, {}, {:class => 'alchemy_selectbox long'} %></td>
  </tr>
  <tr>
    <td class="label mandatory"><%= f.label 'password' %></td>
    <td class="input mandatory"><%= f.password_field 'password', :class => 'thin_border long', :autocomplete => "off", :required => action_name == 'signup' %></td>
  </tr>
  <tr>
    <td class="label mandatory"><%= f.label 'password_confirmation' %></td>
    <td class="input"><%= f.password_field 'password_confirmation', :class => 'thin_border long', :autocomplete => "off", :required => action_name == 'signup' %></td>
  </tr>
  <% if @signup %>
  <%= f.hidden_field :roles %>
  <% elsif permitted_to? :update_roles %>
  <tr>
    <td class="label"><%= f.label 'roles' %></td>
    <td id="user_roles">
    <% Alchemy::User::ROLES.each do |role| %>
      <label>
        <%= check_box_tag 'user[roles][]', role, @user.has_role?(role) %>
        <%= Alchemy::User.human_rolename(role) %>
      </label>
    <% end %>
    </td>
  </tr>
  <% end %>
  <% unless @signup %>
  <tr>
    <td class="label"><%= f.label :tag_list %></td>
    <td class="input">
      <%= render 'alchemy/admin/partials/autocomplete_tag_list', :f => f, :object => @user %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td>&nbsp;</td>
    <td class="checkbox long">
      <%= check_box_tag('send_credentials', true, @user.new_record?) %>
      <%= label_tag('send_credentials', _t('Send email with credentials')) %>
    </td>
  </tr>
  <tr>
    <td class="submit" colspan="2">
      <%= f.button _t('save'), :class => 'button' %>
    </td>
  </tr>
</table>
