<%= toolbar(
	:buttons => [
		{
			:icon => 'user_add',
			:label => t('create_user', :scope => :alchemy),
			:url => alchemy.new_admin_user_path,
			:title => t('create_user', :scope => :alchemy),
			:overlay_options => {
				:title => t('create_user', :scope => :alchemy),
				:size => "384x400"
			},
			:if_permitted_to => [:new, :alchemy_admin_users]
		}
	]
) %>

<%- if @users.any? -%>
<table class="list" id="user_list">
	<tr>
		<th class="icon"></th>
		<th class="login_status"></th>
		<th class="login"><%= t('login', :scope => "activerecord.attributes.user") %></th>
		<th class="name"><%= t('firstname', :scope => "activerecord.attributes.user") %></th>
		<th><%= t('lastname', :scope => "activerecord.attributes.user") %></th>
		<th class="email"><%= t('email', :scope => "activerecord.attributes.user") %></th>
		<th><%= t('language', :scope => "activerecord.attributes.user") %></th>
		<th class="role"><%= t('role', :scope => "activerecord.attributes.user") %></th>
		<th class="tools"></th>
	</tr>
	<%= render @users %>
</table>
<%= render 'alchemy/admin/partials/pagination_links', :items => @users %>

<%- elsif params[:query] -%>

<div class="info">
	<%= render_icon('info') %>
	<%= t('No users found.', :scope => :alchemy) %>
</div>

<%- end -%>
