<%- content_for(:toolbar) do -%>
<div id="toolbar_buttons">
<%- permitted_to?(:new, :admin_users) do -%>
	<%= toolbar_button(
		:icon => 'user_add',
		:label => _('create_user'),
		:url => new_admin_user_path,
		:title => _('create_user'),
		:overlay => true,
		:overlay_options => {
			:title => _('create_user'),
			:size => "384x400",
			:overflow => true
		}
	) %>
<%- end -%>
</div>
<%= render :partial => 'admin/partials/search_form' %>
<%- end -%>

<table class="list" id="user_list">
	<%- if @users.any? -%>
	<tr>
		<th class="icon"></th>
		<th class="login_status"></th>
		<th class="login"><%= _('User|Login') %></th>
		<th class="name"><%= _('User|Name') %></th>
		<th class="email"><%= _('User|Email') %></th>
		<th class="role"><%= _('User|Role') %></th>
		<th class="tools"></th>
	</tr>
	<%= render @users %>
	<%- end -%>
</table>
