<%- alchemy_combined_assets -%>
<%- content_for(:toolbar) do -%>
<div id="toolbar">
	<div id="toolbar_buttons">
		<div class="button_with_label">
			<%- permitted_to?(:new, :alchemy_admin_users) do -%>
			<%= link_to_overlay_window(
				content_tag('span', '', :class => 'icon user_add'),
				new_admin_user_path,
				{
					:title => _('create_user'),
					:size => "380x400",
					:overflow => true
				}, {
					:class => 'icon_button',
					:title => _('create_user')
				}
			) -%>
			<label><%= _('create_user') %></label>
			<%- end -%>
		</div>
	</div>
	<%= render :partial => 'alchemy/admin/partials/search_form' %>
</div>
<%- end -%>
<div id="archive_all">
	<table class="list" id="user_list">
		<%- if @users.any? -%>
		<tr>
			<th class="icon"></th>
			<th class="login_status"></th>
			<th class="login"><%= _('User|Login') %></th>
			<th class="name"><%= _('User|Name') %></th>
			<th class="email"><%= _('User|Email') %></th>
			<th class="role"><%= _('User|Role') %></th>
			<th class="tools"></th>
		</tr>
		<%= render @users %>
		<%- end -%>
	</table>
</div>
