<table>
	<tr>
		<td class="label"><%= f.label 'gender', User.human_attribute_name(:gender) %>: </td>
		<td><%= f.select 'gender', options_for_select(User.genders_for_select), {:prompt => _('Please choose')}, {:class => 'long'} -%></td>
	</tr>
	<tr>
		<td class="label"><%= f.label 'firstname', User.human_attribute_name(:firstname) %>: </td>
		<td><%= f.text_field 'firstname', :class => 'thin_border' -%></td>
	</tr>
	<tr>
		<td class="label"><%= f.label 'lastname', User.human_attribute_name(:lastname) %>:</td>
		<td><%= f.text_field 'lastname', :class => 'thin_border' -%></td>
	</tr>
	<tr>
		<td class="label"><%= f.label 'login', User.human_attribute_name(:login) %>: </td>
		<td><%= f.text_field 'login', :class => 'thin_border' -%></td>
	</tr>
	<tr>
		<td class="label"><%= f.label 'email', User.human_attribute_name(:email) %>: </td>
		<td><%= f.text_field 'email', :class => 'thin_border' -%></td>
	</tr>
	<tr>
		<td class="label"><%= f.label 'language', User.human_attribute_name(:language) %>: </td>
		<td><%= f.select 'language', translations_for_select, {}, :class => 'long' -%></td>
	</tr>
	<tr>
		<td class="label"><%= f.label 'password', User.human_attribute_name(:password) %>: </td>
		<td><%= f.password_field 'password', :class => 'thin_border', :autocomplete => "off" -%></td>
	</tr>
	<tr>
		<td class="label"><%= f.label 'password_confirmation', User.human_attribute_name(:password_confirmation) %>: </td>
		<td><%= f.password_field 'password_confirmation', :class => 'thin_border', :autocomplete => "off" -%></td>
	</tr>
	<tr>
		<td class="label"><%= f.label 'role', User.human_attribute_name(:role) %>: </td>
		<td><%= f.select :role, options_for_select(User::ROLES.map { |role| [User.human_rolename(role), role]}, @user.role), {}, :class => 'long' -%></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<%= check_box_tag('send_credentials', true, @user.new_record?) %>
			<%= label_tag('send_credentials', _('Send email with credentials')) %>
		</td>
	</tr>
	<tr>
		<td class="submit" colspan="2">
			<%= f.button _('save'), :class => 'button' %>
		</td>
	</tr>
</table>
