<tr class="<%= cycle('odd', 'even') %>">
	<td class="icon"><%= content_tag 'span', '', :class => "icon user#{user.gender == 'female' ? ' female' : ' male'}" -%></td>
	<td>
		<%= render_icon(user.logged_in? ? 'online' : 'offline') %>
	</td>
	<td class="login"><%= user.login %></td>
	<td class="name"><%= user.fullname -%></td>
	<td class="email"><%= user.email %></td>
	<td class="role"><%= I18n.t("user_roles.#{user.role}") %></td>
	<td class="tools">
		<%- permitted_to?(:destroy, :admin_users) do -%>
		<%= link_to_confirmation_window(
			'',
			_("confirm_to_delete_user"),
			admin_user_path(user),
			:title => _('delete_user'),
			:class => "icon user_delete#{user.gender == 'female' ? ' female' : ' male'}"
		) -%>
		<%- end -%>
		<%- permitted_to?(:edit, :admin_users) do -%>
		<%= link_to_overlay_window(
			'',
			edit_admin_user_path(user),
			{
				:title => _('edit_user'),
				:size => '380x330',
				:overflow => true
			},
			{
				:class => "icon user_edit#{user.gender == 'female' ? ' female' : ' male'}",
				:title => _('edit_user')
			}
		) -%>
		<%- end -%>
	</td>
</tr>
