<!DOCTYPE>
<html>
  <head>
    <%= render_meta_data(:title_prefix => "My Alchemy Page", :title_seperator => "|") %>
    <%= stylesheet_link_tag "styles", :media => :screen %>
    <%= stylesheet_link_tag "print", :media => :print %>
	</head>
	<body>
		<div id="page">
			<div id="language_select">
				<%= language_switches(:linkname => :code) %>
			</div>
			<div id="breadcrump">
        <%= render_breadcrumb :seperator => "<span>&nbsp;<&nbsp;</span>" %>
			</div>
      <div id="header">
        <div id="header_image">
          <%= render_elements(:only => 'header', :fallback => {:for => 'header', :from => 'layout_header'}) %>
        </div>
        <%- claim = render_elements :only => ["claim"] -%>
        <%- if !claim.blank? -%>
        <div id="claim">
          <%= claim %>
        </div>
        <%- end -%>
        <div id="navigation">
          <%= render_navigation :all_sub_menues => true %>
        </div>
			</div>
			<div id="content">
				<%= yield %>
			</div>
			<div class="footer">
				<%= render_elements(
          :from_page => 'layout_footer',
          :only => ['footnote']
				) %>
			</div>
		</div>
		<%= alchemy_preview_mode_code %>
	</body>
</html>
