<%= form_for resource_instance_variable, :url => resource_path(resource_instance_variable), :remote => true do |f| %>
  <div id="errors">
    <ul>
    <% resource_instance_variable.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  </div>
  <table>
  <% resource_handler.attributes.each do |attribute| %>
    <tr>
    <% if relation = attribute[:relation] %>
      <td class="label"><%= f.label attribute[:name] %></td>
      <td class="select">
        <%= f.select(
          attribute[:name],
          relation[:model_association].klass.all.collect { |r| [r.send(relation[:attr_method]), r.id] },
          { :prompt => _t("Please choose") }, { :class => "alchemy_selectbox" }
        ) %>
      </td>
    <% else %>
      <% begin %>
      <%= render attribute[:type].to_s, attribute: attribute, f: f %>
      <% rescue ActionView::MissingTemplate %>
      <%= render 'string', attribute: attribute, f: f %>
      <% end %>
    <% end %>
    </tr>
  <% end %>
    <tr>
      <td class="submit" colspan="2">
        <%= f.button _t('save'), :class => 'button' %>
      </td>
    </tr>
  </table>
<% end %>
