<tr class="<%= cycle('even', 'odd') %>">
<% resource_handler.attributes.each do |attribute| %>
  <td class="<%= attribute[:type] %> <%= attribute[:name] %>">
  <% if attribute[:type] == :boolean %>
    <%= render_icon render_attribute(resource, attribute) %>
  <% else %>
    <%= render_attribute(resource, attribute) %>
  <% end %>
  </td>
<% end %>
  <td class="tools">
    <% if can?(:destroy, resource) %>
    <%= link_to_confirmation_window(
      '',
      _t("Are you sure?"),
      resource_path(resource),
      :title => _t("Delete"),
      :class => "icon destroy",
      :id => "delete_#{resource_handler.resource_name}_#{resource.id}"
    ) %>
    <% end %>
    <% if can?(:edit, resource) %>
    <%= link_to_overlay_window(
      '',
      edit_resource_path(resource),
      {
        :title => _t("Edit"),
        :size => resource_window_size
      },
      {
        :class => "icon edit",
        :title => _t("Edit")
      }
    ) %>
    <% end %>
  </td>
</tr>
