<% if resources_instance_variable.any? %>
<table class="list" id="<%= resource_handler.resources_name %>_list">
  <thead>
    <tr>
    <% resource_handler.attributes.each do |attribute| %>
      <th class="<%= attribute[:type] %> <%= attribute[:name] %>">
        <%= sort_link [:resource_url_proxy, @query],
          sortable_resource_header_column(attribute),
          resource_handler.model.human_attribute_name(attribute[:name]),
          hide_indicator: true %>
      </th>
    <% end %>
      <th class="tools"></th>
    </tr>
  </thead>
  <tbody>
    <%= render_resources %>
  </tbody>
</table>
<% elsif search_filter_params[:q].present? %>
<p><%= Alchemy.t('Nothing found') %></p>
<% end %>

<%= paginate resources_instance_variable, scope: resource_url_proxy, theme: 'alchemy' %>
