<%- resources ||= resources_instance_variable -%>
<%- resource_partial ||= 'resource' -%>

<%- if resources.any? -%>
<table class="list" id="<%= resources_name %>_list">
	<tr>
		<%- resource_attributes.each do |attribute| -%>
		<%- if attribute[:type] == :boolean -%>
		<th class="center">
		<%- elsif attribute[:type] == :integer || attribute[:type] == :float || attribute[:type] == :decimal -%>
		<th class="right">
		<%- else -%>
		<th>
		<%- end -%>
			<%= _("#{resource_model_name.classify}|#{attribute[:name].humanize}") %>
		</th>
		<%- end -%>
		<th class="tools"></th>
	</tr>
	<%= render :partial => resource_partial, :collection => resources %>
</table>
<%- elsif params[:query] -%>
<p><%= _('Nothing found.') %></p>
<%- end -%>

<%= render 'alchemy/admin/partials/pagination_links', :items => resources %>
