<%- cache(article) do -%>
  <%= element_view_for(article) do |el| -%>
    <% if article.has_ingredient?(:intro) %>
      <div class="intro"><%= el.render :intro %></div>
    <% end %>
    <h1 class="headline"><%= el.render :headline %></h1>
    <%= el.render :image %>
    <%= el.render :text %>
  <%- end -%>
<%- end -%>
