<%- cache(article_view) do -%>
  <%= element_view_for(article_view) do |el| -%>
    <% if article_view.has_ingredient?(:intro) %>
      <div class="intro"><%= el.render :intro %></div>
    <% end %>
    <h1 class="headline"><%= el.render :headline %></h1>
    <%= el.render :image, size: "450x1000", crop: true %>
    <%= el.render :text %>
  <%- end -%>
<%- end -%>
