<%- cache(contactform_view) do -%>
  <%= element_view_for(contactform_view) do |el| -%>
    <div class="mail_from">
      <%= el.render :mail_from %>
    </div>
    <div class="mail_to">
      <%= el.render :mail_to %>
    </div>
    <div class="subject">
      <%= el.render :subject %>
    </div>
    <div class="success_page">
      <%= el.render :success_page %>
    </div>
  <%- end -%>
<%- end -%>
