<% linkable = content.settings_value(:linkable, options) != false %>

<% if content.essence && content.essence.allow_image_cropping?(options) %>
  <%= link_to_dialog render_icon(:crop),
    alchemy.crop_admin_essence_picture_path(
      content.essence,
      options: content.settings.update(options)
    ), {
      size: "1080x615",
      title: Alchemy.t('Edit Picturemask'),
      image_loader: false,
      padding: false
    }, {title: Alchemy.t('Edit Picturemask')} %>
<%- else -%>
  <a href="#" class="disabled" tabindex="-1"><%= render_icon(:crop) %></a>
<%- end -%>

<%= link_to_dialog render_icon('file-image', style: 'regular'),
  alchemy.admin_pictures_path(
    element_id: content.element,
    content_id: content.id,
    swap: true,
    options: options
  ),
  {
    title: (content.ingredient ? Alchemy.t(:swap_image) : Alchemy.t(:insert_image)),
    size: '790x590',
    padding: false
  },
  title: (content.ingredient ? Alchemy.t(:swap_image) : Alchemy.t(:insert_image)) %>

<%= link_to_if linkable, render_icon(:link), '', {
  onclick: 'new Alchemy.LinkDialog(this).open(); return false;',
  class: content.linked? ? 'linked' : nil,
  title: Alchemy.t(:link_image),
  'data-content-id' => content.id,
  id: "edit_link_#{content.id}"
} do %>
  <span class="disabled" tabindex="-1"><%= render_icon(:link) %></span>
<% end %>

<%= link_to_if linkable, render_icon(:unlink), '', {
  onclick: "return Alchemy.LinkDialog.removeLink(this, #{content.id})",
  class: content.linked? ? 'linked' : 'disabled',
  tabindex: content.linked? ? nil : '-1',
  title: Alchemy.t(:unlink)
} do %>
  <span class="disabled" tabindex="-1"><%= render_icon(:unlink) %></span>
<% end %>

<%= link_to_dialog render_icon(:edit),
  alchemy.edit_admin_essence_picture_path(
    id: content.essence.id,
    content_id: content.id,
    options: options
  ), {
    title: Alchemy.t(:edit_image_properties),
    size: edit_picture_dialog_size(content, options)
  }, title: Alchemy.t(:edit_image_properties) %>
