<% linkable = content.settings_value(:linkable, options) != false %>

<% if content.essence && content.essence.allow_image_cropping?(options) %>
  <%= link_to_dialog render_icon('crop small'),
    alchemy.crop_admin_essence_picture_path(
      content.essence,
      options: content.settings.update(options).to_json
    ), {
      size: "1000x615",
      title: Alchemy.t('Edit Picturemask'),
      image_loader: false,
      padding: false
    }, {title: Alchemy.t('Edit Picturemask')} %>
<%- else -%>
  <a href="#" class="disabled"><%= render_icon('crop small') %></a>
<%- end -%>

<%= link_to_dialog render_icon('pictures small'),
  alchemy.admin_pictures_path(
    element_id: content.element,
    content_id: content.id,
    swap: true,
    options: options.to_json
  ),
  {
    title: (content.ingredient ? Alchemy.t(:swap_image) : Alchemy.t(:insert_image)),
    size: '780x580',
    padding: false
  },
  title: (content.ingredient ? Alchemy.t(:swap_image) : Alchemy.t(:insert_image)) %>

<%= link_to_if linkable, render_icon('link small'), '', {
  onclick: 'new Alchemy.LinkDialog(this).open(); return false;',
  class: content.linked? ? 'linked' : nil,
  title: Alchemy.t(:link_image),
  'data-content-id' => content.id,
  id: "edit_link_#{content.id}"
} %>

<%= link_to_if linkable, render_icon('unlink small'), '', {
  onclick: "return Alchemy.LinkDialog.removeLink(this, #{content.id})",
  class: content.linked? ? 'linked' : 'disabled',
  title: Alchemy.t(:unlink)
} %>

<%= link_to_dialog render_icon('edit small'),
  alchemy.edit_admin_essence_picture_path(
    id: content.essence.id,
    content_id: content.id,
    options: options.to_json
  ), {
    title: Alchemy.t(:edit_image_properties),
    size: edit_picture_dialog_size(content, options)
  }, title: Alchemy.t(:edit_image_properties) %>
