<% content = essence_picture_editor.essence.content %>
<% linkable = content.settings[:linkable] != false %>
<% croppable = content.essence && content.essence.allow_image_cropping? %>

<%= link_to_dialog render_icon(:crop),
  alchemy.crop_admin_essence_picture_path(content.essence, {
    crop_from_form_field_id: essence_picture_editor.form_field_id(:crop_from),
    crop_size_form_field_id: essence_picture_editor.form_field_id(:crop_size),
    picture_id: content.essence.picture_id
  }), {
    size: "1080x615",
    title: Alchemy.t('Edit Picturemask'),
    image_loader: false,
    padding: false
  }, {
    title: Alchemy.t('Edit Picturemask'),
    class: croppable ? "crop_link" : "disabled crop_link",
    tabindex: croppable ? nil : "-1",
    onclick: "return false"
  } %>

<%= link_to_dialog render_icon('file-image', style: 'regular'),
  alchemy.admin_pictures_path(
    form_field_id: essence_picture_editor.form_field_id(:picture_id)
  ),
  {
    title: (content.ingredient ? Alchemy.t(:swap_image) : Alchemy.t(:insert_image)),
    size: '790x590',
    padding: false
  },
  title: (content.ingredient ? Alchemy.t(:swap_image) : Alchemy.t(:insert_image)) %>

<%= link_to_if linkable, render_icon(:link), '', {
  onclick: 'new Alchemy.LinkDialog(this).open(); return false;',
  class: content.linked? ? 'linked' : nil,
  title: Alchemy.t(:link_image),
  "data-parent-selector": "##{content.dom_id}",
  id: "edit_link_#{content.id}"
} do %>
  <span class="disabled" tabindex="-1"><%= render_icon(:link) %></span>
<% end %>

<%= link_to_if linkable, render_icon(:unlink), '', {
  onclick: "return Alchemy.LinkDialog.removeLink(this, '##{content.dom_id}')",
  class: content.linked? ? 'linked' : 'disabled',
  tabindex: content.linked? ? nil : '-1',
  title: Alchemy.t(:unlink)
} do %>
  <span class="disabled" tabindex="-1"><%= render_icon(:unlink) %></span>
<% end %>

<%= link_to_dialog render_icon(:edit),
  alchemy.edit_admin_essence_picture_path(
    id: content.essence.id,
    content_id: content.id
  ), {
    title: Alchemy.t(:edit_image_properties),
    size: edit_picture_dialog_size(content)
  }, title: Alchemy.t(:edit_image_properties) %>
