<div id="login_box">
	<div id="alchemy_greeting">
		<%= image_tag("alchemy/alchemy-logo.png", :style => "width: 240px; height: 70px") %>
		<h1><%= flash[:info] %></h1>
	</div>
	<div class="login_signup_box">
		<%= form_for @user_session, :url => {:action => 'login'}, :html => { :id => "login" } do |f| %>
			<%= f.error_messages %>
			<table>
				<tr>
					<td class="label">
						<%= f.label :login %>
					</td>
					<td class="input">
						<%= f.text_field :login, :class => 'thin_border' %>
					</td>
				</tr>
				<tr>
					<td class="label">
						<%= f.label :password %>
					</td>
					<td class="input">
						<%= f.password_field :password, :class => 'thin_border' %>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="submit">
						<%= hidden_field_tag 'user_screensize' %>
						<%= f.button t('login'), :class => 'button', :name => nil %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
</div>

<%- content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
	jQuery(function($) {
		$('#alchemy_user_session_login').focus();
		$('#user_screensize').val(function() {
			return screen.width+'x'+screen.height;
		});
		Alchemy.ButtonObserver('#login .button');
	});
</script>
<%- end -%>
