<div id="login_box">
  <div id="alchemy_greeting">
    <%= image_tag("alchemy/alchemy-logo.png", style: "width: 240px; height: 70px") %>
  </div>
  <div class="login_signup_box">
    <%= alchemy_form_for :user, url: {action: 'create'}, id: 'login' do |f| %>
      <%= f.input :login, autofocus: true %>
      <%= f.input :password %>
      <p class="foot_note">
        <%= link_to _t('Forgot your password?'), new_password_path %>
      </p>
      <div class="submit">
        <%= hidden_field_tag 'user_screensize' %>
        <button><%= _t(:login) %></button>
      </div>
    <% end %>
  </div>
</div>

<%- content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
  jQuery(function($) {
    $('#user_login').focus();
    $('#user_screensize').val(function() {
      return screen.width+'x'+screen.height;
    });
  });
</script>
<%- end -%>
