<div id="login_box">
  <div id="alchemy_greeting">
    <%= image_tag("alchemy/alchemy-logo.png", :style => "width: 240px; height: 70px") %>
  </div>
  <div class="login_signup_box">
    <%= form_for :user, :url => {:action => :create}, :html => { :id => "login" } do |f| %>
      <%= f.error_messages %>
      <table>
        <tr>
          <td class="label">
            <%= f.label :login %>
          </td>
          <td class="input">
            <%= f.text_field :login, :class => 'thin_border', :autofocus => true %>
          </td>
        </tr>
        <tr>
          <td class="label">
            <%= f.label :password %>
          </td>
          <td class="input">
            <%= f.password_field :password, :class => 'thin_border' %>
            <p class="foot_note">
              <%= link_to _t('Forgot your password?'), new_password_path %>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="submit">
            <%= hidden_field_tag 'user_screensize' %>
            <%= f.button _t(:login), :class => 'button', :name => nil %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>

<%- content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
  jQuery(function($) {
    $('#user_login').focus();
    $('#user_screensize').val(function() {
      return screen.width+'x'+screen.height;
    });
  });
</script>
<%- end -%>
