<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title><%= render_alchemy_title %></title>
		<%= csrf_meta_tag %>
		<%= yield :stylesheets %>
		<%= yield :javascript_includes %>
		<script type="text/javascript" charset="utf-8">
			if (typeof(jQuery) === 'function') {
				jQuery.noConflict();
			}
		</script>
	</head>
    
	<body id="alchemy">
		<div id="main_menu">
			<div id="main_navi">
				<%= yield(:navigation) %>
				<%= admin_main_navigation %>
			</div>
			<div id="main_menu_background"></div>
			<div id="logout">
				<%= link_to(root_path) do %>
				<span class="module icon exit"></span><br />
					<%= _('leave') %>
				<% end %>
			</div>
		</div>
		<div id="main_content">
			<%= yield %>
		</div>
		<%= yield(:javascripts) %>
	</body>
</html>
