<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<%= render_meta_data(:title_prefix => 'Homepage') %>
		<%= stylesheet_link_tag 'styles' %>
	</head>
	<body>
		<div id="page">
			<div id="header">
				<div id="logo">
					<%= link_to "Home", root_url %>
				</div>
			</div>
			<div id="navigation">
				<%= render_navigation(:submenu => true) %>
			</div>
			<%= yield %>
		</div>
		<%= alchemy_preview_mode_code %>
	</body>
</html>
